$NavbarStacked-bgColor: $bgLightest;
$NavbarStacked-textColor: $text;
$NavbarStacked-linkColor: $text;
$NavbarStacked-linkColorHover: $link;
$NavbarStacked-activeColor: $linkHover;
$NavbarStacked-triggerColor: $text;
$NavbarStacked-colorBorder: $border;
$NavbarStacked-subBgColor: $bgLighter;
$NavbarStacked-breakpoints: (
  l: map-get($mq-breakpoints, l)
);
