/* =======================================
 * Navbar - Stacked
 * =======================================
 *
 * @extends `.Navbar{}` in _Navbar.scss
 */

.Navbar--stacked {
  background-color: $colorBgLightest;
  border: 1px solid $colorBorder;
  display: flex;
  margin-bottom: rem($baseSpace);
  flex-wrap: wrap;

  &.is-open > ul {
    display: block;
  }

  > ul {
    display: none;
    width: 100%;
  }

  .Navbar-logo {
    @include fontSize($baseFontSize-s, $baseLineHeight-s);
    align-items: center;
    color: $colorText;
    font-weight: $baseFontWeightStrong;
    display: flex;
    min-height: $uiSpace * 2;
    padding: 0 $uiSpace;
  }

  .Navbar-ctrl {
    display: flex;
    margin-left: auto;
  }

    .Navbar-ctrl-trigger {
      align-items: center;
      color: $colorText;
      cursor: pointer;
      display: flex;
      justify-content: center;
      min-width: $uiSpace * 2;
      padding: 0 ($uiSpace / 2);
    }

      .Navbar-ctrl-trigger-icon {
        @include shapeMenu($colorPrimary);
        pointer-events: none;
      }

  .Navbar-item {
    border-top: 1px solid $colorBorder;
    display: flex;
    flex-wrap: wrap;

    &.is-active {
      > .Navbar-link {
        color: $colorLink;
      }
    }

    &.is-open {
      > .Navbar-trigger > .Navbar-trigger-icon {
        transform: rotate(0deg);
      }

      > .Navbar-sub {
        display: block;
      }
    }
  }

  .Navbar-link {
    align-items: center;
    color: $colorText;
    cursor: pointer;
    display: flex;
    flex: 1;
    padding: ($uiSpace / 2) $uiSpace;

    &:hover {
      color: $colorLink;
    }
  }

  .Navbar-trigger {
    align-items: center;
    border-left: 1px solid $colorBorder;
    color: $colorText;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: $uiSpace * 2;
    padding: 0 ($uiSpace / 2);
  }

    .Navbar-trigger-icon {
      @include shapeArrow('down');
      pointer-events: none;
    }

  .Navbar-sub {
    display: none;
    background-color: $colorBgLighter; //darken($colorLight, 6);
    width: 100%;

    .Navbar-link  {
      background-color: transparent;

      &:hover {
        color: $colorLink;
      }
    }

    ul {
      .Navbar-trigger {
        background-color: transparent;
      }
    }
  }


  /* ======
   * Media Query Breakpoints
   * ====== */

  @mixin NavbarStacked-expand() {
    > ul {
      display: block;
    }

    .Navbar-ctrl {
      display: none;
    }

    .Navbar-item {
      &.is-active {
        .Navbar-sub {
          display: block;
        }
      }
    }

    .Navbar-sub {
      @include fontSize($baseFontSize-s, $baseLineHeight-s);
    }
  }

  @each $name, $px in $NavbarStacked-breakpoints {
    @media (min-width: mq-px2em($px)) {
      @if length(map-values($NavbarStacked-breakpoints)) > 1 {
        &.-#{$name}-expand {
          @include NavbarStacked-expand()
        }
      } @else {
        @include NavbarStacked-expand()
      }
    }
  }
}
