/* ========================================
 * Extendable states
 * ======================================== */

/**
 * Hidden
 */
%is-hidden { display: none; }

/**
 * Visible
 */
%is-visible { display: block; }

/**
 * Invisible
 */
%is-invisible { visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
%is-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Disabled
 */
%is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}