/* =======================================
 * Pagination
 * ======================================= */

.Pagination {
  @include resetList();
  display: flex;
  margin-bottom: rem($space)
}

.Pagination-link {
  background-color: $bgLightest;
  border: 1px solid $border;
  color: $link;
  display: block;
  margin-left: -1px;
  padding: rem($space / 3) rem($space / 2);

  &:hover {
    background-color: $bgLighter;
  }

  &.is-active {
    background-color: $primary;
    color: $white;
  }
}
