/* ========================================
 * Base
 * ======================================== */

/**
 * For IE 10 desktop to work in it's 'snap mode' you need to use this
 */
@-ms-viewport {
  width: device-width;
}

html {
  background-color: $colorHtmlBg;
  color: $colorText;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  min-width: 300px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  tap-highlight-color: transparent;
}

/**
 * Apply a natural box layout model to all elements
 */
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

/**
 * Shared spacing
 */
hgroup, blockquote, address,
table, fieldset, figure, pre,
ul, ol, dl {
  margin: 0 0 rem($baseSpace);
}

/**
 * Lists
 */
ul, ol, dl {
  padding: 0 0 0 rem($baseSpace);
}

nav ul {
  @extend %resetList;
}

/**
 * Links
 */
a {
  color: $colorLink;
  text-decoration: none;

  &:active {
    color: $colorLink;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $colorLinkHover;
  }
}

/**
 * Selection
 */
::-moz-selection {
  background: $colorPrimary;
  color: $colorLight;
}

::selection {
  background: $colorPrimary;
  color: $colorLight;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

::selection:window-inactive {
  background: lighten($colorDark, 50%);
}

/**
 * Media
 */
img,
embed,
object {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
}
