/* ========================================
 * Global uncategorized placeholders
 * ======================================== */

//
// Clearfix
//
%clearfix {
  @include clearfix();
}

//
// List reset
//
%resetList {
  list-style: none;
  margin: 0;
  padding: 0;
}

//
// Disabled
//
%disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

//
// Truncate text
//
%textTruncate {
  @include textTruncate();
}

//
// Completely remove from the flow but leave available to screen readers.
//
%hideVisually {
  @include display('hideVisually');
}

//
// Round
//
%round {
  border-radius: $borderRadius;
}

//
// Pill
//
%pill {
  border-radius: 60px;
}

//
// Position placeholders
//
%positionAbsoluteFill {
  @include positionAbsoluteFill();
}

//
// Centering absolutely
//
%centerAbsolute {
  @include center('absolute');
}


//
// Centering with margin (requires width)
//
%centerMargin {
  @include center('margin');
}
