/* ========================================
 * Grid
 * ========================================
 *
 * @reusable true
 */

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  margin-left: rem(-($Grid-gutter));
  margin-right: rem(-($Grid-gutter));
}

  .Grid-cell {
    max-width: 100%;
    padding-left: rem($Grid-gutter);
    padding-right: rem($Grid-gutter);
    width: 100%;
  }


/* ======
 * Grid - Sizing and layout
 * ====== */

@mixin GridSize($amount: 0) {
  margin-left: rem(-($Grid-gutter * $amount));
  margin-right: rem(-($Grid-gutter * $amount));

  > .Grid-cell {
    padding-left: rem($Grid-gutter * $amount);
    padding-right: rem($Grid-gutter * $amount);
  }
}

.Grid {
  &.-auto {
    > .Grid-cell:not([class*="Width"]) {
      flex: 1 0 0;
      width: auto;
    }
  }

  &.-equalContent {
    > .Grid-cell {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &.-full {
    @include GridSize();
  }

  &.-xl {
    @include GridSize(4);
  }

  &.-l {
    @include GridSize(2);
  }
}


/* ======
 * Grid - Justify
 * ====== */

@mixin GridJustify($namespace: '') {
  .Grid.#{$namespace}-justifyAround  { justify-content: space-around; }
  .Grid.#{$namespace}-justifyBetween { justify-content: space-between; }
  .Grid.#{$namespace}-justifyCenter  { justify-content: center; }
  .Grid.#{$namespace}-justifyEnd     { justify-content: flex-end; }
}

@if $Grid-justify {
  @include GridJustify();
}

@if $Grid-justify-s {
  @include mq(s) {
    @include GridJustify(-s);
  }
}

@if $Grid-justify-m {
  @include mq(m) {
    @include GridJustify(-m);
  }
}

@if $Grid-justify-l {
  @include mq(l) {
    @include GridJustify(-l);
  }
}


/* ======
 * Grid - Aligning of cells
 * ====== */

@mixin GridAlign($namespace: '') {
  .Grid.#{$namespace}-alignBottom { align-items: flex-end; }
  .Grid.#{$namespace}-alignCenter { align-items: center; }
  .Grid.#{$namespace}-alignTop    { align-items: flex-start; }
}

@if $Grid-align {
  @include GridAlign();
}

@if $Grid-align-s  {
  @include mq(s) {
    @include GridAlign(-s);
  }
}

@if $Grid-align-m  {
  @include mq(m) {
    @include GridAlign(-m);
  }
}

@if $Grid-align-s  {
  @include mq(l) {
    @include GridAlign(-l);
  }
}
