<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Labels</h1>

    <div class="Label Label--default -border -round">
      Lorem
    </div>

    <div class="Label Label--primary -border -round">
      Lorem
    </div>

    <div class="Label Label--info -border -round">
      Lorem
    </div>

    <div class="Label Label--success -border -round">
      Lorem
    </div>

    <div class="Label Label--warning -border -round">
      Lorem
    </div>

    <div class="Label Label--danger -border -round">
      Lorem
    </div>

  </div>
</div>
