/* ========================================
 * Docs
 * ======================================== */

// Import all default config and material
@import 'app';

// Import all components
@import 'components/Hero/Hero.import';
@import 'components/Block/Block.import';
@import 'components/Button/Button.import';
@import 'components/Button/ButtonCollection.import';
@import 'components/Form/Form.import';
@import 'components/Form/Form-collection.import';
@import 'components/Navbar/Navbar.import';

// Import all layout components
@import 'layout/Grid--equal';
@import 'layout/Grid--ruler';
@import 'layout/Pull';
@import 'layout/Push';

// Import all helpers
@import 'helpers/display';
@import 'helpers/displayResponsive';
@import 'helpers/layout';
@import 'helpers/margin';
@import 'helpers/s-margin';
@import 'helpers/m-margin';
@import 'helpers/l-margin';
@import 'helpers/padding';
@import 'helpers/s-padding';
@import 'helpers/m-padding';
@import 'helpers/l-padding';
@import 'helpers/position';
@import 'helpers/text';

$htmlBgColor: darken(#ffffff, 5);
$Wrap-width: 960px;

html.docs {
  @include baseline-grid-background(rem($base-space), darken($htmlBgColor, 3));
  background-color: $htmlBgColor;

  &.is-dark {}
}

html, body { height: 100%; }

.docs-Hero {
  &.-size-full {
    .Hero-item {
      height: calc(100vh - #{$base-space * 2}); /* Height of the navbar */
    }
  }
}

.docs-Navbar {
  position: relative;
  z-index: 1000;
}

.docs-Container {
  border-radius: 3px;

  @include breakpoint("mediumUp") {
    margin: rem($base-space);
  }
}
