/* ========================================
 * Docs
 * ======================================== */

// Import all default config and material
@import 'app';

// Import all components
@import 'components/Navbar/Navbar.import';
@import 'components/Hero/Hero.import';
@import 'components/Button/Button.import';
//@import 'components/List/List.import';
//@import 'components/List/Form.import';


// Import all alternative helpers
@import 'helpers/display';
@import 'helpers/displayResponsive';
@import 'helpers/layout';
@import 'helpers/position';
@import 'helpers/text';

$htmlBgColor: #ffffff;
$wrapWidth: 960px;

html.docs {
  @include baseline-grid-background(rem($base-space), darken($htmlBgColor, 7));
  background-color: $htmlBgColor;

  &.is-dark {}
}

html, body { height: 100%; }

// .docs {
//   &-wrap {
//     border: 1px solid darken($htmlBgColor, 10);
//     margin: 0 auto;
//     max-width: $wrapWidth;

//     &--center {
//       @include center('table');

//       .docs-wrap-inner {
//         @include center('table-descendant');

//         &-item {
//           @include center('table-descendant-item');
//         }
//       }
//     }
//   }
// }

.docs-Navbar {
  position: relative;
  z-index: 1000;
}

.docs-Container {
  border-radius: 3px;

  @include breakpoint("mediumUp") {
    margin: rem($base-space);
  }
}
