/* ========================================
 * Dropdown variation
 * ========================================
 *
 * @extends `.Navbar{}` in _Navbar.scss.
 */

.Navbar--dropdown {

  .Navbar-sub-section {
    position: relative;

    @include breakpoint('navTransform') {
      border-top: 1px solid;
      margin-left: -(rem($base-space * 1.25));
      margin-right: -(rem($base-space * 1.25));
      margin-bottom: rem($base-space);

      &:first-child {
        border-top: 0;
        margin-top: -(rem($base-space * 1.25));
      }
    }
  }

    .Navbar-sub-section-title {
      font-size: rem($base-fontSize-s);
      display: block;
      padding: rem($base-space / 2) rem($Navbar-padding * 2);

      @include breakpoint('navTransform') {
        border-radius: 0 0 3px 0;
        display: inline-block;
        padding: rem($base-space / 4) rem($Navbar-padding);
      }
    }

  /**
   * Collected material to single breakpoint
   */
  @include breakpoint('navTransform') {

    .Navbar-trigger { display: none; }

    .Navbar-self {
      display: block;
      padding-left: rem($Navbar-padding);
    }

      > ul > .Navbar-item {
        float: left;
        position: relative;

        > .Navbar-link {
          border-top: none;
          display: inline-block;
          padding-left: rem($Navbar-padding);
          padding-right: rem($Navbar-padding);
          width: auto;
        }

        > .Navbar-subTrigger {
          border: none;
          display: inline-block;
          padding-left: rem($Navbar-padding);
          padding-right: rem($Navbar-padding);
          margin-right: rem(-$Navbar-padding);
          width: auto;
        }
      }

        .no-touch & .Navbar-item.is-open > .Navbar-subTrigger
        > .Navbar-subTrigger-icon {
          @include shapeArrow('down', $color-text, $IconCss-s, false, 2px);
        }

      > ul > .Navbar-item {

        &:nth-last-child(-n+2) {

          > .Navbar-sub {
            margin-left: -300px;

            &:before {
              left: 50%;
              margin-left: 9px;
            }
          }
        }
      }

      > ul > .Navbar-item > .Navbar-sub {
        background-color: #ffffff;
        border-radius: $borderRadius;
        box-shadow: 0 0 0 1px rgba(#000000, .1);
        left: 0;
        list-style: none;
        margin: 0;
        padding: rem($base-space * 1.25);
        position: absolute;
        top: 100%;
        width: 600px;
        z-index: 999;

        &:before {
          @include shapeTriangle(8px, 8px, 'up',  #ffffff);
          filter: drop-shadow(0px -1px 0px darken($color-borderPrimary, 10));
          left: 10px;
          position: absolute;
          top: -7px;
        }

        > .Navbar-item {
          @include fontSize($base-fontSize-s, $base-lineHeight-s);
          display: inline-block;
          margin-bottom: $base-space;
          vertical-align: top;
          width: 48%;

          &:nth-child(odd) {
            padding-right: $base-space;
          }

          &:nth-child(even) {
            padding-left: $base-space;
          }

        }

        /**
         * Lol :--D
         */
        > .Navbar-sub-section {

          ~ .Navbar-item {

            &:nth-child(even) {
              padding-right: $base-space;
              padding-left: 0;
            }

            &:nth-child(odd) {
              padding-left: $base-space;
              padding-right: 0;
            }
          }

          ~ .Navbar-sub-section {

            ~ .Navbar-item {

              &:nth-child(odd) {
                padding-right: $base-space;
                padding-left: 0;
              }

              &:nth-child(even) {
                padding-left: $base-space;
                padding-right: 0;
              }
            }
          }
        }

        .Navbar-item {
          margin-bottom: $base-space;
        }

        .Navbar-link {
          border: 0;
          background-color: transparent;
          min-height: 0;
          padding: 0;
        }

        > .Navbar-item > .Navbar-link--title {
          margin-bottom: $base-space / 2;
        }

        ul {
          background-color: transparent;
        }

        .Navbar-sub {
          display: block;

          .Navbar-item {
            margin-bottom: $base-space / 4;
          }
        }

          .Navbar-subTrigger {
            display: none !important;
          }
      }



      /**
       * Sub navigation states
       */
      .no-touch & .Navbar-item:hover > .Navbar-sub,
      .no-touch & .Navbar-item:hover.is-open > .Navbar-sub {
        display: block;
      }

      .no-touch & .Navbar-item.is-open > .Navbar-sub {
        display: none;
      }
  }
}
