// ========================================
// Navbar - Config
// ========================================

$Navbar-space: $baseSpace;
$Navbar-horizontalKeepTitle: true;
$Navbar-horizontal: false;
$Navbar-horizontal-s: false;
$Navbar-horizontal-m: false;
$Navbar-horizontal-l: true;
