/* ========================================
 * Navbar - Default
 * ========================================
 *
 * @extends `.Navbar{}` in _Navbar.scss
 */

.Navbar--default {
  background-color: #ffffff;

  .Navbar-ctrl-inner {
    background-color: $colorPrimary;
    color: #ffffff;
  }

    .Navbar-ctrl-title {
      background-color: $colorPrimary;
      color: #ffffff;
    }

    .Navbar-ctrl-trigger {
      background-color: #ffffff;
      border-color: transparent;
      color: $colorPrimary;
    }

      .Navbar-ctrl-trigger-icon {
        border-top-color: $colorPrimary;

        &:before,
        &:after {
          background-color: $colorPrimary;
        }
      }

  .Navbar-item {
    &.is-active {
      > .Navbar-link {
        color: $colorPrimary;
      }
    }
  }

  .Navbar-link {
    background-color: #ffffff;
    border-top-color: darken(#ffffff, 8);
    color: $colorText;
    transition: color $transitionDuration;

    &:hover {
      color: $colorLink;
    }
  }

  .Navbar-trigger {
    background-color: #ffffff;
    border-left-color: darken(#ffffff, 8);
    border-top-color: darken(#ffffff, 8);
    color: $colorText;

    &:hover {
      .Navbar-trigger-icon {
        &:before {
          background: $colorLink;
        }

        &:after {
          color: $colorLink;
        }
      }
    }
  }

    .Navbar-trigger-icon {
      &:before {
        background: $colorText;
        transition: background-color $transitionDuration;
      }

      &:after {
        color: $colorTextLight;
        transition: color $transitionDuration;
      }
    }

  .Navbar-sub {
    .Navbar-link  {
      background-color: darken(#ffffff, 6);
      border-color: darken(#ffffff, 12);
      color: inherit;

      &:hover {
        color: $colorLink;
      }
    }

    .Navbar-trigger {
      background-color: darken(#ffffff, 6);
      border-color: darken(#ffffff, 12);
      color: inherit;
    }

      .Navbar-trigger-icon {
        &:before {
          background-color: $colorText;
        }

        &:after {
          color: $colorText;
        }
      }

    ul {
      background-color: darken(#ffffff, 13);

      .Navbar-link {
        background-color: transparent;
        border-color: darken(#ffffff, 18);
        color: inherit;

        &:hover {
          color: $colorLink;
        }
      }

      .Navbar-trigger {
        background-color: transparent;
        border-color: darken(#ffffff, 18);
        color: inherit;
      }
    }
  }


  /* ======
   * Navbar - Primary - Larger widths
   * ====== */

  &.-l-horizontal {
    @include mq(l) {
      .Navbar-sub {
        .Navbar-link {
          background-color: transparent;
          border-color: darken(#ffffff, 12);
          color: inherit;

          &:hover {
            color: $colorLink;
          }
        }
      }
    }
  }
}
