/* ========================================
 * Navigation bar
 * ======================================== */

.Navbar {
  @extend %clearfix;
  user-select: none;
}

  /**
   * Navbar content
   */
  .Navbar-self {
    display: none;

    .Navbar.is-open & {
      display: block;
    }
  }

    /**
     * Navbar items and links
     */
    .Navbar-item {
      @extend %clearfix;
    }

      .Navbar-link, %Navbar-link {
        border-top: 1px solid;
        cursor: pointer;
        display: block;
        float: left;
        min-height: rem($base-space);
        padding: $Navbar-padding ($Navbar-padding * 2);
        width: 87%;
        width: calc(100% - #{$Navbar-subTriggerWidth});

        &:only-child {
          width: 100%;
        }
      }

      .Navbar-subTrigger, %Navbar-subTrigger {
        border-top: 1px solid;
        border-left: 1px solid;
        cursor: pointer;
        display: block;
        float: left;
        min-height: rem($base-space);
        padding: $Navbar-padding 0;
        text-align: center;
        width: 13%;
        width: calc(#{$Navbar-subTriggerWidth});
      }

        .Navbar-subTrigger-icon {
          @include shapeArrow('down', $color-text, $IconCss-s);

          .Navbar-item.is-open > .Navbar-subTrigger > & {
            @include shapeArrow('up', $color-text, $IconCss-s);
          }
        }

    /**
     * Sub navbar items and links
     */
    .Navbar-sub {
      @extend %clearfix;
      display: none;
      clear: both;

      .Navbar-item.is-open > & {
        display: block;
      }

      ul {
        ul {
          .Navbar-link { padding-left: ($Navbar-padding * 2.5); }

          ul {
            .Navbar-link { padding-left: ($Navbar-padding * 3.5); }

            ul {
              .Navbar-link { padding-left: ($Navbar-padding * 4.5); }
            }
          }
        }
      }
    }

  /**
   * Navbar trigger (mobile)
   */
  .Navbar-trigger {
    @extend %clearfix;
  }

    .Navbar-trigger-inner {
      @extend %Navbar-link;
      border-top: 0;
      cursor: default;
      padding-right: $Navbar-padding;
    }

      .Navbar-trigger-title, .Navbar-trigger-text {
        @include textTruncate();
      }

      .Navbar-trigger-title {
        font-weight: $base-fontWeightStrong;
        float: left;
      }

      .Navbar-trigger-text {
        float: right;
      }

    .Navbar-trigger-sub {
      @extend %Navbar-subTrigger;
      border-top: 0;
    }

      .Navbar-trigger-sub-icon {
        @include shapeMenu();
        vertical-align: middle;
      }
