// ========================================
// Navbar
// ========================================

$Navbar-space: $baseSpace; // $baseLineHeightPx/$baseFontSize * 1rem
$Navbar-horizontalKeepTitle: true;
$Navbar-horizontal: false;
$Navbar-horizontal-s: false;
$Navbar-horizontal-m: false;
$Navbar-horizontal-l: true;
