/* ========================================
 * Floating navigation bar modifier
 * ========================================
 *
 * @extends `.Navbar {}` in _Navbar.scss
 */

.Navbar.-transform-horizontal {

  @include breakpoint("navTransform") {

    .Navbar-self { display: block; }
    .Navbar-trigger { display: none; }

    > ul > .Navbar-item {
      float: left;
      position: relative;

      > .Navbar-link {
        border-top: none;
        display: inline-block;
        padding-left: $Navbar-padding;
        padding-right: $Navbar-padding;
      }

      > .Navbar-subTrigger {
        border: none;
        padding-left: $Navbar-padding;
        padding-right: $Navbar-padding;
        margin-left: -$Navbar-padding;
        width: auto;
      }
    }

    .Navbar-link { width: auto; }

    .Navbar-sub {
      left: 0;
      position: absolute;
      top: 100%;

      /**
       * Fourth and deeper levels
       *
       * These are hidden by default because dropdown navigations
       * deeper than three levels aren't very elegant in desktop
       * widths. Prefer another solution such as separate
       * navigation for sub pages.
       */
      ul,
      .Navbar-subTrigger {
        display: none !important;
      }
    }


    /* ======
     * States
     * ====== */

    > ul > .Navbar-item {
      .no-touch &:hover .Navbar-sub,
      .no-touch &:hover.is-open .Navbar-sub,
      .touch &.is-open > .Navbar-sub  {
        display: block;
      }

      .no-touch &.is-open {

        > .Navbar-sub { display: none; }
        > .Navbar-subTrigger > .Navbar-subTrigger-icon {
          @include shapeArrow($direction: 'down', $scale: $IconCss-s);
        }
      }
    }
  }
}
