/* ========================================
 * Primary navigation bar coloring
 * ========================================
 *
 * @extends `.Navbar {}` in _Navbar.scss
 */

.Navbar.-color-primary {
  background-color: $Navbar-bgColor;

  .Navbar-link {
    background-color: $Navbar-linkBgColor;
    border-top-color: $Navbar-linkBorderColor;
    color: $Navbar-linkColor;
  }

  .Navbar-subTrigger {
    color: $Navbar-subTriggerColor;
    border-color: $Navbar-subTriggerBorderColor;
    background-color: $Navbar-subTriggerBgColor;
  }

    .Navbar-subTrigger-icon {
      &:before { background: $Navbar-subTriggerColor; }
      &:after { color: $Navbar-subTriggerColor; }
    }

  .Navbar-sub {
    .Navbar-link  {
      background-color: $Navbar-subLinkBgColor;
      border-color: $Navbar-subLinkBorderColor;
      color: $Navbar-subLinkColor;
    }

    .Navbar-subTrigger {
      color: $Navbar-subSubTriggerColor;
      background-color: $Navbar-subSubTriggerBgColor;
      border-color: $Navbar-subSubTriggerBorderColor;
    }

      .Navbar-subTrigger-icon {
        &:before { background-color: $Navbar-linkColor; }
        &:after  { color: $Navbar-linkColor; }
      }

    /**
     * Third and deeper levels
     */
    ul {
      background-color: $Navbar-deeperLevelBgColor;

      .Navbar-link {
        color: $Navbar-deeperLevelLinkColor;
        background-color: $Navbar-deeperLevelLinkBgColor;
        border-color: $Navbar-deeperLevelLinkBorderColor;
      }

      .Navbar-subTrigger {
        color: $Navbar-deeperLevelSubTriggerColor;
        background-color: $Navbar-deeperLevelSubTriggerBgColor;
        border-color: $Navbar-deeperLevelSubTriggerBorderColor;
      }
    }
  }

  .Navbar-trigger-inner {
    background-color: $Navbar-triggerBgColor;
    color: $Navbar-triggerColor;
  }

    .Navbar-trigger-sub {
      background-color: $Navbar-triggerSubBgColor;
      border-color: $Navbar-triggerSubBorderColor;
    }

      .Navbar-trigger-sub-icon {
        border-top-color: $Navbar-triggerColor;

        &:before, &:after { background-color: $Navbar-triggerColor; }
      }
}
