/* ========================================
 * Navigation bar
 * ======================================== */

.Navbar {
  @extend %clearfix;
  user-select: none;
}

  .Navbar-self {
    display: none;

    .Navbar.is-open & {
      display: block;
    }
  }

    .Navbar-item {
      @extend %clearfix;
    }

      .Navbar-link {
        border-top: 1px solid;
        border-right: 1px solid;
        cursor: pointer;
        display: block;
        float: left;
        min-height: $base-space * 2;
        padding: $Navbar-padding ($Navbar-padding * 2);
        width: 87%;
        width: calc(100% - #{$Navbar-subTriggerWidth});

        &:only-child {
          border-right: 0;
          width: 100%;
        }
      }

      .Navbar-subTrigger, %Navbar-subTrigger {
        border-top: 1px solid;
        cursor: pointer;
        display: block;
        float: left;
        padding: $Navbar-padding 0;
        text-align: center;
        width: 13%;
        width: calc(#{$Navbar-subTriggerWidth});
      }

        .Navbar-subTrigger-icon {
          @include shapeArrow('down', $color-text);

          .Navbar-item.is-open > .Navbar-subTrigger > & {
            transform: rotate(0);
          }
        }

    .Navbar-sub {
      @extend %clearfix;
      display: none;
      clear: both;

      .Navbar-item.is-open > & {
        display: block;
      }

      ul {
        ul {
          .Navbar-link { padding-left: ($Navbar-padding * 2.5); }

          ul {
            .Navbar-link { padding-left: ($Navbar-padding * 3.5); }

            ul {
              .Navbar-link { padding-left: ($Navbar-padding * 4.5); }
            }
          }
        }
      }
    }

  .Navbar-trigger {
    @extend %clearfix;
  }

    .Navbar-trigger-inner {
      @extend %clearfix;
      float: left;
      width: 87%;
      width: calc(100% - #{$Navbar-subTriggerWidth});
    }

      .Navbar-trigger-title, .Navbar-trigger-text {
        display: block;
        float: left;
        min-height: $base-space * 2;
        padding: $Navbar-padding ($Navbar-padding * 2);
      }

      .Navbar-trigger-title {
        @include textTruncate();
        font-weight: $base-fontWeightStrong;
        float: left;
      }

      .Navbar-trigger-text {
        float: right;
      }

    .Navbar-trigger-sub {
      @extend %Navbar-subTrigger;
      border-top: 0;
    }

      .Navbar-trigger-sub-icon {
        @include shapeMenu();
        vertical-align: middle;
      }


/* ======
 * Navbar - Hide trigger but keep content in larger widths
 * ====== */

.Navbar.-transform-hideTrigger {

  @include breakpoint('navTransform') {

    .Navbar-self {
      display: block;
    }

    .Navbar-trigger {
      display: none;
    }
  }
}

