/* ========================================
 * Floating navigation bar modifier
 * ========================================
 *
 * @extends `.Navbar {}` in _Navbar.scss
 */

.Navbar.-transform-horizontal {

  @include breakpoint('navTransform') {

    .Navbar-trigger { display: none; }

    .Navbar-self {
      display: block;
      padding-left: $Navbar-padding;
    }

      > ul > .Navbar-item {
        float: left;
        position: relative;

        > .Navbar-link {
          border-top: none;
          display: inline-block;
          padding-left: $Navbar-padding;
          padding-right: $Navbar-padding;
        }

        > .Navbar-subTrigger {
          border: none;
          padding-left: $Navbar-padding;
          padding-right: $Navbar-padding;
          margin-left: -$Navbar-padding;
          width: auto;
        }
      }

        .Navbar-link { width: auto; }

        .no-touch & .Navbar-item.is-open > .Navbar-subTrigger
        > .Navbar-subTrigger-icon {
          @include shapeArrow($direction: 'down', $scale: $IconCss-s);
        }

      .Navbar-sub {
        left: 0;
        position: absolute;
        top: 100%;

        /**
         * Fourth and deeper levels
         *
         * These are hidden by default because dropdown navigations
         * deeper than three levels aren't very elegant in desktop
         * widths. Prefer another solution such as separate
         * navigation for sub pages.
         */
        ul,
        .Navbar-subTrigger {
          display: none !important;
        }
      }

      /**
       * Sub navigation states
       */
      .no-touch & .Navbar-item:hover > .Navbar-sub,
      .no-touch & .Navbar-item:hover.is-open > .Navbar-sub {
        display: block;
      }

      .no-touch & .Navbar-item.is-open > .Navbar-sub {
        display: none;
      }
  }
}
