/* =======================================
 * Aside
 * =======================================
 *
 * @extends `.Navbar--stacked{}` in _Navbar--stacked.scss
 */

.docs-Aside {
  display: none;

  @include mq(l) {
    align-self: flex-start;
    background-color: $colorBgLightest;
    display: block;
    height: calc(100vh - #{$docs-Header-navbarSecondaryHeight-expand});
    position: sticky;
    top: $docs-Header-navbarSecondaryHeight-expand;
    width: 18%;

    .docs-Aside-navbar {
      border-bottom: 0;
      max-height: calc(100vh - #{$docs-Header-navbarSecondaryHeight-expand});
      margin-bottom: $docs-Header-navbarPrimaryHeight-expand;
      overflow: auto;

      > ul {
        > .Navbar-item {
          &:last-child {
            margin-bottom: $baseSpace * 4;
          }
        }
      }

      .Navbar-sub {
        border-left: 1px solid $colorBorder;
        margin-top: $uiSpace / 4;

        .Navbar-link {
          padding-left: $uiSpace;
        }
      }
    }
  }
}

