---
title: Block
---

<div class="Container docs-Container">
  <div class="Wrap">
    <div class="Grid m-Grid--equal">
      <div class="Grid-item m-Width--4-12">
        <div class="Block Block--primary">
          <div class="Block-figure -bg-fill">
            <figure>
              <img data-src="http://placehold.it/300x150/cccccc/969696" class="lazyload" />
            </figure>
          </div>
          <div class="Block-inner">
            <h2 class="Block-heading">
              Heading
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnia contraria, quos etiam insanos esse vultis.</p>
          </div>
        </div>
      </div>

      <div class="Grid-item m-Width--4-12">
        <div class="Block Block--primary">
          <div class="Block-inner">
            <h2 class="Block-heading">
              Heading
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnia contraria, quos etiam insanos esse vultis.</p>
          </div>
        </div>
      </div>

      <div class="Grid-item m-Width--4-12">
        <div class="Block Block--primary" style="">
          <div class="Block-figure -bg-fill">
            <figure>
              <img src="http://placehold.it/300x150/cccccc/969696" />
            </figure>
          </div>
          <div class="Block-inner">
            <h2 class="Block-heading">
              Heading
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
