---
title: Block
---

<div class="Container docs-Container">
  <div class="Wrap">
    <div class="Grid m-Grid--equal">
      <div class="Grid-item m-Width--4-12">
        <div class="Block -color-light">
          <div class="Block-figure">
            <img data-src="http://placehold.it/300x150/cccccc/969696" class="lazyload" />
          </div>
          <div class="Block-inner">
            <h1 class="Block-heading">
              Otsikko
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnia contraria, quos etiam insanos esse vultis.</p>
          </div>
        </div>
      </div>

      <div class="Grid-item m-Width--4-12">
        <div class="Block -color-light">
          <div class="Block-inner">
            <h1 class="Block-heading">
              Otsikko
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnia contraria, quos etiam insanos esse vultis.</p>
          </div>
        </div>
      </div>

      <div class="Grid-item m-Width--4-12">
        <div class="Block Block--bg js-Block" style="">
          <figure class="Block-figure">
            <img src="http://placehold.it/300x150/cccccc/969696" />
          </figure>
          <div class="Block-inner">
            <h1 class="Block-heading">
              Otsikko
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
