---
title: Button
---

<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Buttons</h1>

    <a class="Button Button--primary" href="#">
      Button link
    </a>

    <button class="Button Button--primary" type="submit">
      Button element
    </button>

    <span class="Button Button--primary -type-round">
      Rounded button in span tag
    </span>

    <h1>Button collections</h1>

    {{!-- Bordered horizontal button group --}}
    <div class="ButtonCollection -align-horizontal -type-borderRound">
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
    </div>

    {{!-- Rounded vertical button group --}}
    <div class="ButtonCollection -align-vertical -type-round">
      <a class="Button Button--primary" href="#">
        Button
      </a>
      <a class="Button Button--primary" href="#">
        Longer button
      </a>
      <a class="Button Button--primary" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered and justified button group --}}
    <div class="ButtonCollection -align-justified -type-border">
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
    </div>

  </div>
</div>
