---
title: Button
---

<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Buttons</h1>

    <a class="Button Button--primary" href="#">
      Button
    </a>

    <a href="#" class="Button Button--primary -type-round">
      Rounded button
    </a>

    <h1>Button collections</h1>

    {{!-- Full button collection  --}}
    <div class="ButtonCollection -align-full">
      <a class="Button Button--primary -type-" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-round" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered horizontal button collection --}}
    <div class="ButtonCollection -align-horizontal -type-round">
      <a class="Button Button--primary -type-round" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-round" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-round" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered horizontal button collection --}}
    <div class="ButtonCollection -align-horizontal -type-borderRound">
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
    </div>


    {{!-- Bordered vertical button collection --}}
    <div class="ButtonCollection -align-vertical -type-border">
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
    </div>

    {{!-- Certical button collection --}}
    <div class="ButtonCollection -align-vertical -type-round">
      <a class="Button Button--primary" href="#">
        Button
      </a>
      <a class="Button Button--primary" href="#">
        Button
      </a>
      <a class="Button Button--primary" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered and justified button collection --}}
    <div class="ButtonCollection -align-justified -type-border">
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered and justified rounded button collection --}}
    <div class="ButtonCollection -align-justified -type-borderRound">
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
      <a class="Button Button--primary -type-border" href="#">
        Button
      </a>
    </div>

  </div>
</div>
