---
title: Button
---

<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Buttons</h1>

    <a class="Button Button--primary" href="#">
      Button
    </a>

    <a href="#" class="Button Button--primary -round">
      Rounded button
    </a>

    <h1>Button collections</h1>

    {{!-- Full button collection  --}}
    <div class="ButtonCollection -full">
      <a class="Button Button--primary" href="#">
        Button
      </a>
      <a class="Button Button--primary -round" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered horizontal button collection --}}
    <div class="ButtonCollection -horizontal -round">
      <a class="Button Button--primary -round" href="#">
        Button
      </a>
      <a class="Button Button--primary -round" href="#">
        Button
      </a>
      <a class="Button Button--primary -round" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered horizontal button collection --}}
    <div class="ButtonCollection -horizontal -border -round">
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
    </div>


    {{!-- Bordered vertical button collection --}}
    <div class="ButtonCollection -vertical -border">
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
    </div>

    {{!-- Certical button collection --}}
    <div class="ButtonCollection -vertical -round">
      <a class="Button Button--primary" href="#">
        Button
      </a>
      <a class="Button Button--primary" href="#">
        Button
      </a>
      <a class="Button Button--primary" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered and justified button collection --}}
    <div class="ButtonCollection -justified -border">
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
    </div>

    {{!-- Bordered and justified rounded button collection --}}
    <div class="ButtonCollection -justified -border -round">
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
      <a class="Button Button--primary -border" href="#">
        Button
      </a>
    </div>

  </div>
</div>
