---
title: Forms
---

<div class="Container docs-Container">
  <div class="Wrap">

      <!--
       Default separated form with grid
       -->
      <form action="" class="Form Form--primary">
        <div class="Grid">
          <div class="Grid-item s-Width--6-12">
            <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
          </div>
          <div class="Grid-item s-Width--6-12">
            <div class="Form-collection -round -horizontal">
              <input class="Form-item -border" type="password" placeholder="I'm placeholder text">
              <div class="Form-addon -border">Password</div>
            </div>
          </div>
          <div class="Grid-item s-Width--6-12">
            <div class="Form-item Form-item--select -round -border">
              Choose something here
              <select class="Form-select" name="" id="">
                <option value="1">moro</option>
              </select>
            </div>
          </div>

        </div>
      </form>
      <!--
       /Default separated form with grid
       -->

      <div class="Grid">

        <div class="Grid-item m-Width--6-12">
          <!--
           Vertical rounded form collection
           -->
          <form action="" class="Form Form--primary">
            <div class="Form-collection -round -vertical">
              <textarea class="Form-item -border" placeholder="I'm placeholder text"></textarea>
              <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text too">
              <div class="Form-button">
                <button class="Button Button--primary -l -full">Form button</Button>
              </div>
            </div>
          </form>
          <!--
           /Vertical rounded form collection
           -->
        </div>

        <div class="Grid-item m-Width--6-12">
          <!--
           Vertical rounded form collection with addons and button
           -->
          <form action="" class="Form Form--primary">
            <div class="Form-collection -round -vertical">
              <div class="Form-collection-item">
                <div class="Form-collection">
                  <div class="Form-addon -border">@</div>
                  <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text">
                </div>
              </div>
              <div class="Form-collection-item">
                <div class="Form-collection">
                  <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text">
                  <div class="Form-addon -border">@</div>
                </div>
              </div>
              <div class="Form-button">
                <button class="Button Button--primary -l -full">Form button</Button>
              </div>
            </div>
          </form>
          <!--
           /Vertical rounded form collection with addons and button
           -->
        </div>

      </div>

      <!--
       Horizontal rounded form collection
       -->
      <form action="" class="Form Form--primary">
        <div class="Form-collection -round -horizontal">
          <div class="Form-collection-item">
            <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text">
          </div>
          <div class="Form-collection-item">
            <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text too">
          </div>
          <div class="Form-collection-item">
            <div class="Form-button">
              <button class="Button Button--primary -l -full">Form button</Button>
            </div>
          </div>
        </div>
      </form>
      <!--
       /Horizontal rounded form collection
       -->

      <!--
       Horizontal rounded form collection with addons
       -->
      <form action="" class="Form Form--primary">
        <div class="Form-collection -round -horizontal">
          <div class="Form-collection-item">
            <div class="Form-collection">
              <div class="Form-addon -border">@</div>
              <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text">
            </div>
          </div>
          <div class="Form-collection-item">
            <div class="Form-collection">
              <div class="Form-addon -border">&#10003;</div>
              <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text">
            </div>
          </div>
        </div>
      </form>
      <!--
       /Horizontal rounded form collection with addons
       -->

      <!--
       Horizontal rounded form collection with addons on right and button
       -->
      <form action="" class="Form Form--primary">
        <div class="Form-collection -round -horizontal">
          <div class="Form-collection-item">
            <div class="Form-collection">
              <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text">
              <div class="Form-addon">@</div>
            </div>
          </div>
          <div class="Form-collection-item">
            <div class="Form-collection">
              <input class="Form-item -round -border" type="text" placeholder="I'm placeholder text">
              <div class="Form-addon -border">&#10003;</div>
            </div>
          </div>
          <div class="Form-collection-item">
            <div class="Form-button">
              <button class="Button Button--primary -l -full">Form button</Button>
            </div>
          </div>
        </div>
      </form>
      <!--
       /Horizontal rounded form collection with addons on right and button
       -->

  </div>
</div>
