---
title: Hero
---

<div class="Hero -size-full js-Hero">
  <style>
   /* @media screen and (max-width: 767px) {
      .Hero-figure--1 { background-image: url(http://lorempixel.com/g/640/440/cats); }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .Hero-figure--1 { background-image: url(http://lorempixel.com/g/1280/880/cats); }
    }

    @media screen and (min-width: 1024px) {
      .Hero-figure--1 { background-image: url(http://lorempixel.com/g/1680/1320/cats); }
    }*/
  </style>

  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Full hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img src="http://lorempixel.com/g/1680/1320/cats/" alt="">
    </figure>
  </div>

</div>

<div class="Hero -size-l js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Large hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img src="http://lorempixel.com/g/1680/1321/cats/" alt="">
    </figure>
  </div>

</div>

<div class="Hero -size-m js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Medium hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img src="http://lorempixel.com/g/1680/1322/cats/" alt="">
    </figure>
  </div>

</div>

