---
title: Hero
---

<div class="Hero -size-full js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Full hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img

        data-srcset="
          http://lorempixel.com/641/641/cats 400w,
          http://lorempixel.com/1281/881/cats 768w,
          http://lorempixel.com/1681/1321/cats 1200w"
        class="lazyload">
    </figure>
  </div>
</div>

<div class="Hero -size-l js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Large hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img

        data-srcset="
          http://lorempixel.com/642/642/nature 400w,
          http://lorempixel.com/1282/882/nature 768w,
          http://lorempixel.com/1682/1322/nature 1200w"
        class="lazyload">
    </figure>
  </div>
</div>

<div class="Hero -size-m js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Medium hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img

        data-srcset="
          http://lorempixel.com/643/643/people 400w,
          http://lorempixel.com/1283/883/people 768w,
          http://lorempixel.com/1683/1323/people 1200w"
        class="lazyload">
    </figure>
  </div>
</div>
