---
title: Navbar
resourcePath: components/navbar/
stylesheets:
  - Navbar.import
javascripts:
  - Navbar
bottomScript:
  App.Navbar.init();
---

<nav class="Navbar -color-primary -transform-horizontal" id="js-Navbar">

  <!-- Trigger -->
  <div class="Navbar-trigger" id="js-Navbar-trigger">
    <span class="Navbar-trigger-link">Valikko</span>
    <span class="Navbar-trigger-sub">
      <i class="Navbar-trigger-sub-icon"></i>
    </span>
  </div>
  <!-- /Trigger -->

  <ul class="Navbar-self">

    <li class="Navbar-item">
      <a class="Navbar-link" href="/">1. Elementti (1. taso)</a>
    </li>

    <li class="Navbar-item">
      <a class="Navbar-link" href="/">1. Elementti (1. taso)</a>
    </li>

    <li class="Navbar-item">
      <a class="Navbar-link" href="/">2. Elementti (1. taso)</a>
      <span class="Navbar-subTrigger">
        <i class="Navbar-subTrigger-icon"></i>
      </span>
      <ul class="Navbar-sub">
        <li class="Navbar-item">
          <a class="Navbar-link" href="#">2.1. Elementti (2. taso)</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="#">2.2. Elementti (2. taso)</a>
        </li>
      </ul>
    </li>

    <li class="Navbar-item">
      <a class="Navbar-link" href="#">3. Elementti (1. taso)</a>
      <span class="Navbar-subTrigger">
        <i class="Navbar-subTrigger-icon"></i>
      </span>

      <!-- Dropdown -->
      <ul class="Navbar-sub">
        <li class="Navbar-item">
          <a class="Navbar-link" href="#">3.1. Elementti (2. taso)</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="#">3.2. Elementti (2. taso)</a>
          <span class="Navbar-subTrigger">
            <i class="Navbar-subTrigger-icon"></i>
          </span>
          <!-- Dropdown -->
          <ul class="Navbar-sub">
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.2.1. Elementti (3. taso)</a>
              <span class="Navbar-subTrigger">
                <i class="Navbar-subTrigger-icon"></i>
              </span>
              <!-- Dropdown -->
              <ul class="Navbar-sub">
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.1.1. Elementti (4. taso)</a>
                </li>
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.1.2. Elementti (4. taso)</a>
                </li>
              </ul>
              <!-- /Dropdown -->
            </li>
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.2.2. Elementti (3. taso)</a>
              <span class="Navbar-subTrigger">
                <i class="Navbar-subTrigger-icon"></i>
              </span>
              <!-- Dropdown -->
              <ul class="Navbar-sub">
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.2.1. Elementti (4. taso)</a>
                </li>
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.2.2. Elementti (4. taso)</a>
                  <span class="Navbar-subTrigger">
                    <i class="Navbar-subTrigger-icon"></i>
                  </span>
                  <!-- Dropdown -->
                  <ul class="Navbar-sub">
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.2.2.1. Elementti (5. taso)</a>
                    </li>
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.2.2.2. Elementti (5. taso)</a>
                      <span class="Navbar-subTrigger">
                        <i class="Navbar-subTrigger-icon"></i>
                      </span>
                      <!-- Dropdown -->
                      <ul class="Navbar-sub">
                        <li class="Navbar-item">
                          <a class="Navbar-link" href="#">3.2.2.2.2.1. Elementti (6. taso)</a>
                        </li>
                        <li class="Navbar-item">
                          <a class="Navbar-link" href="#">3.2.2.2.2.2.1. Elementti (6. taso) &hellip;</a>
                        </li>
                      </ul>
                      <!-- /Dropdown -->
                    </li>
                  </ul>
                  <!-- /Dropdown -->
                </li>
              </ul>
              <!-- /Dropdown -->
            </li>
          </ul>
          <!-- /Dropdown -->
        </li>

        <li class="Navbar-item">
          <a class="Navbar-link" href="#">3.3. Elementti (2. taso)</a>
          <span class="Navbar-subTrigger">
            <i class="Navbar-subTrigger-icon"></i>
          </span>
          <!-- Dropdown -->
          <ul class="Navbar-sub">
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.3.1. Elementti (3. taso)</a>
            </li>
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.2.2. Elementti (3. taso)</a>
            </li>
          </ul>
          <!-- /Dropdown -->
        </li>
      </ul>
      <!-- /Dropdown -->
    </li>
  </ul>
</nav>
