/* ========================================
 * Coloring helpers
 * ======================================== */

.colorPrimary    { color: $colorPrimary !important; }
.colorTextLight  { color: $colorTextLight !important; }
.colorDark       { color: $colorDark !important; }
.colorBgLight    { background-color: $colorBgLight !important; }

