/* =======================================
 * Display-type utilities
 * ======================================= */

/**
 * [1.] Hide visually and from screen readers
 * [2.] Hide visually and from screen readers, but maintain layout
 */
.hidden    { display: none !important; } /* [1.] */
.invisible { visibility: hidden !important; } /* [2.] */


/**
 * Completely remove from the flow but leave available to screen readers.
 */
.hideVisually {
  @include display('hideVisually', !important);
}
