/* =======================================
 * Responsive padding helpers - large vw
 * ======================================= */

@include mq(l) {

  /**
   * All paddings
   */
  .l-padding     { padding: rem($baseSpace) !important; }
  .l-padding--xs { padding: rem($baseSpace / 4) !important; }
  .l-padding--s  { padding: rem($baseSpace / 2) !important; }
  .l-padding--m  { padding: rem($baseSpace * 2) !important; }
  .l-padding--l  { padding: rem($baseSpace * 4) !important; }
  .l-noPadding   { padding: 0 !important; }

  /**
   * Padding top
   */
  .l-paddingTop     { padding-top: rem($baseSpace) !important; }
  .l-paddingTop--xs { padding-top: rem($baseSpace / 4) !important; }
  .l-paddingTop--s  { padding-top: rem($baseSpace / 2) !important; }
  .l-paddingTop--m  { padding-top: rem($baseSpace * 2) !important; }
  .l-paddingTop--l  { padding-top: rem($baseSpace * 4) !important; }
  .l-noPaddingTop   { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .l-paddingRight     { padding-right: rem($baseSpace) !important; }
  .l-paddingRight--xs { padding-right: rem($baseSpace / 4) !important; }
  .l-paddingRight--s  { padding-right: rem($baseSpace / 2) !important; }
  .l-paddingRight--m  { padding-right: rem($baseSpace * 2) !important; }
  .l-paddingRight--l  { padding-right: rem($baseSpace * 4) !important; }
  .l-noPaddingRight   { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .l-paddingBottom     { padding-bottom: rem($baseSpace) !important; }
  .l-paddingBottom--xs { padding-bottom: rem($baseSpace / 4) !important; }
  .l-paddingBottom--s  { padding-bottom: rem($baseSpace / 2) !important; }
  .l-paddingBottom--m  { padding-bottom: rem($baseSpace * 2) !important; }
  .l-paddingBottom--l  { padding-bottom: rem($baseSpace * 4) !important; }
  .l-noPaddingBottom   { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .l-paddingLeft     { padding-left: rem($baseSpace) !important; }
  .l-paddingLeft--xs { padding-left: rem($baseSpace / 4) !important; }
  .l-paddingLeft--s  { padding-left: rem($baseSpace / 2) !important; }
  .l-paddingLeft--m  { padding-left: rem($baseSpace * 2) !important; }
  .l-paddingLeft--l  { padding-left: rem($baseSpace * 4) !important; }
  .l-noPaddingLeft   { padding-left: 0 !important; }
}
