/* ========================================
 * Layout helpers
 * ======================================== */

/**
 * Floats
 */
.floatLeft  { float: left !important; }
.floatRight { float: right !important; }

/**
 * Centering absolutely
 */
.centerAbsolute {
  @include center('absolute', !important);
}

/**
 * Centering with margin (requires width)
 */
.centerMargin {
  @include center('margin', !important);
}

/**
 * Centering with inline-block and text
 */
.centerText {
  @include center('text', !important);
}

  .centerText-item {
    @include center('text-item', !important);
  }


/* ======
 * Positioning helpers
 * ====== */

/**
 * Fill the space absolutely
 */
.positionAbsoluteFill {
  @include positionAbsoluteFill(!important);
}

/**
 * 1. Make sure fixed elements are promoted into a new layer, for performance
 *    reasons.
 */
.positionFixed {
  position: fixed !important;
  backface-visibility: hidden; /* [1.] */
}

.positionRelative { position: relative !important; }
.positionStatic   { position: static !important; }
