/* =======================================
 * Responsive padding helpers - medium vw
 * ======================================= */

@include mq(m) {

  /**
   * All paddings
   */
  .m-padding     { padding: rem($baseSpace) !important; }
  .m-padding--xs { padding: rem($baseSpace / 4) !important; }
  .m-padding--s  { padding: rem($baseSpace / 2) !important; }
  .m-padding--m  { padding: rem($baseSpace * 2) !important; }
  .m-padding--l  { padding: rem($baseSpace * 4) !important; }
  .m-noPadding   { padding: 0 !important; }

  /**
   * Padding top
   */
  .m-paddingTop     { padding-top: rem($baseSpace) !important; }
  .m-paddingTop--xs { padding-top: rem($baseSpace / 4) !important; }
  .m-paddingTop--s  { padding-top: rem($baseSpace / 2) !important; }
  .m-paddingTop--m  { padding-top: rem($baseSpace * 2) !important; }
  .m-paddingTop--l  { padding-top: rem($baseSpace * 4) !important; }
  .m-noPaddingTop   { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .m-paddingRight     { padding-right: rem($baseSpace) !important; }
  .m-paddingRight--xs { padding-right: rem($baseSpace / 4) !important; }
  .m-paddingRight--s  { padding-right: rem($baseSpace / 2) !important; }
  .m-paddingRight--m  { padding-right: rem($baseSpace * 2) !important; }
  .m-paddingRight--l  { padding-right: rem($baseSpace * 4) !important; }
  .m-noPaddingRight   { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .m-paddingBottom     { padding-bottom: rem($baseSpace) !important; }
  .m-paddingBottom--xs { padding-bottom: rem($baseSpace / 4) !important; }
  .m-paddingBottom--s  { padding-bottom: rem($baseSpace / 2) !important; }
  .m-paddingBottom--m  { padding-bottom: rem($baseSpace * 2) !important; }
  .m-paddingBottom--l  { padding-bottom: rem($baseSpace * 4) !important; }
  .m-noPaddingBottom   { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .m-paddingLeft     { padding-left: rem($baseSpace) !important; }
  .m-paddingLeft--xs { padding-left: rem($baseSpace / 4) !important; }
  .m-paddingLeft--s  { padding-left: rem($baseSpace / 2) !important; }
  .m-paddingLeft--m  { padding-left: rem($baseSpace * 2) !important; }
  .m-paddingLeft--l  { padding-left: rem($baseSpace * 4) !important; }
  .m-noPaddingLeft   { padding-left: 0 !important; }
}
