/* =======================================
 * Margin helpers
 * ======================================= */

/**
 * All margins
 */
.margin     { margin: rem($baseSpace) !important; }
.margin--xs { margin: rem($baseSpace / 4) !important; }
.margin--s  { margin: rem($baseSpace / 2) !important; }
.margin--m  { margin: rem($baseSpace * 2) !important; }
.margin--l  { margin: rem($baseSpace * 4) !important; }
.noMargin   { margin: 0 !important; }

/**
 * Margin top
 */
.marginTop     { margin-top: rem($baseSpace) !important; }
.marginTop--xs { margin-top: rem($baseSpace / 4) !important; }
.marginTop--s  { margin-top: rem($baseSpace / 2) !important; }
.marginTop--m  { margin-top: rem($baseSpace * 2) !important; }
.marginTop--l  { margin-top: rem($baseSpace * 4) !important; }
.noMarginTop   { margin-top: 0 !important; }

/**
 * Margin right
 */
.marginRight     { margin-right: rem($baseSpace) !important; }
.marginRight--xs { margin-right: rem($baseSpace / 4) !important; }
.marginRight--s  { margin-right: rem($baseSpace / 2) !important; }
.marginRight--m  { margin-right: rem($baseSpace * 2) !important; }
.marginRight--l  { margin-right: rem($baseSpace * 4) !important; }
.noMarginRight   { margin-right: 0 !important; }

/**
 * Margin bottom
 */
.marginBottom     { margin-bottom: rem($baseSpace) !important; }
.marginBottom--xs { margin-bottom: rem($baseSpace / 4) !important; }
.marginBottom--s  { margin-bottom: rem($baseSpace / 2) !important; }
.marginBottom--m  { margin-bottom: rem($baseSpace * 2) !important; }
.marginBottom--l  { margin-bottom: rem($baseSpace * 4) !important; }
.noMarginBottom   { margin-bottom: 0 !important; }

/**
 * Margin left
 */
.marginLeft     { margin-left: rem($baseSpace) !important; }
.marginLeft--xs { margin-left: rem($baseSpace / 4) !important; }
.marginLeft--s  { margin-left: rem($baseSpace / 2) !important; }
.marginLeft--m  { margin-left: rem($baseSpace * 2) !important; }
.marginLeft--l  { margin-left: rem($baseSpace * 4) !important; }
.noMarginLeft   { margin-left: 0 !important; }
