/* =======================================
 * Responsive padding helpers - small vw
 * ======================================= */

@include mq(s) {

  /**
   * All paddings
   */
  .s-padding     { padding: rem($baseSpace) !important; }
  .s-padding--xs { padding: rem($baseSpace / 4) !important; }
  .s-padding--s  { padding: rem($baseSpace / 2) !important; }
  .s-padding--m  { padding: rem($baseSpace * 2) !important; }
  .s-padding--l  { padding: rem($baseSpace * 4) !important; }
  .s-noPadding   { padding: 0 !important; }

  /**
   * Padding top
   */
  .s-paddingTop     { padding-top: rem($baseSpace) !important; }
  .s-paddingTop--xs { padding-top: rem($baseSpace / 4) !important; }
  .s-paddingTop--s  { padding-top: rem($baseSpace / 2) !important; }
  .s-paddingTop--m  { padding-top: rem($baseSpace * 2) !important; }
  .s-paddingTop--l  { padding-top: rem($baseSpace * 4) !important; }
  .s-noPaddingTop   { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .s-paddingRight     { padding-right: rem($baseSpace) !important; }
  .s-paddingRight--xs { padding-right: rem($baseSpace / 4) !important; }
  .s-paddingRight--s  { padding-right: rem($baseSpace / 2) !important; }
  .s-paddingRight--m  { padding-right: rem($baseSpace * 2) !important; }
  .s-paddingRight--l  { padding-right: rem($baseSpace * 4) !important; }
  .s-noPaddingRight   { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .s-paddingBottom     { padding-bottom: rem($baseSpace) !important; }
  .s-paddingBottom--xs { padding-bottom: rem($baseSpace / 4) !important; }
  .s-paddingBottom--s  { padding-bottom: rem($baseSpace / 2) !important; }
  .s-paddingBottom--m  { padding-bottom: rem($baseSpace * 2) !important; }
  .s-paddingBottom--l  { padding-bottom: rem($baseSpace * 4) !important; }
  .s-noPaddingBottom   { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .s-paddingLeft     { padding-left: rem($baseSpace) !important; }
  .s-paddingLeft--xs { padding-left: rem($baseSpace / 4) !important; }
  .s-paddingLeft--s  { padding-left: rem($baseSpace / 2) !important; }
  .s-paddingLeft--m  { padding-left: rem($baseSpace * 2) !important; }
  .s-paddingLeft--l  { padding-left: rem($baseSpace * 4) !important; }
  .s-noPaddingLeft   { padding-left: 0 !important; }
}
