/* ========================================
 * Alert
 * ========================================
 *
 * @reusable true
 */

.Alert {
  border-radius: $borderRadius;
  border: 1px solid transparent;
  margin-bottom: rem($baseSpace);
  padding: rem($baseSpace) rem($baseSpace);
  text-align: center;
}


/* ======
 * Alert - warning
 * ====== */

.Alert--warning {
  background-color: lighten($color-secondary, 27);
  border-color: lighten($color-secondary, 20);
}
