// ========================================
// Block
// ========================================

$Block-padding: $base-space;
$Block-padding-percentage: $base-edgeSpace;
$Block-borderWidth: 2px;
$Block-borderRadius: 30px;