// ========================================
// Button
// ========================================

$Button-borderWidth: 1px;
$Button-height: $baseSpace * 1.75;
$Button-roundBorderRadius: 4px;

$Button-l: 1.5;
$Button-s: 0.78;

$ButtonCollection-separatorColor: rgba(#000000, 0.1);

$Button-collectionHorizontal: false;
$Button-collectionHorizontal-s: false;
$Button-collectionHorizontal-m: false;
$Button-collectionHorizontal-l: false;
