// ========================================
// Button
// ========================================

$Button-fontSize: $baseFontSize;
$Button-lineHeight: $baseLineHeightPx * 1.5;
$Button-padding: $baseSpace;
$Button-borderWidth: 2px;
$Button-borderRadius: 30px;
$Button-fontWeight: $baseFontWeightStrong;