// ========================================
// Button
// ========================================

$Button-borderWidth: 2px;
$Button-height: $baseSpace * 2;
$Button-pillBorderRadius: 30px;
$Button-roundBorderRadius: 4px;

$Button-l: 1.5;
$Button-s: 0.75;
