/* ========================================
 * Button collection - Horizontal
 * ========================================
 *
 * @extend `.ButtonCollection{}` in _ButtonCollection.scss
 * @reusable true
 */

@mixin ButtonCollectionHorizontal($namespace: '--') {
  .ButtonCollection.#{$namespace}horizontal {
    align-items: flex-start;
    display: flex;

    > .Button {
      border-left-width: 0;

      &:not(.--border) {
        box-shadow: -$Button-borderWidth 0 $ButtonCollection-separatorColor;
      }

      &:first-child {
        border-left-width: $Button-borderWidth;
        box-shadow: none;
      }
    }

    > .--round {
      &:first-child {
        border-radius: $Button-borderRadius 0 0 $Button-borderRadius;
      }

      &:last-child {
        border-radius: 0 $Button-borderRadius $Button-borderRadius 0;
      }
    }

    > .--pill {
      &:first-child {
        border-radius: 60px 0 0 60px;
      }

      &:last-child {
        border-radius: 0 60px 60px 0;
      }
    }

    &.--justify {
      width: 100%;

      > .Button {
        flex-grow: 1;
      }
    }
  }
}

@if $Button-collectionHorizontal {
  @include ButtonCollectionHorizontal();
}

@if $Button-collectionHorizontal-s {
  @include breakpoint('smallUp') {
    @include ButtonCollectionHorizontal(s--);
  }
}

@if $Button-collectionHorizontal-m {
  @include breakpoint('mediumUp') {
    @include ButtonCollectionHorizontal(m--);
  }
}

@if $Button-collectionHorizontal-l {
  @include breakpoint('largeUp') {
    @include ButtonCollectionHorizontal(l--);
  }
}
