/* ========================================
 * Button collection
 * ========================================
 *
 * Button collection is vertical by default.
 *
 * @overrides `.Button{}` in _Button.scss
 * @reusable true
 */

.ButtonCollection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  > .Button {
    margin-right: 0;

    &:not(:last-child) { margin-bottom: 0; }
    &:not(.-border) { box-shadow: 0 -1px $ButtonCollection-separatorColor; }
    &:first-child { box-shadow: none; }
  }

  &:not([class*='-horizontal']) {
    > .Button {
      &:not(:last-child) {
        border-bottom-width: 0;
        line-height: rem($Button-height - $Button-borderWidth);

        &.-s {
          line-height: rem(($Button-height * $Button-s) - ($Button-borderWidth));
        }
      }
    }
  }

  > .-round {
    &:first-child { border-radius: $Button-roundBorderRadius $Button-roundBorderRadius 0 0; }
    &:last-child { border-radius: 0 0 $Button-roundBorderRadius $Button-roundBorderRadius; }
  }

  > .-pill { border-radius: 0; }
  > .-round { border-radius: 0; }
}

/**
 * Justify
 */
.ButtonCollection.-justify {
  align-items: stretch;
}
