/* ========================================
 * Card
 * ========================================
 *
 * @reusable true
 */

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: rem($baseSpace);
  position: relative;
  width: 100%;
}

  .Card-figure {
    position: relative;

    figure {
      margin-bottom: 0;

      img {
        width: 100%;
      }
    }
  }

  .Card-inner {
    padding: rem($Card-padding);

    > *:last-child {
      margin-bottom: 0;
    }

    @include breakpoint('mediumUp') {
      padding: rem($Card-padding * 1.25);
    }
  }

  .Card-content {
    position: relative;
  }

    .Card-title {}

    .Card-button {}

  .Card-footer {
    @extend %Text.--s;
    position: relative;

    .Card-inner {
      @include breakpoint('mediumUp') {
        padding-bottom: rem($Card-padding);
        padding-top: rem($Card-padding);
      }
    }
  }


/* ======
 * Card - Style
 * ====== */

.Card {
  &.--round {
    @extend %round;
  }
}


/* ======
 * Card - Color
 * ====== */

.Card {
  &.--colorLightOnDark {
    background-color: $colorBgDarkest;
    color: $colorLight;
  }

  &.--colorDarkOnLight {
    background-color: $colorBgLightest;
    color: $colorText;
  }
}


/* ======
 * Card - Figure modifiers
 * ====== */

.Card.--figureCrop, %Card.--figureCrop {
  .Card-figure {
    min-height: rem($baseSpace * 10);

    figure {
      @extend %positionAbsoluteFill;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}

.Card.--figureFill {
  @extend %Card.--figureCrop;
  background: transparent;

  .Card-figure {
    @extend %positionAbsoluteFill;
  }

  &.--round {
    .Card-figure {
      img {
        @extend %round;
      }
    }
  }
}


/* ======
 * Card - Default
 * ====== */

.Card--default {
  background-color: $colorBgLight;

  .Card-footer {
    background-color: $colorBgLightest;
  }

  &.--round {
    border-radius: $Card-borderRadius + 2px;

    .Card-figure {
      img {
        border-radius: $Card-borderRadius $Card-borderRadius 0 0;
      }
    }

    .Card-footer {
      border-radius: 0 0 $Card-borderRadius $Card-borderRadius;
    }
  }

  &.--border {
    box-shadow: 0 0 0 1px $colorBorderDefault;
  }
}
