/* ========================================
 * Cards
 * ========================================
 *
 * @reusable true
 */

.Card {
  display: block;
  position: relative;
  margin-bottom: rem($baseSpace);
  width: 100%;
}

  .Card-figure {
    > figure {
      margin-bottom: 0;

      > img {
        width: 100%;
      }
    }
  }

  .Card-inner {
    padding: rem($Card-padding) $Card-padding-percentage;

    > *:last-child {
      margin-bottom: 0;
    }

    @include breakpoint('mediumUp') {
      padding-left: rem($Card-padding * 1.5);
      padding-right: rem($Card-padding * 1.5);
    }
  }


/* ======
 * Card figure - Background fill modifier
 * ====== */

.Card-figure.-fill {
  position: relative;
  min-height: rem($baseSpace * 8);

  > figure {
    @extend %positionAbsoluteFill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100% !important;
    }
  }
}


/* ======
 * Card - Default
 * ====== */

.Card--default {
  background-color: #ffffff;
  min-height: $baseSpace * 6;
}
