/* ========================================
 * Component
 * ========================================
 *
 * @reusable true
 */

.Component {}

  .Component-item {}


/* ======
 * Component - States
 * ====== */

.Component {
  &.is-state {}
}


/* ======
 * Component - Various modifiers
 * ====== */

.Component.-modifierName {}


/* ======
 * Component - Default
 * ====== */

.Component--default {}
