/* ========================================
 * Form
 * ========================================
 *
 * @reusable true
 */

.Form {
  position: relative;
  width: 100%;
}

  %Form-item-appearance {
    background-color: #ffffff;
    border: $Form-borderWidth solid transparent;
    color: $colorText;
    font-weight: $Form-fontWeight;
  }

  %Form-item-layout {
    font-size: rem($Form-fontSize);
    height: rem($Form-height);
    line-height: rem($Form-height - ($Form-borderWidth * 2));
    padding: 0 rem($Form-padding);
  }

  .Form-item {
    @extend %Form-item-appearance;
    @extend %Form-item-layout;
    border-radius: 0;
    display: block;
    flex: 1;
    margin-bottom: rem($baseSpace);
    outline: 0;
    padding: 0 rem($Form-padding);
    position: relative;
    text-align: left;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;

    .touchevents & {
      font-size: 16px;
    }
  }

  .Form-button.Button {
    @extend %Form-item-layout;
    margin: 0;
  }

  textarea {
    &.Form-item {
      line-height: $baseLineHeight;
      min-height: rem($baseSpace * 6);
      padding-top: rem($baseSpace / 2);
      resize: vertical;
    }
  }

  .Form-item--select {
    select {
      cursor: pointer;
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }


/* ======
 * Form item - Various modifiers
 * ====== */

.Form-item {
  &.-round {
    border-radius: $Form-borderRadius;
  }
}


/* ======
 * Form - Primary
 * ====== */

.Form--primary {
  %Form--primary-Form-item, .Form-item {
    background-color: #ffffff;
    color: $colorTextLight;

    &.-border {
      border-color: $colorBorderPrimary;
    }
  }

  .Form-item {
    @include colorPlaceholder($colorTextLight);
    color: $colorTextLight;

    &:hover,
    &:focus {
      @include colorPlaceholder($colorText);
      color: $colorText;
    }

    &.-border {
      &:hover,
      &:focus {
        border-color: $colorBorderPrimary;
      }
    }
  }
}
