/* ========================================
 * Form addon
 * ========================================
 *
 * @reusable true
 */

.Form-addon {
  @extend %Form-item-appearance;
  @extend %Form-item-layout;
  text-align: center;
  min-width: rem($baseSpace * 2)
}


/* ======
 * Form addon - primary variation
 * ======
 *
 * Alternatively move this inside the main `.Form--primary{}`
 */

.Form--primary {
  .Form-addon {
    @extend %Form--primary-Form-item;
    background-color: $colorBgLightest;
  }
}
