/* ========================================
 * Form addon
 * ========================================
 *
 * @reusable true
 */

.Form-addon {
  @extend %Form-itemAppearance;
  @extend %Form-itemLayout;
  min-width: rem($baseSpace * 2);
  text-align: center;
}


/* ======
 * Form addon - Primary variation
 * ======
 *
 * Alternatively move this inside the main `.Form--default{}`
 */

.Form--default {
  .Form-addon {
    @extend %Form--defaultFormItem;
    background-color: $colorBgLightest;
  }
}
