// ========================================
// Form
// ========================================

$Form-fontSize: $baseFontSize-s;
$Form-height: $baseSpace * 2;
$Form-borderWidth: 1px;
$Form-borderRadius: $borderRadius;
$Form-fontWeight: $baseFontWeight;
$Form-padding: $baseSpace / 1.5;
