/* ========================================
 * Form collection - vertical
 * ========================================
 *
 * @extends `.Form-collection{}` in _Form-collection.scss
 * @reusable true
 */

.Form-collection.-vertical {
  flex-direction: column;

  .Form-collection {
    .-border {
      &:first-child:not(:only-child) {
        border-right-width: 0;
      }
    }

    &:not(:first-child) {
      .-border {
        border-top-width: 0;
      }
    }

    &:first-child {
      .-round {
        &:first-child { border-radius: $Form-borderRadius 0 0 0; }
        &:last-child { border-radius: 0 $Form-borderRadius 0 0; }
        &:only-child { border-radius: $Form-borderRadius $Form-borderRadius 0 0; }
      }
    }

    &:last-child {
      .-round {
        &:first-child { border-radius: 0 0 0 $Form-borderRadius; }
        &:last-child { border-radius: 0 0 $Form-borderRadius 0; }
        &:only-child { border-radius: 0 0 $Form-borderRadius $Form-borderRadius; }
      }
    }
  }

  > .Form-button.-round {
    border-radius: 0 0 $Form-borderRadius $Form-borderRadius;
  }
}
