/* ========================================
 * Form collection
 * ========================================
 *
 * Form collection is vertical by default
 *
 * @overrides `.Form-item{}, .Form-addon{}, .Form-button{}` in _Form.scss
 * @reusable true
 */

.Form-collection {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: rem($baseSpace);

  .Form-item,
  .Form-addon,
  .Form-button {
    margin-bottom: 0;
  }

  .Form-item:not(textarea),
  .Form-addon {
    @include textTruncate();
  }

  > .Form-collection {
    margin-bottom: 0;
  }

  .-round {
    border-radius: 0;
  }

  > .Form-collection {
    flex-direction: row;

    &:not(:first-child) {
      .-border {
        border-top-width: 0;
      }
    }

    &:first-child {
      .-round {
        &:first-child {
          border-radius: $Form-borderRadius 0 0 0;
        }

        &:last-child {
          border-radius: 0 $Form-borderRadius 0 0;
        }

        &:only-child {
          border-radius: $Form-borderRadius $Form-borderRadius 0 0;
        }
      }
    }

    &:last-child {
      .-round {
        &:first-child {
          border-radius: 0 0 0 $Form-borderRadius;
        }

        &:last-child {
          border-radius: 0 0 $Form-borderRadius 0;
        }

        &:only-child {
          border-radius: 0 0 $Form-borderRadius $Form-borderRadius;
        }
      }
    }

    > .-border {
      &:first-child:not(:only-child) {
        border-right-width: 0;
      }
    }
  }

  > .Form-button.-round {
    border-radius: 0 0 $Form-borderRadius $Form-borderRadius;
  }
}
