/* ========================================
 * Typeahead
 * ========================================
 *
 * https://github.com/twitter/typeahead.js/
 * Please set the correct class names in typeahead `classNames` object.
 * @reusable true. Use under `.Form-item{}` in _Form.scss
 */

.twitter-typeahead { width: 100%; }

.Form-typeahead-hint {
  color: $colorTextLight;
}

.Form-typeahead-menu {
  background-color: $colorLight;
  border: 1px solid $colorBorderDefault;
  border-bottom: 3px solid $colorBorderDefault;
  border-radius: 0 0 $Form-borderRadius $Form-borderRadius;
  box-shadow: 0 5px 10px rgba($colorDark, 0.2);
  color: $colorText;
  margin-top: -$Form-borderWidth;
  padding: rem($baseSpace / 2)  0;
  position: relative;
  width: 100%;

  &:before,
  &:after {
    background-color: $colorLight;
    content: "";
    display: block;
    height: $Form-borderRadius;
    left: -1px;
    position: absolute;
    top: rem(-($borderRadius + 1px));
    width: $Form-borderRadius;
  }

  &:after {
    left: auto;
    right: -1px;
  }

  /**
   * Form item overrides
   */
  .Form-item.-border ~ & {
    &:before {
      border-left: $Form-borderWidth solid $colorBorderDefault;
    }

    &:after {
      border-right-width: $Form-borderWidth solid $colorBorderDefault;
    }
  }
}

.Form-typeahead-suggestion {
  cursor: pointer;
  padding: rem(3px) rem($baseSpace / 1.5);

  &:hover {
    color: $colorText;
    background-color: $colorBgLightest;
  }
}

.Form-typeahead-cursor {
  background-color: $colorBgLightest;
  color: $colorText;
}

.Form-typeahead-highlight {}
