// ========================================
// Form
// ========================================

$Form-fontSize: $baseFontSize-s;
$Form-height: $baseSpace * 2;
$Form-borderWidth: 1px;
$Form-borderRadius: $borderRadius;
$Form-fontWeight: $baseFontWeight;
$Form-padding: $baseSpace / 1.5;

$Form-collectionHorizontal: false !default;
$Form-collectionHorizontal-s: false !default;
$Form-collectionHorizontal-m: false !default;
$Form-collectionHorizontal-l: false !default;
