/* ========================================
 * Hero item - figure align
 * ========================================
 *
 * Align figure in .Hero{} component.
 *
 * @extends `.Hero-item{}` in _Hero.scss.
 * @reusable true
 */

@mixin HeroAlignFigure($namespace: '') {
  $positions: 'top left', 'top', 'top right', 'right', 'bottom right', 'bottom',
  'bottom left', 'left';

  .Hero-item {
    @each $position in $positions {
      &.#{$namespace}-alignFigure-#{camelize($position)} {
        .Hero-figure {
          background-position: unquote($position); /* Fallback */

          img {
            object-position: unquote($position);
          }
        }
      }
    }
  }
}

/**
 * Add other variants if needed.
 * e.g. @include breakpoint('smallUp') { @include HeroAlignFigure(-s); }
 */
@include HeroAlignFigure();
