/* ========================================
 * Hero
 * ========================================
 *
 * @reusable true
 */

.Hero {
  position: relative;
}

  .Hero-item {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

    .Hero-wrap {
      display: flex;
      position: relative;
      z-index: 2;
    }

      .Hero-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: rem($baseSpace * 10);
      }

        .Hero-content-item {
          max-width: 100%;
          padding-bottom: rem($baseSpace * 2);
          padding-top: rem($baseSpace * 2);

          > *:last-child {
            margin: 0;
          }
        }

    .Hero-figure {
      @extend %positionAbsoluteFill;
      background-position: center;
      background-size: cover;
      background-position: center;
      margin-bottom: 0;
      z-index: 0;

      img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      .no-js & > img {
        display: none;
      }
    }

    .Hero-overlay {
      @extend %positionAbsoluteFill;
      content: '';
      z-index: 1;
    }


/* ======
 * Hero - Size
 * ====== */

.Hero {
  &.-full {
    .Hero-content {
      min-height: 100vh;
    }
  }

  &.-l {
    .Hero-content {
      min-height: rem($baseSpace * 18);
    }

    @include breakpoint('mediumUp') {
      .Hero-content {
        min-height: rem($baseSpace * 28);
      }
    }
  }

  &.-m {
    .Hero-content {
      min-height: rem($baseSpace * 14);
    }

    @include breakpoint('mediumUp') {
      .Hero-content {
        min-height: rem($baseSpace * 16);
      }
    }
  }
}


/* ======
 * Hero item - Coloring
 * ====== */

.Hero-item {
  &.-color-lightOnDark {
    background-color: #ffffff;
    color: #ffffff;

    .Hero-overlay {
      background-color: rgba(#000000, 0.5);
    }
  }

  &.-color-darkOnLight {
    background-color: $colorText;
    color: $colorText;

    .Hero-overlay {
      background-color: rgba(#ffffff, 0.75);
    }
  }
}


/* ======
 * Hero item - Align
 * ====== */

.Hero-item {
  &.-alignContent-center {
    .Hero-wrap {
      justify-content: center;
    }

    .Hero-content {
      align-items: center;
      text-align: center;
    }
  }

  &.-alignContent-right {
    .Hero-wrap {
      justify-content: flex-end;
    }

    .Hero-content {
      align-items: flex-end;
      text-align: right;
    }
  }
}


/* ======
 * Hero item - Primary
 * ====== */

.Hero-item--primary {
  .Hero-content {
    width: 80%;

    @include breakpoint('smallUp') {
      width: 75%;
    }

    @include breakpoint('mediumUp') {
      width: 50%;
    }
  }
}
