/* ========================================
 * Hero
 * ======================================== */

.Hero {
  position: relative;
}

  .Hero-item {
    display: table;
    height: rem($baseSpace * 10);
    position: relative;
    width: 100%;
  }

    .Hero-content {
      display: table-cell;
      padding-bottom: rem($baseSpace);
      padding-top: rem($baseSpace);
      position: relative;
      vertical-align: middle;
      width: 100%;
      z-index: 2;
    }

      .Hero-figure {
        @extend %positionAbsoluteFill;
        background-position: center;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
        z-index: 0;

        img {
          display: block;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }

        .no-js & > img {
          display: none;
        }
      }

      .Hero-overlay {
        @extend %positionAbsoluteFill;
        content: '';
        z-index: 1;
      }


/* ======
 * Hero - size
 * ====== */

.Hero {
  &.-full {
    .Hero-item {
      height: 100vh;
    }
  }

  &.-l {
    .Hero-item {
      height: rem($baseSpace * 18);
    }

    @include breakpoint('mediumUp') {
      .Hero-item {
        height: rem($baseSpace * 28);
      }
    }
  }

  &.-m {
    .Hero-item {
      height: rem($baseSpace * 14);
    }

    @include breakpoint('mediumUp') {
      .Hero-item {
        height: rem($baseSpace * 16);
      }
    }
  }
}


/* ======
 * Hero item - align
 * ====== */

.Hero-item {
  &.-alignContent-top {
    .Hero-content {
      padding-top: rem($baseSpace * 2);
      vertical-align: top;
    }
  }

  &.-alignContent-bottom {
    .Hero-content {
      padding-bottom: rem($baseSpace * 2);
      vertical-align: bottom;
    }
  }
}


/* ======
 * Hero item - coloring
 * ====== */

.Hero-item {
  &.-color-lightOnDark {
    background-color: #ffffff;
    color: #ffffff;

    .Hero-overlay {
      background-color: rgba(#000000, 0.5);
    }
  }

  &.-color-darkOnLight {
    background-color: $colorText;
    color: $colorText;

    .Hero-overlay {
      background-color: rgba(#ffffff, 0.75);
    }
  }
}
