/* ========================================
 * Hero
 * ========================================
 *
 * @reusable true
 */

.Hero {
  position: relative;
}

  .Hero-item {
    position: relative;
    width: 100%;
  }

    .Hero-wrap {
      position: relative;
      z-index: 2;
    }

      .Hero-grid {
        align-items: center;
        min-height: rem($baseSpace * 10);
        padding-bottom: rem($baseSpace * 2);
        padding-top: rem($baseSpace * 2);
      }

        .Hero-title {}

    .Hero-figure {
      @extend %positionAbsoluteFill;
      background-position: center;
      background-size: cover;
      background-position: center;
      margin-bottom: 0;
      z-index: 0;

      img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      .no-js & > img {
        display: none;
      }
    }

    .Hero-overlay {
      @extend %positionAbsoluteFill;
      content: '';
      z-index: 1;
    }


/* ======
 * Hero - size
 * ====== */

.Hero {
  &.-full {
    .Hero-grid {
      min-height: 100vh;
    }
  }

  &.-l {
    .Hero-grid {
      min-height: rem($baseSpace * 18);
    }

    @include breakpoint('mediumUp') {
      .Hero-grid {
        min-height: rem($baseSpace * 28);
      }
    }
  }

  &.-m {
    .Hero-grid {
      min-height: rem($baseSpace * 14);
    }

    @include breakpoint('mediumUp') {
      .Hero-grid {
        min-height: rem($baseSpace * 16);
      }
    }
  }
}


/* ======
 * Hero item - coloring
 * ====== */

.Hero-item {
  &.-color-lightOnDark {
    background-color: #ffffff;
    color: #ffffff;

    .Hero-overlay {
      background-color: rgba(#000000, 0.5);
    }
  }

  &.-color-darkOnLight {
    background-color: $colorText;
    color: $colorText;

    .Hero-overlay {
      background-color: rgba(#ffffff, 0.75);
    }
  }
}


/* ======
 * Hero - Primary
 * ====== */

.Hero--primary {
  .Hero-grid {
    > .Grid-cell {
      width: 80%;

      @include breakpoint('smallUp') { width: 75%; }
      @include breakpoint('mediumUp') { width: 50%; }
    }

    &.-justify-end {
      .Hero-content {
        text-align: right;
      }
    }

    &.-justify-center {
      .Hero-content {
        text-align: center;
      }
    }
  }
}
