/* ========================================
 * Hero slider `slick.js` settings
 * ========================================
 *
 * @extends `.Hero-slider{}` in _Hero.scss.
 * @reusable true
 *
 * 1. Prevents slider items from collapsing during load and displays them
 *    after initialization. First item is always displayed.
 * 2. Remove the ugly outline when dragged
 */

.Hero-slider {
  .Hero-item {
    display: none; /* [1] */
    outline: 0; /* [2] */

    &:first-child {
      display: table; /* [1] */
    }
  }

  &.slick-initialized {
    .Hero-item {
      display: table; /* [1] */
    }
  }
}
