/* ========================================
 * Hero - Starters
 * ========================================
 *
 * Random uncategorised starters
 *
 * @reusable true
 */


/* ======
 * Hero item - block
 * ====== */

.Hero-item--block {
  .Hero-wrap {
    padding: 0;
  }

  .Hero-grid {
    align-items: stretch;

    > .Grid-cell {
      display: flex;
      max-width: rem($baseSpace * 20);
      width: 50%;
    }
  }

    .Hero-content {
      align-items: flex-start;
      background-color: rgba($colorPrimary, 0.75);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 $baseEdgeSpace;

      @include breakpoint('mediumUp') {
        padding: 0 rem($baseSpace * 2);
      }
    }
}
