/* ========================================
 * Label
 * ========================================
 *
 * @reusable true
 */

.Label {
  @include textTruncate();
  @include fontSize($baseFontSize-xs, $baseSpace);
  color: #ffffff;
  display: inline-block;
  padding: 0 rem($baseSpace / 2);
}


/* ======
 * Label - Style
 * ====== */

.Label {
  &.-round {
    @extend %round;
  }
}


/* ======
 * Label - Default
 * ====== */

.Label--default {
  background-color: #ffffff;
  color: $colorText;

  &.-border {
    box-shadow: inset 0 0 0 1px $colorBorderDefault;
  }
}


/* ======
 * Label - Primary
 * ====== */

.Label--primary {
  background-color: $colorPrimary;

  &.-border {
    box-shadow: inset 0 0 0 1px darken($colorPrimary, 5);
  }
}


/* ======
 * Label - Info
 * ====== */

.Label--info {
  background-color: $colorInfo;

  &.-border {
    box-shadow: inset 0 0 0 1px darken($colorInfo, 15);
  }
}


/* ======
 * Label - Success
 * ====== */

.Label--success {
  background-color: $colorSuccess;

  &.-border {
    box-shadow: inset 0 0 0 1px darken($colorSuccess, 10);
  }
}


/* ======
 * Label - Warning
 * ====== */

.Label--warning {
  background-color: $colorWarning;

  &.-border {
    box-shadow: inset 0 0 0 1px darken($colorWarning, 10);
  }
}


/* ======
 * Label - Danger
 * ====== */

.Label--danger {
  background-color: $colorDanger;

  &.-border {
    box-shadow: inset 0 0 0 1px darken($colorDanger, 10);
  }
}

