/* ========================================
 * List
 * ========================================
 *
 * @reusable true
 */

.List {
  @extend %clearfix;
  @extend %resetList;
  margin-bottom: rem($baseSpace);
}

.List-item {
  margin-bottom: rem($baseSpace);

  &:last-child {
    margin-bottom: 0;
  }
}

  .List-text {
    @extend %Text.--s;
    text-align: left;
    display: block;
  }

  .List-meta {
    @extend %Text.--s;
  }


/* ======
 * List - Icon
 * ====== */

.List--icon {

  .List-item {
    padding-left: rem($baseSpace / 1.5);
    position: relative;
    margin-bottom: rem($baseSpace / 4);
  }

    .List-item-icon {
      position: absolute;
      top: 5px;
      left: 0;
    }
}
