/* ========================================
 * Keep title in larger widths
 * ========================================
 *
 * @extends `.Navbar.-horizontal {}` in _Navbar.-horizontal.scss
 */

.Navbar.-l-horizontal.-l-horizontal-keepTitle {
  @include breakpoint('largeUp') {
    display: flex;

    .Navbar-trigger { display: block; }
      .Navbar-trigger-inner { width: auto; }
      .Navbar-trigger-text { display: none; }
      .Navbar-trigger-sub { display: none; }
  }
}

