/* ========================================
 * Primary navbar
 * ========================================
 *
 * @extends `.Navbar {}` in _Navbar.scss
 */

.Navbar--primary {
  background-color: #ffffff;

  .Navbar-link {
    background-color: #ffffff;
    border-top-color: darken(#ffffff, 8);
    color: $colorText;
    transition: color $transitionDuration;

    &:hover { color: $colorLink; }
  }

  .Navbar-subTrigger {
    background-color: #ffffff;
    border-left-color: darken(#ffffff, 8);
    border-top-color: darken(#ffffff, 8);
    color: $colorText;

    &:hover {
      .Navbar-subTrigger-icon {
        &:before { background: $colorLink; }
        &:after { color: $colorLink; }
      }
    }
  }

    .Navbar-subTrigger-icon {
      &:before {
        background: $colorText;
        transition: background-color $transitionDuration;
      }

      &:after {
        color: $colorText;
        transition: color $transitionDuration;
      }
    }

  .Navbar-sub {
    .Navbar-link  {
      background-color: darken(#ffffff, 6);
      border-color: darken(#ffffff, 12);
      color: inherit;

      &:hover { color: $colorLink; }
    }

    .Navbar-subTrigger {
      background-color: darken(#ffffff, 6);
      border-color: darken(#ffffff, 12);
      color: inherit;
    }

      .Navbar-subTrigger-icon {
        &:before { background-color: $colorText; }
        &:after { color: $colorText; }
      }

    ul {
      background-color: darken(#ffffff, 13);

      .Navbar-link {
        background-color: transparent;
        border-color: darken(#ffffff, 18);
        color: inherit;

        &:hover { color: $colorLink; }
      }

      .Navbar-subTrigger {
        background-color: transparent;
        border-color: darken(#ffffff, 18);
        color: inherit;
      }
    }
  }

  .Navbar-trigger-inner {
    background-color: $colorPrimary;
    color: #ffffff;
  }

    .Navbar-trigger-title {
      background-color: $colorPrimary;
      color: #ffffff;
    }

    .Navbar-trigger-sub {
      background-color: #ffffff;
      border-color: transparent;
      color: $colorPrimary;
    }

      .Navbar-trigger-sub-icon {
        border-top-color: $colorPrimary;

        &:before, &:after {
          background-color: $colorPrimary;
        }
      }
}
