/* ========================================
 * Navigation bar
 * ======================================== */

.Navbar {
  user-select: none;
}

  .Navbar-self {
    display: none;

    .Navbar.is-open & { display: block; }
  }

    .Navbar-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

      .Navbar-link {
        border-top: 1px solid transparent;
        cursor: pointer;
        padding: $Navbar-padding ($Navbar-padding * 2);
        width: calc(100% - #{($baseSpace * 2)});

        &:only-child {
          border-right: 0;
          width: 100%;
        }
      }

      .Navbar-subTrigger, %Navbar-subTrigger {
        align-items: center;
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
        display: flex;
        padding: $Navbar-padding 0;
        justify-content: center;
        text-align: center;
        width: 13%;
        width: calc(#{($baseSpace * 2)});
      }

        .Navbar-subTrigger-icon {
          @include shapeArrow('down', $colorText);

          .Navbar-item.is-open > .Navbar-subTrigger > & {
            transform: rotate(0);
          }
        }

    .Navbar-sub {
      display: none;
      width: 100%;

      .Navbar-item.is-open > & { display: block; }

      ul {
        ul {
          .Navbar-link { padding-left: ($Navbar-padding * 2.5); }

          ul {
            .Navbar-link { padding-left: ($Navbar-padding * 3.5); }

            ul {
              .Navbar-link { padding-left: ($Navbar-padding * 4.5); }
            }
          }
        }
      }
    }

  .Navbar-trigger {
    display: flex;
  }

    .Navbar-trigger-inner {
      display: flex;
      width: calc(100% - #{($baseSpace * 2)});
    }

      .Navbar-trigger-title, .Navbar-trigger-text {
        padding: $Navbar-padding ($Navbar-padding * 2);
      }

      .Navbar-trigger-title {
        @include textTruncate();
        flex: 1;
        font-weight: $baseFontWeightStrong;
      }

    .Navbar-trigger-sub {
      @extend %Navbar-subTrigger;
      border-top: 0;
    }

      .Navbar-trigger-sub-icon {
        @include shapeMenu();
      }
