// ========================================
// Navbar
// ========================================

$Navbar-padding: $baseSpace / 2;

$Navbar-horizontalKeepTitle: true !default;
$Navbar-horizontal: false !default;
$Navbar-horizontal-s: false !default;
$Navbar-horizontal-m: false !default;
$Navbar-horizontal-l: true !default;
