/* ========================================
 * Navbar
 * ========================================
 *
 * @reusable true
 */

.Navbar {
  user-select: none;

  ul { @extend %resetList; }
  &.is-open > ul { display: block; }
}

  .Navbar-ctrl + ul { display: none; }

    .Navbar-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

      .Navbar-link {
        align-items: center;
        border-top: 1px solid transparent;
        display: flex;
        flex: 1;
        cursor: pointer;
        min-height: $Navbar-space * 2;
        padding: ($Navbar-space / 2)
                 $Navbar-space
                 floor(($Navbar-space - 1px) / 2)
                 $Navbar-space;

        &:only-child {
          border-right: 0;
          width: 100%;
        }
      }

      .Navbar-trigger, %Navbar-trigger {
        align-items: center;
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
        display: flex;
        min-width: $Navbar-space * 2;
        justify-content: center;
        text-align: center;
      }

        .Navbar-trigger-icon {
          @include shapeArrow('down', $colorTextLight);

          .Navbar-item.is-open > .Navbar-trigger > & {
            transform: rotate(0);
          }
        }

    .Navbar-sub {
      display: none;
      flex-basis: 100%;

      .Navbar-item.is-open > & { display: block; }

      ul {
        ul {
          .Navbar-link { padding-left: ($Navbar-space * 2.5); }

          ul {
            .Navbar-link { padding-left: ($Navbar-space * 3.5); }

            ul {
              .Navbar-link { padding-left: ($Navbar-space * 4.5); }
            }
          }
        }
      }
    }

  .Navbar-ctrl {
    display: flex;
    justify-content: space-between;
    min-height: $Navbar-space * 2;
  }

    .Navbar-ctrl-inner {
      align-items: center;
      justify-content: flex-end;
      display: flex;
      flex: 1;
    }

      .Navbar-ctrl-title, .Navbar-ctrl-text {
        padding: 0 $Navbar-space;
      }

      .Navbar-ctrl-title {
        @include textTruncate();
        align-items: center;
        display: flex;
      }

    .Navbar-ctrl-trigger {
      @extend %Navbar-trigger;
      border-top: 0;
    }

      .Navbar-ctrl-trigger-icon {
        @include shapeMenu();
      }
