/* ========================================
 * Horizontal modifier
 * ========================================
 *
 * @extends `.Navbar {}` in _Navbar.scss
 * @reusable true
 */

@mixin NavbarHorizontal($namespace: '', $keepTitle: false) {
  .Navbar.#{$namespace}-horizontal {
    justify-content: space-between;

    .Navbar-ctrl { display: none; }

    > ul {
      display: flex;
      padding: 0 $Navbar-space;
    }

    .Navbar-ctrl + ul { display: flex; }

      > ul > .Navbar-item {
        position: relative;
        margin: 0 ($Navbar-space / 4);

        > .Navbar-link {
          border: 0;
          padding: 0 ($Navbar-space / 2);
        }

        > .Navbar-trigger {
          border: 0;
          margin-left: -($Navbar-space / 8);
          min-width: auto;
        }
      }

        .no-touchevents & .Navbar-item.is-open > .Navbar-trigger
        > .Navbar-trigger-icon {
          @include shapeArrow('down', $colorTextLight);
        }

      .Navbar-sub {
        @include dropdown($arrow: false);
        @include fontSize($baseFontSize-s, $baseLineHeight-s);
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        left: auto;
        right: 0;

        .Navbar-link {
          border-top: 1px solid $colorBorderPrimary;
          min-height: 0;
          padding: ($Navbar-space / 3) 0;
        }

        .Navbar-item:first-child .Navbar-link {
          border-top: 0;
        }

        ul, .Navbar-trigger {
          display: none !important;
        }
      }

      > ul > .Navbar-item:last-child > .Navbar-sub {
        left: auto;
        right: 0;
      }

      .no-touchevents & .Navbar-item:hover > .Navbar-sub,
      .no-touchevents & .Navbar-item:focus > .Navbar-sub,
      .no-touchevents & .Navbar-item:hover.is-open > .Navbar-sub {
        @include dropdown($state: 'is-open');
      }

      .no-touchevents & .Navbar-item.is-open > .Navbar-sub {
        display: none;
      }
  }

  @if $keepTitle {
    .Navbar.#{$namespace}-horizontal.-keepTitle {
      display: flex;

      .Navbar-ctrl { display: flex; }
      .Navbar-ctrl-inner { width: auto; }
      .Navbar-ctrl-text { display: none; }
      .Navbar-ctrl-trigger { display: none; }
    }
  }
}

@if $Navbar-horizontal {
  @include NavbarHorizontal($keepTitle: false);
}

@if $Navbar-horizontal-s {
  @include breakpoint('smallUp') {
    @include NavbarHorizontal(-s, $Navbar-horizontalKeepTitle);
  }
}

@if $Navbar-horizontal-m {
  @include breakpoint('mediumUp') {
    @include NavbarHorizontal(-m, $Navbar-horizontalKeepTitle);
  }
}

@if $Navbar-horizontal-l {
  @include breakpoint('largeUp') {
    @include NavbarHorizontal(-l, $Navbar-horizontalKeepTitle);
  }
}

