/* ========================================
 * Text
 * ========================================
 *
 * @reusable true
 */

.Text {}


/* ======
 * Text - type
 * ====== */

.Text {
  &.-type-meta {}
}


/* ======
 * Text - transform
 * ====== */

.Text {
  &.-transform-upper {
    text-transform: uppercase;
  }
}


/* ======
 * Text - align
 * ====== */

.Text {
  &.-center {  text-align: center; }
  &.-left { ext-align: left; }
  &.-right { text-align: right; }
}


/* ======
 * Text - size
 * ====== */

.Text {
  &.-l {
    @include fontSize($baseFontSize-l, $baseLineHeight-l);

    @include breakpoint('mediumDown') {
      @include fontSize($baseFontSize, $baseLineHeight);
    }
  }

  &.-s { @include fontSize($baseFontSize-s, $baseLineHeight-s); }
  &.-xs {  @include fontSize($baseFontSize-xs, $baseLineHeight-xs); }
}
