/* ========================================
 * Width
 * ========================================
 *
 * @reusable true
 */

@mixin Width($namespace: '') {
  .#{$namespace}Width--1of12  { width: 8.333%; }
  .#{$namespace}Width--2of12  { width: 16.666%; }
  .#{$namespace}Width--3of12  { width: 25%; }
  .#{$namespace}Width--4of12  { width: 33.333%; }
  .#{$namespace}Width--5of12  { width: 41.666% }
  .#{$namespace}Width--6of12  { width: 50%; }
  .#{$namespace}Width--7of12  { width: 58.333%; }
  .#{$namespace}Width--8of12  { width: 66.666%; }
  .#{$namespace}Width--9of12  { width: 75%; }
  .#{$namespace}Width--10of12 { width: 83.333%; }
  .#{$namespace}Width--11of12 { width: 91.666%; }
  .#{$namespace}Width--12of12 { width: 100%; }
}

@if $Width {
  @include Width();
}

@if $Width-s  {
  @include mq(s) {
    @include Width(s-);
  }
}

@if $Width-m  {
  @include mq(m) {
    @include Width(m-);
  }
}

@if $Width-l  {
  @include mq(l) {
    @include Width(l-);
  }
}
