// ========================================
// Font sizing with vertical rhythm
// ========================================

@mixin fontSize($fontSize, $lineHeight: 'rhythm'){
  font-size: ($fontSize / $base-fontSize) * 1rem;

  @if $lineHeight == 'rhythm' {
    line-height: ceil($fontSize / $base-lineHeightPx) * ($base-lineHeightPx / $fontSize);
  } @else {
    line-height: $lineHeight;
  }
}
