// ========================================
// CSS arrow shape
// ========================================

@mixin shapeArrow(
  $direction: 'up',
  $color: $colorText,
  $thickness: 2px,
  $caretWidth: 10px,
  $line: false,
  $lineHeight: 12px,
  $size: 1,
  $scale: null
  ) {
  display: inline-block;
  position: relative;

  @if $line {
    height: $lineHeight * $size;
    width: $lineHeight * $size;
  } @else {
    height: $caretWidth * $size;
    width: $caretWidth * $size;
  }

  //
  // Direction and scaling
  //
  @if $scale {
    $scale: scale($scale);
  }

  @if $direction == 'right' {
    transform: rotate(-270deg) $scale;
  } @elseif $direction == 'down' {
    transform: rotate(180deg) $scale;
  } @elseif $direction == 'left' {
    transform: rotate(-90deg) $scale;
  } @else {
    transform: $scale;
  }

  //
  // Arrow line
  //
  @if $line {
    &:before {
      background-color: $color;
      content: '';
      display: block;
      height: ($lineHeight) * $size;
      left: 50%;
      margin-left: -($thickness / 2);
      position: absolute;
      top: 0;
      width: $thickness;
    }
  }

  //
  // Arrow caret
  //
  &:after {
    border-left: $thickness solid;
    border-top: $thickness solid;
    color: $color;
    content: '';
    display: block;
    height: ($caretWidth * $size);
    position: absolute;
    transform: rotate(45deg);
    width: $caretWidth * $size;

    @if $line {
      left: ((($lineHeight - $caretWidth) / 2) * $size);

      @if $thickness > 3 {
        top: 0;
      } @elseif $thickness == 1 {
        top: 1px;
      } @else {
        top: ($thickness * $size) - 1px;
      }
    } @else {
      top: 3px;
    }
  }
}
