/* ========================================
 * Navigation bar
 * ======================================== */

.Nav--bar {
  @extend %cf;
  background-color: $Navbar-bgColor;

  .Nav-self { @extend %is-hidden; }

  .Nav-trigger-link,
  .Nav-trigger-sub,
  .Nav-link,
  .Nav-subTrigger {
    display: block;
    float: left;
    cursor: pointer;
  }

  .Nav-item { @extend %cf; }
  .Nav-link { border-top: 1px solid; }

  .Nav-trigger-link,
  .Nav-link {
    width: 87%;
    width: calc(100% - #{$Navbar-subTriggerWidth});
    padding: $Navbar-padding $Navbar-padding * 2;

    &:only-child { width: 100%; }
  }

  .Nav-trigger-sub,
  .Nav-subTrigger {
    width: 13%;
    width: calc(#{$Navbar-subTriggerWidth});
    text-align: center;
    border-left: $Navbar-subTriggerBorderWidth solid;
    padding: $Navbar-padding 0;
  }

  .Nav-subTrigger { border-top: 1px solid; }

  .Nav-trigger {
    @extend %cf;

    &-link {
      text-align: right;
      padding-right: $Navbar-padding;
    }

    &-sub {
      .IconCss--hamburger { top: -5px; }
    }
  }

  /**
   * Sub navigation
   */
  .Nav-sub {
    @extend %cf;
    display: none;
    clear: both;

    /**
     * Third level
     */
    ul {

      /**
       * Deeper levels
       */
      ul  {
        .Nav-link {
          padding-left: $Navbar-padding * 2.5;
        }

        ul {
          .Nav-link {
            padding-left: $Navbar-padding * 3.5;
          }

          ul {
            .Nav-link {
              padding-left: $Navbar-padding * 4.5;
            }
          }
        }
      }
    }
  }


  /* ======
   * States
   * ====== */

  &.is-open .Nav-self { @extend %is-visible; }

  .Nav-item.is-open {
    > .Nav-sub { @extend %is-visible; }
    > .Nav-subTrigger > .IconCss--arrowDown--xs {
      @extend %IconCss--arrowUp--xs;
      top: -3px;
    }
  }
}