/* ========================================
 * ButtonCollection
 * ========================================
 *
 * @overrides `.Button{}` in _Button.scss
 */

.ButtonCollection {
  margin-bottom: baseSpace();

  > .Button {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }
}
