/* =======================================
 * Button collection - Default
 * =======================================
 *
 * @extends `.Button{}` in _Button.scss
 */

.Buttons--default {
  display: inline-block;
  margin-bottom: rem($baseSpace);

  > .Button {
    align-items: baseline;
    border-radius: 0;
    display: flex;
    justify-content: center;
    margin: 0;

    &:not(:last-child) {
      border-bottom-width: 0;
    }
  }

  > .-round {
    &:first-child {
      border-radius: $Button-borderRadius $Button-borderRadius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $Button-borderRadius $Button-borderRadius;
    }
  }

  &.-justify {
    width: 100%;
  }
}
