/* =======================================
 * Button - Primary
 * ======================================= */

.Button--primary {
  background-color: $primary;
  border-color: darken($primary, 4);
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: darken($primary, 5);
    color: #ffffff;
  }
}
