/* =======================================
 * Button - Default
 * ======================================= */

.Button--default {
  background-color: #ffffff;
  border-color: $border;
  color: $primary;

  &:hover,
  &:focus {
    background-color: darken(#ffffff, 3);
  }
}
