// =======================================
// Button - Config
// =======================================

$Button-borderWidth: 1px;
$Button-fontSize: $fontSize;
$Button-fontWeight: $fontWeightStrong;
$Button-height: $space * 1.75;
$Button-l: 1.5;
$Button-s: 0.78;
