/* ========================================
 * Button
 * ======================================== */

.Button {
  @extend %textTruncate;
  @include fontSize($Button-fontSize, rem(($Button-height) - ($Button-borderWidth * 2)));
  background-color: transparent;
  border: $Button-borderWidth solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: $Button-fontWeight;
  margin-bottom: rem($baseSpace);
  margin-right: rem($baseSpace / 2);
  outline: 0;
  padding: 0 rem($baseSpace);
  position: relative;
  text-align: center;
  transition: $transitionDuration;
  user-select: none;
  vertical-align: top;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

  .Button-dropdown {
    @include dropdown();

    .Button.is-open & {
      @include dropdown($state: 'is-open');
    }
  }


/* ======
 * Button - Style
 * ====== */

.Button {
  &.-round {
    @extend %round;
  }

  &.-pill {
    @extend %pill;
  }
}


/* ======
 * Button - States
 * ====== */

.Button {
  &.is-disabled {
    @extend %disabled;
  }

  &.is-open {
    overflow: visible;
  }
}


/* ======
 * Button - Size
 * ====== */

.Button {
  &.-l {
    @include fontSize($baseFontSize-l, rem(($Button-height * $Button-l) - ($Button-borderWidth * 2)));
    padding: 0 rem($baseSpace * $Button-l);
  }

  &.-s {
    @include fontSize($baseFontSize-s, rem(($Button-height * $Button-s) - ($Button-borderWidth * 2)));
    padding: 0 rem($baseSpace * $Button-s);
  }

  &.-full {
    display: block;
    width: 100%;
  }
}
