// =======================================
// Button - Config
// =======================================

$Button-borderRadius: 4px;
$Button-borderWidth: 1px;
$Button-fontSize: $baseFontSize;
$Button-fontWeight: $baseFontWeightStrong;
$Button-height: $baseSpace * 1.75;
$Button-l: 1.5;
$Button-s: 0.78;
