/* ========================================
 * Button - Default
 * ========================================
 *
 * @extends `.Button{}` in _Button.scss
 */

.Button--default {
  background-color: #ffffff;
  border-color: $colorBorderDefault;
  color: $colorPrimary;

  &:hover,
  &:focus {
    background-color: darken(#ffffff, 3);
  }
}
