/* =======================================
 * Text Mixins
 * ======================================= */

@mixin TextMeta() {
  color: $textLight;
}

@mixin TextSubtitle() {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin TextLink() {
  color: $text;

  &:hover, &:focus {
    color: $link;
  }
}

@mixin TextLead() {
  @include fontSize(26px, 36px);
  color: $textLight;
  font-weight: 300;
  margin-bottom: rem($space * 1.5);

  @include mq($until: s) {
    @include fontSize($fontSize-l, $lineHeight-l);
  }
}
