/* =======================================
 * Text
 * ======================================= */

.Text {}


/* ======
 * Size
 * ====== */

.Text {
  &.-l  { @include fontSize($fontSize-l, $lineHeight-l);   }
  &.-s  { @include fontSize($fontSize-s, $lineHeight-s);   }
  &.-xs { @include fontSize($fontSize-xs, $lineHeight-xs); }
}


/* ======
 * Lead
 * ====== */

.Text--lead {
  @include fontSize(26px, 36px);
  color: $textLight;
  font-weight: 300;
  margin-bottom: rem($space * 1.5);

  @include mq($until: s) {
    @include fontSize($fontSize-l, $lineHeight-l);
  }
}

