/* =======================================
 * Text Mixins
 * ======================================= */

@mixin TextMeta() {
  color: $textLight;
}

@mixin TextLink() {
  color: $text;

  &:hover, &:focus {
    color: $link;
  }
}
