
/*  ===================
    Global
    ===================  */

/*  Html, body  */
    html {
        @include tap-color;
        background-color: $base-bg-color;
        @if $basehold {
            background-image: url(http://basehold.it/i/#{$basehold});
        }
        color: $text-color;
        font: {
            family: $base-font-family;
            size: 100%;
        }
        line-height: $base-line-height / $base-font-size;
        overflow-y:scroll;
    }

/*  Base margin-bottom  */
    %base-margin-bottom,
    hgroup,
    blockquote, address,
    table,
    fieldset,figure,
    pre {
        margin-bottom:$base-space;
    }

