/* =======================================
 * Form grid
 * =======================================
 *
 * @extends `.Form-item{}, .Form-addon{}, .Form-button{}` in _Form.scss
 */

.Form-grid {
  display: flex;
  flex-direction: column;
}

  .Form-cell {
    display: flex;
    flex: 1 0 auto;

    .Form-item,
    .Form-addon,
    .Form-button {
      border-radius: 0;
      margin-bottom: 0;
    }

    .Form-item,
    .Form-addon {
      &:first-child:not(:only-child) {
        border-right-width: 0;
      }
    }

    .Form-item:not(textarea),
    .Form-addon {
      @include textTruncate();
    }

    &:not(:first-child) {
      .Form-item,
      .Form-addon {
        border-top-width: 0;
      }
    }

    &:last-child {
      margin-bottom: rem($baseSpace);
    }

    &:first-child:not(:only-child) {
      .-round {
        &:first-child {
          border-radius: $Form-borderRadius 0 0 0;
        }

        &:last-child {
          border-radius: 0 $Form-borderRadius 0 0;
        }

        &:only-child {
          border-radius: $Form-borderRadius $Form-borderRadius 0 0;
        }
      }
    }

    &:last-child:not(:only-child) {
      .-round {
        &:first-child {
          border-radius: 0 0 0 $Form-borderRadius;
        }

        &:last-child {
          border-radius: 0 0 $Form-borderRadius 0;
        }

        &:only-child {
          border-radius: 0 0 $Form-borderRadius $Form-borderRadius;
        }
      }
    }

    &:only-child {
      .-round {
        &:first-child {
          border-radius: $Form-borderRadius 0 0 $Form-borderRadius;
        }

        &:last-child {
          border-radius: 0 $Form-borderRadius $Form-borderRadius 0;
        }

        &:only-child {
          border-radius: $Form-borderRadius $Form-borderRadius;
        }
      }
    }

    > .Form-button {
      &:only-child {
        width: 100%;
      }
    }
  }
