// =======================================
// Form
// =======================================

$Form-borderWidth: 1px;
$borderRadius: $borderRadius;
$Form-fontSize: $fontSize-s;
$Form-fontWeight: $fontWeight;
$Form-height: $space * 2;
$Form-padding: $space / 1.5;

$Form-gridHorizontal: false;
$Form-gridHorizontal-s: false;
$Form-gridHorizontal-m: false;
$Form-gridHorizontal-l: false;
