/* =======================================
 * Form - Default
 * ======================================= */

%Form--default-Form-item {
  @include colorPlaceholder($text);
  background-color: #ffffff;
  border-color: $border;
  color: $text;

  &:hover,
  &:focus {
    @include colorPlaceholder($text);
    color: $text;
  }
}

.Form--default {
  .Form-item {
    @extend %Form--default-Form-item;
  }

  .Form-item--select {
    select {
      color: $textLight;
    }
  }
}
