/* =======================================
 * Form grid - Horizontal
 * ======================================= */

@mixin FormGridHorizontal($namespace: '') {
  .Form-grid.#{$namespace}-horizontal {
    flex-direction: row;

    > .Form-cell {
      flex-direction: row;

      .Form-item,
      .Form-addon {
        border-top-width: $Form-borderWidth;
        border-right-width: 0;
      }

      &:first-child {
        .-round {
          &:first-child {
            border-radius: $borderRadius 0 0 $borderRadius;
          }

          &:last-child {
            border-radius: 0;
          }
        }
      }

      &:last-child {
        .Form-item,
        .Form-addon {
          &:last-child {
            border-right-width: $Form-borderWidth;
          }
        }

        .-round {
          border-radius: 0;

          &:last-child {
            border-radius: 0 $borderRadius $borderRadius 0;
          }
        }
      }
    }

    > .Form-button {
      border-top-width: $Form-borderWidth;

      &.-round {
        border-radius: 0 $borderRadius $borderRadius 0;
      }
    }
  }
}

@if $Form-gridHorizontal {
  @include FormGridHorizontal();
}

@if $Form-gridHorizontal-s {
  @include mq(s) {
    @include FormGridHorizontal(-s);
  }
}

@if $Form-gridHorizontal-m {
  @include mq(m) {
    @include FormGridHorizontal(-m);
  }
}

@if $Form-gridHorizontal-l {
  @include mq(l) {
    @include FormGridHorizontal(-l);
  }
}
