/* ========================================
 * Form - Default
 * ========================================
 *
 * @extends `.Form{}` in _Form.scss
 */

.Form--default {
  %Form--default-Form-item, .Form-item {
    background-color: #ffffff;
    border-color: $colorBorderDefault;
    color: $colorText;
  }

  .Form-item {
    @include colorPlaceholder($colorText);
    color: $colorTextLight;

    &:hover,
    &:focus {
      @include colorPlaceholder($colorText);
      color: $colorText;
    }
  }

  .Form-item--select {
    select {
      color: $colorTextLight;
    }
  }
}
