// =======================================
// Form
// =======================================

$Form-borderWidth: 1px;
$Form-borderRadius: $borderRadius;
$Form-fontSize: $baseFontSize-s;
$Form-fontWeight: $baseFontWeight;
$Form-height: $baseSpace * 2;
$Form-padding: $baseSpace / 1.5;

$Form-gridHorizontal: false;
$Form-gridHorizontal-s: false;
$Form-gridHorizontal-m: false;
$Form-gridHorizontal-l: false;
