/* =======================================
 * Form icon
 * ======================================= */

.Form-icon {
  @extend %Form-item-layout;
  @extend %Form-item-appearance;
  background-color: transparent;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 1;

  &:last-child {
    left: auto;
    right: 0;
  }
}


/* ======
 * Form item - Required modifiers to use with form icons
 * ======
 *
 * Alternatively move this inside the main `_Form.scss`.
 */

.Form-item {
  &:not(.Form-item--select).-icon {
    padding-left: rem($Form-padding * 2.5);
    padding-right: rem($Form-padding * 2.5);
  }
}

.Form-item--select {
  &.-icon {
    > select:not(:first-child) {
      padding-left: rem($Form-padding * 2.5);
      padding-right: rem($Form-padding * 2.5);
    }
  }
}


/* ======
 * Form icon - Primary variation
 * ======
 *
 * Alternatively move this inside the main `.Form--default{}`.
 */

.Form--default {
  .Form-icon {
    .IconCss[class*='-chevron']:after {
      border-color: $colorTextLight;
    }
  }

  .Form-item:hover .Form-icon {
    .IconCss[class*='-chevron']:after {
      border-color: $colorText;
    }
  }
}
