// =======================================
// Form
// =======================================

$Form-borderWidth: 1px;
$Form-fontSize: $fontSize-s;
$Form-fontWeight: $fontWeight;
$Form-height: $space * 2;
$Form-padding: $space / 1.5;
