<nav class="docs-Navbar Navbar -color-primary -transform-horizontal -transform-horizontal-keepTitle" id="js-docs-Navbar">

  <div class="Navbar-trigger">
    <span class="Navbar-trigger-inner">
      <span class="Navbar-trigger-title">Mediasignal Web Starter Kit</span>
    </span>
    <span class="Navbar-trigger-sub" id="js-docs-Navbar-trigger">
      <i class="Navbar-trigger-sub-icon"></i>
    </span>
  </div>

  <ul class="Navbar-self">
    <li class="Navbar-item">
      <a class="Navbar-link" href="#">Components</a>
      <span class="Navbar-subTrigger">
        <i class="Navbar-subTrigger-icon"></i>
      </span>
      <ul class="Navbar-sub">
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/navbar.html">Navbar</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/hero.html">Hero</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/button.html">Button</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/form.html">Form</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>
