<div class="padding: 20px;">
  <h1>Hi</h1>
  <p>
    This is your default index file for <strong><%= appNameHumanize %></strong>

    <ul>
      <li>
        Generated on <%= (generatorDate) %> using <a href="<%= (generatorRepository) %>"><%= pkg.name %> v<%= pkg.version %></a>.
      </li>
    </ul>
  </p>
</div>
