/* =======================================
 * List
 * ======================================= */

.List {
  @include resetList();
  margin-bottom: rem($baseSpace);
}

.List-item {
  margin-bottom: rem($baseSpace);

  &:last-child {
    margin-bottom: 0;
  }
}

  .List-meta {
    @include fontSize($baseFontSize-s, $baseLineHeight-s);
  }

  .List-heading {
    @include fontSize($baseFontSize-s, $baseLineHeight-s);
    display: block;
  }
