/* =======================================
 * List
 * ======================================= */

.List {
  @include resetList();
  margin-bottom: rem($space);
}

.List-item {
  margin-bottom: rem($space);

  &:last-child {
    margin-bottom: 0;
  }
}

.List-meta {
  @include fontSize($fontSize-s, $lineHeight-s);
}

.List-heading {
  @include fontSize($fontSize-s, $lineHeight-s);
  display: block;
}
