<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Button</h1>

    <div class="Grid -auto">
      <div class="Grid-cell">
        <a href="#" class="Button Button--default -s">
          Button small
        </a>
        <a href="#" class="Button Button--default">
          Button default
        </a>
        <a href="#" class="Button Button--default -l">
          Button large
        </a>
        <a href="#" class="Button Button--primary">
          Button primary
        </a>
      </div>
    </div>

    <h1>Button advanced</h1>

    <div class="Grid -auto">
      <div class="Grid-cell">
        <div class="Button Button--default -round js-ButtonDropdown">
          Button
          <ul class="Button-dropdown">
            <li class="Dropdown-item">
              <a href="#">Dropdown item</a>
            </li>
          </ul>
        </div>
        <a href="#" class="Button Button--default -pill">
          Button
        </a>
        <a href="#" class="Button Button--default -pill -transparent">
          Button
        </a>
      </div>
      <div class="Grid-cell">
        <a class="Button Button--primary -round" href="#">
          Button
        </a>
        <a class="Button Button--primary -pill" href="#">
          Button
        </a>
        <a class="Button Button--primary -pill -transparent" href="#">
          Button
        </a>
      </div>
    </div>

    <div class="Grid -auto">

      <div class="Grid-cell Width--12of12">
        <h1>Default button collections</h1>
      </div>

      <div class="Grid-cell">

        <div class="Buttons Buttons--default -horizontal">
          <a class="Button Button--primary -round" href="#">
            Button
          </a>
          <a class="Button Button--primary -round" href="#">
            Button
          </a>
          <a class="Button Button--primary -round" href="#">
            Button
          </a>
        </div>

        <div class="Buttons Buttons--default -horizontal">
          <a class="Button Button--primary -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -pill" href="#">
            Button
          </a>
        </div>

        <div class="Grid -auto">
          <div class="Grid-cell">
            <div class="Buttons Buttons--default">
              <a class="Button Button--primary -round -s -transparent" href="#">
                Button
              </a>
              <a class="Button Button--primary -round -s -transparent" href="#">
                Button wider
              </a>
              <a class="Button Button--primary -round -s -transparent" href="#">
                Button
              </a>
            </div>
          </div>

          <div class="Grid-cell">
            <div class="Buttons Buttons--default -justify">
              <a class="Button Button--primary" href="#">
                Button
              </a>
              <a class="Button Button--primary" href="#">
                Button
              </a>
            </div>
          </div>

          <div class="Grid-cell">
            <div class="Buttons Buttons--default -round -justify">
              <a class="Button Button--primary" href="#">
                Button
              </a>
              <a class="Button Button--primary" href="#">
                Button
              </a>
              <a class="Button Button--primary" href="#">
                Button
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="Grid-cell">

        <div class="Buttons Buttons--default -horizontal -justify">
          <a class="Button Button--primary" href="#">
            Button
          </a>
          <a class="Button Button--primary" href="#">
            Button
          </a>
          <a class="Button Button--primary" href="#">
            Button
          </a>
        </div>

        <div class="Buttons Buttons--default -m-horizontal -justify">
          <a class="Button Button--primary -round -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -pill" href="#">
            Button
          </a>
        </div>

        <div class="Buttons Buttons--default -horizontal -justify">
          <a class="Button Button--primary -pill -transparent" href="#">
            Button
          </a>
          <a class="Button Button--primary -pill -transparent" href="#">
            Button
          </a>
          <a class="Button Button--primary -pill -transparent" href="#">
            Button
          </a>
        </div>

        <div class="Buttons Buttons--default -justify">
          <a class="Button Button--primary" href="#">
            Button
          </a>
          <a class="Button Button--primary" href="#">
            Button
          </a>
          <a class="Button Button--primary" href="#">
            Button
          </a>
        </div>

      </div>

    </div>

  </div>
</div>
