/* ========================================
 * HEADINGS
 * ======================================== */

/**
 * Heading styles
 */
.heading-xlg {
  font-size: em(96);
}

.heading-lg {
  font-size: em(72);
}

.heading-md {
  font-size: em(48);
}