/* =======================================
 * Article - Default
 * ======================================= */

.Article--default {
  .Article-heading {
    margin-bottom:rem($space / 3);

    > a {
      @include TextLink();
    }
  }

  .Article-meta {
    @include resetList();
    @include TextMeta();
    display: flex;
    margin-bottom: rem($space / 2);
  }

    .Article-meta-item {
      &:not(:first-child) {
        margin-left: rem($space / 3);
      }
    }
}
