/* ========================================
 * Form addon
 * ======================================== */

.Form-addon {
  @extend %Form-item-appearance;
  @extend %Form-item-layout;
  text-align: center;
  min-width: rem($baseSpace * 2)
}


/* ======
 * Form addon - Primary variation
 * ======
 *
 * Alternatively move this inside the main `.Form--default{}`
 */

.Form--default {
  .Form-addon {
    @extend %Form--default-Form-item;
    background-color: $colorBgLightest;
  }
}
