// ========================================
// Hero
// ========================================

$Hero-alignFigure: false !default;
$Hero-alignFigure-s: false !default;
$Hero-alignFigure-m: false !default;
$Hero-alignFigure-l: false !default;
