/* =======================================
 * Hero - Item - Default
 * =======================================
 *
 * @extends `.Hero-item{}` in _Hero-item.scss
 */

.Hero-item--default {
  .Hero-content {
    width: 80%;

    @include mq(s) {
      width: 75%;
    }

    @include mq(m) {
      width: 50%;
    }
  }
}
