/* ========================================
 * Headings
 * ======================================== */

#{headers(all)} {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 0 0 base-space();
}

h1, .h1 {
  font-size: $h1-size-s;
  line-height: 1.375;

  @include breakpoint("medium-up") {
    font-size: $h1-size;
    line-height: 1.5;
  }
}

h2, .h2 {
  font-size: $h2-size-s;
  line-height: 1.375;

  @include breakpoint("medium-up") {
    font-size: $h2-size;
    line-height: 1.5;
  }
}

h3, .h3 {
  font-size: $h3-size-s;
  line-height: 1.375;

  @include breakpoint("medium-up") {
    font-size: $h3-size;
    line-height: 1.5;
  }
}

h4, .h4 {
  font-size: $h4-size-s;
  line-height: 1.5;

  @include breakpoint("medium-up") {
    font-size: $h4-size;
    line-height: 1.5;
  }
}

h5, .h5 {
  font-size: $h5-size;
  line-height: 1.5;
}

h6, .h6 {
  font-size: $base-font-size;
  line-height: $base-line-height;
}