/* ========================================
 * Container
 * ======================================== */

.Container {
  padding-bottom: rem($base-space);
  padding-top: rem($base-space);

  @include breakpoint('mediumUp') {
    padding-bottom: rem($base-space * 2);
    padding-top: rem($base-space * 2);
  }
}
