/* ========================================
 * Container
 * ======================================== */

.Container {
  padding-bottom: baseSpace();
  padding-top: baseSpace();

  @include breakpoint("mediumUp") {
    padding-bottom: baseSpace(2);
    padding-top: baseSpace(2);
  }
}