/* ========================================
 * Grid
 * ======================================== */

.Grid {
  @extend %clearfix;
  list-style: none;
  margin-bottom: 0;
  margin-left: -($base-space);

  > .Grid {
    margin-left: 0;
  }

  /**
   * Sizing
   */
  &.-size-full {
    margin-left: 0;

    > .Grid-item {
      padding-left: 0;
    }
  }

  &.-size-l {
    margin-left: -($base-space * 2);

    > .Grid-item {
      padding-left: $base-space * 2;
    }
  }

  &.size-xl {
    margin-left: -($base-space * 4);

    > .Grid-item {
      padding-left: $base-space * 4;
    }
  }
}

  /**
   * Grid column
   */
  .Grid-item {
    float: left;
    margin-top: 0;
    min-height: 1px;
    padding-left: $base-space;
    width: 100%;
  }
