/* ========================================
 * Wrap
 * ======================================== */

.Wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: $base-edgeSpace;
  padding-right: $base-edgeSpace;
  max-width: $wrapWidth + baseSpace(4, px);

  @include breakpoint('largeUp') {
    padding-left: baseSpace(2, px);
    padding-right: baseSpace(2, px);
  }
}
