/* =======================================
 * Grid - Columns with rulers
 * =======================================
 *
 * @extends `.Grid{}` in _Grid.scss.
 */

@mixin GridRuler($namespace: '') {
  .#{$namespace}Grid--ruler {
    > .Grid-cell {
      border-left: 1px solid $colorBorderDefault;

      &:first-child {
        border-left: none;
      }
    }
  }
}

@if $Grid-ruler {
  @include GridRuler();
}

@if $Grid-ruler-s {
  @include mq(s) {
    @include GridRuler(s-);
  }
}

@if $Grid-ruler-m {
  @include mq(m) {
    @include GridRuler(m-);
  }
}

@if $Grid-ruler-l {
  @include mq(l) {
    @include GridRuler(l-);
  }
}
