// =======================================
// Grid
// =======================================

$Grid-gutter: $space / 2;

$Grid-justify: true;
$Grid-justify\@s: false;
$Grid-justify\@m: false;
$Grid-justify\@l: false;

$Grid-align: true;
$Grid-align\@s: false;
$Grid-align\@m: false;
$Grid-align\@l: false;

$Grid-ruler: false;
$Grid-ruler\@s: false;
$Grid-ruler\@m: false;
$Grid-ruler\@l: false;

$Grid-cellAlign: false;
$Grid-cellAlign\@s: false;
$Grid-cellAlign\@m: false;
$Grid-cellAlign\@l: false;

$Grid-cellOrder: false;
$Grid-cellOrder\@s: false;
$Grid-cellOrder\@m: false;
$Grid-cellOrder\@l: false;
