/* ========================================
 * Grid cell - Order
 * ========================================
 *
 * @extends `.Grid-cell{}` in _Grid.scss.
 * @reusable true
 */

@mixin GridCellOrder($namespace: '', $amount: 4) {
  @for $i from 1 through $amount {
    .Grid-cell.#{$namespace}-order#{$i} {
      order: #{$i};
    }
  }
}

@if $Grid-cellOrder {
  @include GridCellOrder();
}

@if $Grid-cellOrder-s {
  @include mq(s) {
    @include GridCellOrder(-s);
  }
}

@if $Grid-cellOrder-m {
  @include mq(m) {
    @include GridCellOrder(-m);
  }
}

@if $Grid-cellOrder-l {
  @include mq(l) {
    @include GridCellOrder(-l);
  }
}
