/* ========================================
 * Extendable states
 * ======================================== */

/**
 * Hidden
 */
%is-hidden { display: none; }

/**
 * Visible
 */
%is-visible { display: block; }

/**
 * Disabled
 */
%is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}