/* ========================================
 * Primary navigation bar
 * ========================================
 *
 * @extends `.Nav--bar {}` in _Nav--bar.scss
 */

.Nav--bar--primary {
  .Nav-link {
    border-top-color: $nav-bar-link-border-color;
    background-color: $nav-bar-link-bg-color;
    color: $nav-bar-link-color;

    &:hover {
      color: $nav-bar-link-hover-color !important;
    }
  }

  .Nav-subTrigger {
    color: $nav-bar-sub-trigger-color;
    border-color: $nav-bar-sub-trigger-border-color;
    background-color: $nav-bar-sub-trigger-bg-color;

    > .IconCss--arrowDown--xs {
      &:before { background: $nav-bar-sub-trigger-color; }
      &:after { color: $nav-bar-sub-trigger-color; }
    }

    &:hover {
      color: $nav-bar-sub-trigger-hover-color !important;

      > .IconCss--arrowDown--xs {
        &:before { background: $nav-bar-sub-trigger-hover-color !important; }
        &:after { color: $nav-bar-sub-trigger-hover-color !important; }
      }
    }
  }

  .Nav-trigger {
    &-link {
      background-color: $nav-bar-trigger-bg-color;
      color: $nav-bar-trigger-color;
    }

    &-sub {
      background-color: $nav-bar-trigger-sub-bg-color;
      border-color: $nav-bar-trigger-sub-border-color;

      > .IconCss--hamburger {
        border-top-color: $nav-bar-trigger-color;

        &:before, &:after {
          background-color: $nav-bar-trigger-color;
        }
      }
    }
  }

  .Nav-sub {
    .Nav-link  {
      background-color: $nav-bar-sub-link-bg-color;
      border-color: $nav-bar-sub-link-border-color;
      color: $nav-bar-sub-link-color;
    }

    .Nav-subTrigger {
      color: $nav-bar-sub-sub-trigger-color;
      background-color: $nav-bar-sub-sub-trigger-bg-color;
      border-color: $nav-bar-sub-sub-trigger-border-color;

      .IconCss--arrowDown--xs {
        &:before { background-color: $nav-bar-link-color; }
        &:after  { color: $nav-bar-link-color; }
      }
    }

    /**
     * Third and deeper levels
     */
    ul {
      background-color: $nav-bar-deeper-level-bg-color;

      .Nav-link {
        color: $nav-bar-deeper-level-link-color;
        background-color: $nav-bar-deeper-level-link-bg-color;
        border-color: $nav-bar-deeper-level-link-border-color;
      }

      .Nav-subTrigger {
        color: $nav-bar-deeper-level-sub-trigger-color;
        background-color: $nav-bar-deeper-level-sub-trigger-bg-color;
        border-color: $nav-bar-deeper-level-sub-trigger-border-color;
      }
    }
  }
}