/* ========================================
 * Navigation
 * ======================================== */

.Nav--bar {
  background-color: $nav-bar-bg-color;

  .Nav-self { display: none; }

  .Nav-trigger-link,
  .Nav-trigger-sub,
  .Nav-link,
  .Nav-subTrigger {
    display: block;
    float: left;
    cursor: pointer;
  }

  .Nav-link {
    border-top: 1px solid;
  }

  .Nav-trigger-link,
  .Nav-link {
    width: 87%;
    width: calc(100% - #{$nav-bar-sub-trigger-width});
    padding: $nav-bar-padding $nav-bar-padding * 2;

    &:only-child { width: 100%; }
  }

  .Nav-trigger-sub,
  .Nav-subTrigger {
    width: 13%;
    width: calc(#{$nav-bar-sub-trigger-width});
    text-align: center;
    border-left: $nav-bar-sub-trigger-border-width solid;
    padding: $nav-bar-padding 0;

    .IconCss--arrowDown--xs { top: 2px; }
  }

  .Nav-subTrigger {
    border-top: 1px solid;
  }

  .Nav-trigger {
    &-link {
      text-align: right;
      padding-right: $nav-bar-padding;
    }

    &-sub {
      .IconCss--hamburger { top: -2px; }
    }
  }

  /**
   * Sub navigation
   */
  .Nav-sub {
    display: none;
    clear: both;

    /**
     * Third level
     */
    ul {
      .Nav-link,
      .Nav-subTrigger {
        padding-top: $nav-bar-padding * 0.75;
        padding-bottom: $nav-bar-padding * 0.75;
      }

      /**
       * Deeper levels
       */
      ul  {

        .Nav-link {
          padding-left: $nav-bar-padding * 2.5;
        }

        ul {

          .Nav-link {
            padding-left: $nav-bar-padding * 3.5;
          }

          ul {
            .Nav-link {
              padding-left: $nav-bar-padding * 4.5;
            }
          }
        }
      }
    }
  }


  /* ======
   * States
   * ====== */

  &.is-open .Nav-self { display: block; }

  .Nav-item.is-open {
    > .Nav-sub { display: block; }
    > .Nav-subTrigger > .IconCss--arrowDown--xs { @extend %IconCss--arrowUp--xs; }
  }
}