
/**
 * ========================================
 * GRID / WIDTHS
 * ========================================
 *
 * Activates in defined breakpoint: .bp-med-x-x, .bp-lrg-x-x
 * e.g. 50% wide: .bp-med-w-50
 * Medium breakpoint 50% wide, Large breakpoint 33.333% wide: .bp-med-w-50-33
 * Large breakpoint 75% wide: .bp-lrg-w-75
 * Define more of these as needed
 */

.grid-item {
  float:left;
  position:relative;
  width:100%;
  @extend .cf;
}

.grid-item-inner {
  padding:$base-space $edge-space 0 $edge-space;
  @extend .cf;
}

/**
 * ========================================
 * MEDIUM BREAKPOINT
 * ========================================
 */

@media #{$bp-medium} {

  /* Medium breakpoint widths */
  .bp-med-w-50
  ,.bp-med-w-50-33
  {
    width:50%;
  }

}

/**
 * ========================================
 * LARGE BREAKPOINT
 * ========================================
 */

@media #{$bp-large} {

  /* Medium breakpoint widths */
  .bp-med-w-50-33
  {
    width:33.333%;
  }

  /* Large breakpoint widths */
  .bp-lrg-75 {
    width:75%;
  }

}