/* ========================================
 * List
 * ======================================== */

.List {
  @extend %clearfix;
  @extend %resetList;
  margin-bottom: rem($base-space);
}

.List-item {
  margin-bottom: rem($base-space);

  &:last-child {
    margin-bottom: 0;
  }
}

  .List-text {
    @include fontSize($base-fontSize-s, $base-lineHeight-s);
    text-align: left;
    display: block;
  }

  .List-meta {
    @include fontSize($base-fontSize-s, $base-lineHeight-s);
  }


/* ======
 * List - color
 * ====== */

.List.-color-primary {
  .List-text {
    color: $color-text;
  }

  .List-meta {
    color: $color-textLight;
  }
}

.List.-color-light {
  .List-text {
    color: $color-light;
  }

  .List-meta {
    color: rgba($color-light, 0.85);
  }
}

.List.-color-lighter {
  .List-text {
    color: rgba($color-light, 0.8);
  }

  a.List-text:hover {
    color: $color-light;
  }

  .List-meta {
   color: rgba($color-light, 0.6);
  }
}


/* ======
 * List - space
 * ====== */

.List {
  &.-space-xs {

    .List-item {
      margin-bottom: rem($base-space / 4);
    }
  }
}



/* ======
 * Variations
 * ====== */

.List--icon {

  .List-item {
    padding-left: rem($base-space / 1.5);
    position: relative;
    margin-bottom: rem($base-space / 4);
  }

    .List-item-icon {
      position: absolute;
      top: 5px;
      left: 0;
    }
}
