/* ========================================
 * List
 * ======================================== */

.List {
  @extend %cf;
  @extend %reset-list;
  margin-bottom: base-space();

  &-item {
    margin-bottom: base-space();

    &:last-child { margin-bottom: 0;}
  }

    &-text {
      @extend %Text--s;
      color: $color-text;
      display: block;
    }

    &-meta {
      color: $color-brand-secondary;
      display: inline-block;
      font-family: $base-font-family-strong;
    }

  &--icon {
    .List-item {
      padding-left: base-space($sum: -4px);
      position: relative;
    }

      .List-text {
        > .IconCss {
          position: absolute;
          top: 5px;
          left: 0;
          color: $color-brand-secondary;
        }

        [class*="IconCss--arrow"] {
          &:before { background-color: $color-brand-secondary; }
          &:after { color: $color-brand-secondary; }
        }
      }
  }

  &--narrow {
    .List-item {
      margin-bottom: base-space(0.1);
    }
  }

  &--separate--primary {
    .List-item {
      display: inline-block;
      margin-bottom: 0;

      &:after {
        border-top: 1px solid $color-brand-secondary;
        bottom: rem(3px);
        content: "";
        display: inline-block;
        margin: 0 rem(3px);
        position: relative;
        width: rem(10px);
      }

      &:last-child {
        &:after { display: none; }
      }
    }

    .List-text {
      display: inline;
    }
  }

  &--primary {

    .List-item, .List-meta {
      float: left;
    }

    .List-item {
      border-right: 1px solid $color-border-primary;
      margin-bottom: 0;
      margin-right: base-space(0.5);
      padding-right: base-space(0.5);

      &:last-child {
        border: none;
        margin-right: 0;
        padding-right: 0;
      }
    }

      .List-meta {
        @extend %Text--s--static;
        text-align: right;
        margin-right: base-space(0.25);
      }

      .List-text {
        @extend %Text--s--static;
        max-width: 200px;
        overflow: hidden;
        max-height: 40px;
      }
  }
}