/* =======================================
 * Breadcrumb
 * ======================================= */

.Breadcrumb {
  @include fontSize($fontSize-s, $lineHeight-s);
  margin-bottom: rem($space);

  a {
    color: $link;

    &:hover {
      color: $linkHover;
    }
  }
}

