/* =======================================
 * Content
 * ======================================= */

.Content {
  @include clearfix();

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: rem($space * 2);
    }
  }

  h1 {
    @extend %h2;
  }

  .has-small-font-size {
    @extend %Text.-s;
  }

  .has-medium-font-size {
    font-size: inherit;
  }

  .has-medium-font-size,
  .has-huge-font-size,
  .has-large-font-size {
    @extend %Text--lead;
  }

  p:empty {
    display: none;
  }

  a:not([class]) {
    @include text('textLinkHighlight');
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .aligncenter {
    margin: 0 auto rem($space) auto;
  }

  .alignleft {
    float: left;
    margin: 0 rem($space) rem($space) 0;
  }

  .alignright {
    float: right;
    margin: 0 0 rem($space) rem($space);
  }
}
