/* =======================================
 * Content
 * ======================================= */

.Content {
  @include clearfix();

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: rem($space * 2);
    }
  }

  h1 {
    @extend %h2;
  }

  p:empty {
    display: none;
  }
}
