/* =======================================
 * Header
 * =======================================
 *
 * @extends `.Navbar--default{}` in _Navbar--default.scss
 */

.docs-Header.Header {
  @include mq(l) {
    position: sticky;
    top: -$docs-Header-navbarSecondaryHeight-expand;
    width: 100%;
  }
}

  .docs-Header-navbarPrimary {
    .Navbar-logo-version {
      @include fontSize($baseFontSize-xs, $baseLineHeight-xs);
      color: $colorTextLightest;
      display: inline-block;
      margin-left: $baseSpace / 4;
    }

    &.-xs-expand {
      @include mq(xs) {
        display: flex;
        min-height: $uiSpace * 3;

        &.is-open > ul {
          display: flex;
        }

        > ul {
          display: flex;
          margin-left: auto;
          padding-right: $uiSpace / 1.5;
          width: auto;
        }

        .Navbar-ctrl {
          margin-left: 0;
          order: 3;
        }

          .Navbar-ctrl-trigger {
            display: none;
          }

        > ul > .Navbar-item {
          border: 0;
          position: relative;

          > .Navbar-link {
            border: 0;
            padding: 0 ($uiSpace / 2);
          }

          > .Navbar-trigger {
            border: 0;
            margin: 2px ($uiSpace / 2) 0 (-($uiSpace / 6));
            min-width: 0;
            padding: 0;
          }

          &:nth-last-child(2), &:last-child {
            > .Navbar-sub {
              left: auto;
              right: 0;
            }
          }
        }

        .no-touchevents & .Navbar-item.is-open > .Navbar-trigger > .Navbar-trigger-icon {
          transform: rotate(180deg);
        }

        .Navbar-sub {
          @include dropdown($arrow: false);
          @include fontSize($baseFontSize-s, $baseLineHeight-s);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          display: block;
          left: 0;

          .Navbar-item {
            border: 0;
          }

          .Navbar-link {
            padding: ($uiSpace / 3) 0;
          }

          ul, .Navbar-trigger {
            display: none !important;
          }
        }

        .has-touchevents & .Navbar-item.is-open,
        .no-touchevents & .Navbar-item:hover,
        .no-touchevents & .Navbar-item:focus {
          > .Navbar-sub {
            @include dropdown($state: 'is-open');
          }
        }
      }
    }
  }

  .docs-Header-navbarSecondary.Navbar--default {
    border-top: 1px solid $colorBorder;
    background-color: $colorPrimary;

    .Navbar-ctrl-trigger-icon {
      border-color: $colorBgLightest;

      &:before, &:after {
        background-color: $colorBgLightest;
      }
    }

    .Navbar-item,
    .Navbar-trigger {
      border-color: rgba(#ffffff, 0.1);
    }

    .Navbar-item {
      &.is-active {
        > .Navbar-link {
          color: #ffffff;
          font-weight: bolder;
        }
      }
    }

    .Navbar-link {
      color: $colorLight;

      &:hover {
        color: #ffffff;
      }
    }

    .Navbar-trigger-icon {
      &:after {
        color: rgba($colorBgLightest, 0.4);
      }
    }

    .Navbar-sub {
      background-color: lighten($colorBgDark, 10);

      .Navbar-item, .Navbar-trigger {
        border-color: rgba(#ffffff, 0.03);
      }
    }

    &.-m-expand {
      @include mq(m) {
        display: flex;
        min-height: $uiSpace * 3;

        &.is-open > ul {
          display: flex;
        }

        > ul {
          display: flex;
          margin-left: $uiSpace / 2;
          padding-right: $uiSpace / 1.5;
          width: auto;
        }

        .Navbar-ctrl {
          margin-left: 0;
          order: 3;
        }

          .Navbar-ctrl-trigger {
            display: none;
          }

        > ul > .Navbar-item {
          border: 0;
          position: relative;

          > .Navbar-link {
            border: 0;
            padding: 0 ($uiSpace / 2);
          }

          > .Navbar-trigger {
            border: 0;
            margin: 2px ($uiSpace / 2) 0 (-($uiSpace / 6));
            min-width: 0;
            padding: 0;
          }

          &:last-child {
            > .Navbar-sub {
              left: 0;
              right: auto;
            }
          }
        }

        .no-touchevents & .Navbar-item.is-open > .Navbar-trigger > .Navbar-trigger-icon {
          transform: rotate(180deg);
        }

        .Navbar-sub {
          @include dropdown($arrow: false);
          @include fontSize($baseFontSize-s, $baseLineHeight-s);
          background-color: lighten($colorBgDark, 10);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          display: block;
          left: 0;

          .Navbar-item {
            border: 0;
          }

          .Navbar-link {
            padding: ($uiSpace / 3) 0;
          }

          ul, .Navbar-trigger {
            display: none !important;
          }
        }

        .has-touchevents & .Navbar-item.is-open,
        .no-touchevents & .Navbar-item:hover,
        .no-touchevents & .Navbar-item:focus {
          > .Navbar-sub {
            @include dropdown($state: 'is-open');
          }
        }
      }
    }

    @include mq(l) {
      .Navbar-sub, .Navbar-trigger {
        display: none;
      }
    }
  }





