/* =======================================
 * Label
 * ======================================= */

.Label {
  @include textTruncate();
  @include fontSize($fontSize-xs, $space);
  color: $white;
  display: inline-block;
  padding: 0 rem($space / 2);
}


/* ======
 * Label - Default
 * ====== */

.Label--default {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px $border;
  color: $text;
}


/* ======
 * Label - Primary
 * ====== */

.Label--primary {
  background-color: $primary;
  box-shadow: inset 0 0 0 1px darken($primary, 5);
}


/* ======
 * Label - Info
 * ====== */

.Label--info {
  background-color: $info;
  box-shadow: inset 0 0 0 1px darken($info, 15);
}


/* ======
 * Label - Success
 * ====== */

.Label--success {
  background-color: $success;
  box-shadow: inset 0 0 0 1px darken($success, 10);
}


/* ======
 * Label - Warning
 * ====== */

.Label--warning {
  background-color: $warning;
  box-shadow: inset 0 0 0 1px darken($warning, 10);
}


/* ======
 * Label - Danger
 * ====== */

.Label--danger {
  background-color: $danger;
  box-shadow: inset 0 0 0 1px darken($danger, 10);
}

