    <script src="{{root}}{{#if dev}}dist/{{else}}assets/{{/if}}rebirth.all{{#unless dev}}.min{{/unless}}.js" async></script>
    <script src="{{root}}assets/docs.js" async></script>
  </body>
</html>
