<nav class="docs-Navbar Navbar Navbar--default -xs-expand js-NavbarDefault">
  <a href="/" class="Navbar-logo">
    Rebirth
  </a>
  <div class="Navbar-ctrl">
    <div class="Navbar-ctrl-trigger js-NavbarDefaultTrigger">
      <i class="Navbar-ctrl-trigger-icon"></i>
    </div>
  </div>
  <ul>
    <li class="Navbar-item">
      <a class="Navbar-link" href="docs/getting-started/introduction/">Docs</a>
    </li>
    <li class="Navbar-item">
      <a class="Navbar-link" href="styleguide/overview">Styleguide</a>
    </li>
    {{!-- <li class="Navbar-item">
      <a class="Navbar-link" href="examples/">Examples</a>
    </li>
    <li class="Navbar-item">
      <a class="Navbar-link" href="about/">About</a>
    </li> --}}
  </ul>
</nav>
