/* ========================================
 * Button
 * ======================================== */

.Button {
  background-color: transparent;
  border: $Button-borderWidth solid;
  cursor: pointer;
  display: inline-block;
  font-size: rem($Button-fontSize);
  font-weight: $Button-fontWeight;
  line-height: rem($Button-lineHeight - ($Button-borderWidth * 2));
  margin-bottom: rem((($base-space * 3) - $Button-lineHeight));
  margin-right: rem($base-space / 2);
  outline: 0;
  padding: 0 rem($Button-padding);
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.is-disabled,
  &[disabled], fieldset[disabled] & {
    @extend %disabled;
  }
}


/* ======
 * Button - variation
 * ====== */

.Button--primary {
  background-color: $ButtonPrimary-bgColor;
  border-color: $ButtonPrimary-borderColor;
  color: $ButtonPrimary-color;

  &:hover, &:focus {
    background-color: $ButtonPrimary-bgColorHover;
    border-color: $ButtonPrimary-borderColorHover;
    color: $ButtonPrimary-colorHover;
  }

  &.-type-border {
    background-color: transparent;
    color: $ButtonPrimary-typeBorderColor;

    &:hover, &:focus {
      background-color: $ButtonPrimary-typeBorderBgColorHover;
      border-color: $ButtonPrimary-typeBorderColorHover;
      color: $ButtonPrimary-typeBorderColorHover;
    }
  }
}

.Button--secondary {}


/* ======
 * Button - type
 * ====== */

.Button.-type-round {
  border-radius: $Button-borderRadius;
}


/* ======
 * Button - size
 * ====== */

.Button.-size-s {}

.Button.-size-l {}
