// ========================================
// Button collection
// ========================================

$ButtonCollection-VerticalBorderRadius: $borderRadius;
$ButtonCollection-HorizontalBorderRadius: $Button-borderRadius;
$ButtonCollection-borderColor: rgba(#ffffff, 0.25);
$ButtonCollection-borderWidth: 1px;
