/* ========================================
 * Button
 * ======================================== */

.Button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: $base-fontWeightStrong;
  margin-bottom: rem($base-space);
  outline: 0;
  padding: rem($Button-padding / 2) rem($Button-padding);
  position: relative;
  text-align: center;
  transition: $transitionDuration;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.is-disabled,
  &[disabled], fieldset[disabled] & {
    @extend %disabled;
  }
}


/* ======
 * Variations
 * ====== */

.Button--primary {
  background-color: $ButtonPrimary-bgColor;
  color: $ButtonPrimary-color;

  &:hover, &:focus {
    background-color: $ButtonPrimary-bgColorHover;
    color: $ButtonPrimary-colorHover;
  }

  &.-type-border {
    background-color: transparent;
    border-color: $ButtonPrimary-borderColor;
    color: $ButtonPrimary-typeBorderColor;

    &:hover, &:focus {
      background-color: $ButtonPrimary-bgColorHover;
      color: $ButtonPrimary-colorHover;
    }
  }
}


/* ======
 * Modifiers
 * ====== */

.Button.-type-round {
  border-radius: $Button-borderRadius;
}

.Button.-type-border {
  border-width: $Button-borderWidth;
  border-style: solid;
  padding-top: rem(($Button-padding / 2) - 1px);
  padding-bottom: rem(($Button-padding / 2) - 1px);
}
