/* ========================================
 * Button collection
 * ========================================
 *
 * @overrides `.Button{}` in _Button.scss
 */

.ButtonCollection {

  > .Button {
    margin-right: 0;
  }
}


/* ======
 * Button collection - align
 * ====== */

.ButtonCollection.-align-vertical {
  @extend %clearfix;
  display: inline-block;

  > .Button {
    display: block;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: rem(($base-space * 3) - $Button-lineHeight);
    }
  }
}

.ButtonCollection.-align-horizontal {
  @extend %clearfix;

  > .Button {
    display: block;
    float: left;
  }
}

.ButtonCollection.-align-justified {
  border-collapse: separate;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: rem((($base-space * 3) - $Button-lineHeight));

  > .Button {
    display: table-cell;
  }
}

.ButtonCollection.-align-full {
  > .Button {
    display: block;
    width: 100%;

    @include breakpoint('smallUp') {
      display: inline-block;
      margin-right: rem($base-space / 2);
      width: auto;
    }
  }
}


/* ======
 * Button collection - type
 * ====== */

.ButtonCollection.-type-border,
%ButtonCollection.-type-border {

  &.-align-horizontal, &.-align-justified {

    > .Button {
      border-left-width: 0;

      &:first-child {
        border-left-width: $Button-borderWidth;
      }
    }
  }

  &.-align-vertical {

    > .Button {

      &:not(:first-child) {
        border-top: 0;
      }
    }
  }
}

.ButtonCollection.-type-round {

  > .Button {
    border-radius: 0;
  }

  &.-align-horizontal, &.-align-justified {

    > .Button {
      border-left: $ButtonCollection-borderWidth solid
        $ButtonCollection-borderColor;

      &:first-child {
        border-left: 0;
        border-radius: $ButtonCollection-HorizontalBorderRadius 0 0
          $ButtonCollection-HorizontalBorderRadius;
      }

      &:last-child {
        border-radius: 0 $ButtonCollection-HorizontalBorderRadius
          $ButtonCollection-HorizontalBorderRadius 0;
      }
    }
  }

  &.-align-vertical {

    > .Button {
      box-shadow: 0 -1px $ButtonCollection-borderColor;

      &:first-child {
        border-radius: $ButtonCollection-VerticalBorderRadius
          $ButtonCollection-VerticalBorderRadius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $ButtonCollection-VerticalBorderRadius
          $ButtonCollection-VerticalBorderRadius;
        box-shadow: 0;
      }
    }
  }
}

.ButtonCollection.-type-borderRound {
  @extend %ButtonCollection.-type-border;

  &.-align-horizontal, &.-align-justified {

    > .Button {
      &:first-child {
        border-radius: $ButtonCollection-HorizontalBorderRadius 0 0
          $ButtonCollection-HorizontalBorderRadius;
      }

      &:last-child {
        border-radius: 0 $ButtonCollection-HorizontalBorderRadius
          $ButtonCollection-HorizontalBorderRadius 0;
      }
    }
  }

  &.-align-vertical {

    > .Button {
      &:first-child {
        border-radius: $ButtonCollection-HorizontalBorderRadius
          $ButtonCollection-HorizontalBorderRadius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $ButtonCollection-HorizontalBorderRadius
          $ButtonCollection-HorizontalBorderRadius;
      }
    }
  }
}
