/* ========================================
 * Button - Primary
 * ========================================
 *
 * @extends `.Button{}` in _Button.scss
 */

.Button--primary {
  background-color: $colorPrimary;
  border-color: darken($colorPrimary, 4);
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: darken($colorPrimary, 5);
    color: #ffffff;
  }
}

/* ======
 * Button - Primary - Advanced modifiers
 * ====== */

.Button--primary {
  &.-transparent {
    background-color: transparent;
    color: $colorPrimary;

    &:hover,
    &:focus {
      background-color: $colorPrimary;
      border-color: $colorPrimary;
      color: #ffffff;
    }
  }
}
