/* ========================================
 * Button collection
 * ========================================
 *
 * @overrides `.Button{}` in _Button.scss
 */

.ButtonCollection {

  > .Button { margin-right: 0; }
}


/* ======
 * Button collection - align
 * ====== */

.ButtonCollection.-vertical {
  @extend %clearfix;
  display: inline-block;

  > .Button {
    display: block;
    margin-bottom: 0;

    &:last-child { margin-bottom: rem(($base-space * 3) - $Button-lineHeight); }
  }
}

.ButtonCollection.-horizontal {
  @extend %clearfix;

  > .Button {
    display: block;
    float: left;
  }
}

.ButtonCollection.-justified {
  border-collapse: separate;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: rem((($base-space * 3) - $Button-lineHeight));

  > .Button { display: table-cell; }
}

.ButtonCollection.-full {
  > .Button {
    display: block;
    width: 100%;

    @include breakpoint('smallUp') {
      display: inline-block;
      margin-right: rem($base-space / 2);
      width: auto;
    }
  }
}


/* ======
 * Button collection - type
 * ====== */

.ButtonCollection.-border,
%ButtonCollection.-border {

  &.-horizontal, &.-justified {

    > .Button {
      border-left-width: 0;

      &:first-child { border-left-width: $Button-borderWidth; }
    }
  }

  &.-vertical {

    > .Button {

      &:not(:first-child) { border-top-width: 0; }
    }
  }
}


/* ======
 * Button collection - shape
 * ====== */

.ButtonCollection.-round {

  > .Button { border-radius: 0; }

  &.-horizontal, &.-justified {

    > .Button {

      &:not(:first-child,.-border) {
        border-left: $ButtonCollection-borderWidth solid
          $ButtonCollection-borderColor;
      }

      &:first-child {
        border-radius: $ButtonCollection-HorizontalBorderRadius 0 0
          $ButtonCollection-HorizontalBorderRadius;
      }

      &:last-child {
        border-radius: 0 $ButtonCollection-HorizontalBorderRadius
          $ButtonCollection-HorizontalBorderRadius 0;
      }
    }
  }

  &.-vertical {

    > .Button {
      box-shadow: 0 -1px $ButtonCollection-borderColor;

      &:first-child {
        border-radius: $ButtonCollection-VerticalBorderRadius
          $ButtonCollection-VerticalBorderRadius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $ButtonCollection-VerticalBorderRadius
          $ButtonCollection-VerticalBorderRadius;
        box-shadow: 0;
      }
    }
  }
}
