// ========================================
// Typography
// ========================================

$base-fontSize: 16px;
$base-lineHeightPx: 24px;
$base-lineHeight: $base-lineHeightPx / $base-fontSize;

$base-fontSize-l: 18px;
$base-lineHeight-l: 26px / $base-fontSize-l;

$base-fontSize-s: 14px;
$base-lineHeight-s: 20px / $base-fontSize-s;

$base-fontSize-xs: 12px;
$base-lineHeight-xs: 18px / $base-fontSize-xs;

$base-fontFamilySerif: Georgia, serif;
$base-fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-fontWeight: 400;
$base-fontWeightStrong: 800;

$heading-fontFamily: inherit;
$heading-fontWeight: 800;
$heading-fontWeight-alt: 800;

$h1-fontSize: 32px;
$h1-lineHeight: 'rhythm'; // 38px / $h1-fontSize;
$h2-fontSize: 26px;
$h2-lineHeight: 'rhythm'; // 32px / $h2-fontSize;
$h3-fontSize: 22px;
$h3-lineHeight: 'rhythm'; // 28px / $h3-fontSize;
$h4-fontSize: 20px;
$h4-lineHeight: 'rhythm'; // 26px / $h4-fontSize;
$h5-fontSize: 18px;
$h5-lineHeight: 'rhythm'; // 24px / $h5-fontSize;

// Heading component
$Heading-fontSize-l: 62px;
$Heading-lineHeight-l: 72px / $Heading-fontSize-l;
$Heading-fontSize-m: 52px;
$Heading-lineHeight-m: 62px / $Heading-fontSize-m;
$Heading-fontSize-s: 42px;
$Heading-lineHeight-s: 52px / $Heading-fontSize-s;


// ========================================
// Media query breakpoints
// ========================================

$breakpoint-xs: 320px;
$breakpoint-s: 600px;
$breakpoint-m: 768px;
$breakpoint-ml: 900px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1200px;


// ========================================
// Spacing
// ========================================

$base-space: $base-lineHeightPx;
$base-edgeSpace: 6.25%;


// ========================================
// Default colors
// ========================================

// Grays
$color-grayDarkest: #121212;
$color-grayDarker: #222;
$color-grayDark: #333;
$color-gray: #555;
$color-grayLight: #a2a2a2;
$color-grayLighter: #ccc;
$color-grayLightest: #E6E6E6;

// Brand colors
$color-primary: #00AAE7;

// Base colors
$color-dark: #000000;
$color-light: #ffffff;

// Background colors
$color-htmlBg: #ffffff;
$color-bgLightest: darken(#ffffff, 2);

// Text colors
$color-text: #444444;
$color-textLight: lighten(#444444, 40);

// Heading color
$color-heading: inherit;

// Link colors
$color-link: $color-primary;
$color-linkHover: darken($color-link, 15%);

// Border colors
$color-borderPrimary: $color-grayLightest;

// State colors
$color-success: #5cb85c;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-info: #5bc0de;


// ========================================
// Various global settings
// ========================================

$borderRadius: 3px;
$IconCss-s: 0.85;
$IconCss-xs: 0.75;

$imagesPath: '../images';
$fontsPath: '../fonts';


// ========================================
// Layout
// ========================================

$Header-zIndex: 100;
$Page-zIndex: 99;
$Wrap-width: 1140px;


// ========================================
// Easings and transitions
// ========================================

$transitionDuration: 0.15s;
$transitionDelay: $transitionDuration;
