/* ========================================
 * CSS chevron arrow icon
 * ======================================== */

[class*='IconCss'][class*='-shape-chevron'] {
  @include shapeArrow($direction: false);
}


/* ======
 * CSS icon - size and shape
 * ====== */

.IconCss {

  &.-shape-chevronUp {
    &.-size-s {
      transform: scale($IconCss-s);
    }
  }

  &.-shape-chevronRight {
    transform: rotate(-270deg);

    &.-size-s {
      transform: rotate(-270deg) scale($IconCss-s);
    }
  }

  &.-shape-chevronDown {
    transform: rotate(180deg);

    &.-size-s {
      transform: rotate(180deg) scale($IconCss-s);
    }
  }

  &.-shape-chevronLeft {
    transform: rotate(-90deg);

    &.-size-s {
      transform: rotate(-90deg) scale($IconCss-s);
    }
  }
}
