// =======================================
// Vertical and horizontal centering
// =======================================
//
// 1. Vertical and horizontal centering.
// 2. Horizontal centering.
// 3. Vertical centering.
// 4. Centering both horizontally and vertically with `table` requires
//   `table-descendant` and `table-descendant-item` child elements.
//
//    <div class='table'>
//      <div class='table-descendant'>
//        <div class='table-descendant-item'>
//          ...
//        </div>
//      </div>
//    </div>

@mixin center($style: 'absolute', $important: null) {
  @if $important { $important: !important; }

  @if $style == 'absolute' { // [1.]
    margin: auto $important;
    position: absolute $important;
    top: 50% $important;
    left: 50% $important;
    transform: translate(-50%, -50%) $important;
    width: 50% $important;
  } @elseif $style == 'table' { // [4.]
    display: table $important;
    height: 100% $important;
    width: 100% $important;
  } @elseif $style == 'table-cell' { // [4.] [3.]
    display: table-cell $important;
    text-align: center $important;
    vertical-align: middle $important;
  } @elseif $style == 'table-cell-item' // [4.]
    or $style == 'text-item' { // [2.]
    display: inline-block $important;
    text-align: left $important;
  } @elseif $style == 'margin' { // [2.]
    display: block $important;
    margin-left: auto $important;
    margin-right: auto $important;
  } @elseif $style == 'text' { // [2.]
    text-align: center $important;
  }
}
