// ========================================
// Dropdown
// ========================================

@mixin dropdown($align: 'left', $arrow: true, $arrowColor: lighten(#000000, 85),
  $backgroundColor: #ffffff, $borderRadius: $borderRadius, $default: true, $min-width: 240px,
  $padding: rem($baseSpace / 2) rem($baseSpace), $boxShadow: 0 rgba(#000000, 0.1), $state: false) {

  @if $state == false and $default  {
    background-color: $backgroundColor;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    left: 0;
    list-style: none;
    margin: 0;
    min-width: $min-width;
    padding: $padding;
    position: absolute;
    top: 100%;
    transition: opacity ($transitionDuration * 2);
    z-index: 999;

    clip: rect(0,0,0,0);
    height: 0;
    opacity: 0;
  }

  @if $state == 'is-open' {
    clip: auto;
    height: auto;
    opacity: 1;
  }

  /**
   * Caret
   */
  @if $arrow and $state == false {
    &:before {
      @include shapeTriangle(8px, 8px, 'up',  $arrowColor);
      content: "";
      left: $baseSpace;
      margin-left: rem(-4px);
      position: absolute;
      top: rem(-8px);
    }
  }

  /**
   * Aligning
   */
  @if $align == 'right' {
    left: auto;
    right: 0;

    /**
     * Caret align
     */
    &:before {
      left: auto;
      right: $baseSpace / 2;
    }
  }
}
