/* ========================================
 * Pull
 * ======================================== */

@mixin pull($namespace: "") {
  .#{$namespace}pull-1-12  { right: 8.333%; }
  .#{$namespace}pull-2-12  { right: 16.666%; }
  .#{$namespace}pull-3-12  { right: 25%; }
  .#{$namespace}pull-4-12  { right: 33.333%; }
  .#{$namespace}pull-5-12  { right: 41.666% }
  .#{$namespace}pull-6-12  { right: 50%; }
  .#{$namespace}pull-7-12  { right: 58.333%; }
  .#{$namespace}pull-8-12  { right: 66.666%; }
  .#{$namespace}pull-9-12  { right: 75%; }
  .#{$namespace}pull-10-12 { right: 83.333%; }
  .#{$namespace}pull-11-12 { right: 91.666%; }
  .#{$namespace}pull-12-12 { right: 100%; }
}

@if $pull == true {
  @include pull();
  [class*="pull-"] { position: relative; }

  @if $pull-responsive == true {
    @include breakpoint("small-up"){
      @include pull(s-);
    }

    @include breakpoint("medium-up"){
      @include pull(m-);
    }

    @include breakpoint("large-up"){
      @include pull(l-);
    }
  }
}