/* ========================================
 * Push
 * ======================================== */

@mixin push($namespace: "") {
  .#{$namespace}push-1-12  { left: 8.333%; }
  .#{$namespace}push-2-12  { left: 16.666%; }
  .#{$namespace}push-3-12  { left: 25%; }
  .#{$namespace}push-4-12  { left: 33.333%; }
  .#{$namespace}push-5-12  { left: 41.666% }
  .#{$namespace}push-6-12  { left: 50%; }
  .#{$namespace}push-7-12  { left: 58.333%; }
  .#{$namespace}push-8-12  { left: 66.666%; }
  .#{$namespace}push-9-12  { left: 75%; }
  .#{$namespace}push-10-12 { left: 83.333%; }
  .#{$namespace}push-11-12 { left: 91.666%; }
  .#{$namespace}push-12-12 { left: 100%; }
}

@if $push == true {
  @include push();
  [class*="push-"] { position: relative; }

  @if $push-responsive == true {
    @include breakpoint("small-up"){
      @include push(s-);
    }

    @include breakpoint("medium-up"){
      @include push(m-);
    }

    @include breakpoint("large-up"){
      @include push(l-);
    }
  }
}