/* =======================================
 * Card
 * ======================================= */

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: rem($baseSpace);
  position: relative;
  width: 100%;
}

  .Card-figure {
    position: relative;

    figure {
      margin-bottom: 0;

      img {
        width: 100%;
      }
    }
  }

  .Card-inner {
    padding: rem($Card-padding);

    > *:last-child {
      margin-bottom: 0;
    }

    @include mq(m) {
      padding: rem($Card-padding * 1.5);
    }
  }

  .Card-content {
    position: relative;
  }

    .Card-title {}

  .Card-footer {
    @extend %Text.-s;
    position: relative;

    .Card-inner {
      @include mq(m) {
        padding-bottom: rem($Card-padding);
        padding-top: rem($Card-padding);
      }
    }
  }


/* ======
 * Card - Style
 * ====== */

.Card {
  &.-round {
    border-radius: $borderRadius;
  }
}


/* ======
 * Card - Color
 * ====== */

.Card {
  &.-colorInverse {
    background-color: $colorBgDark;
    color: $colorLight;
  }
}


/* ======
 * Card - Figure modifiers
 * ====== */

.Card.-figureCrop, %Card.-figureCrop {
  .Card-figure {
    min-height: rem($baseSpace * 12);
    width: 100%;

    figure {
      @include positionAbsoluteFill();
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}

.Card.-figureFill {
  @extend %Card.-figureCrop;
  background: transparent;

  .Card-figure {
    @include positionAbsoluteFill();
  }

  &.-round {
    .Card-figure {
      img {
        border-radius: $borderRadius;
      }
    }
  }
}
