/* =======================================
 * Card
 * ======================================= */

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: rem($space);
  position: relative;
  width: 100%;
}

.Card-figure {
  position: relative;

  figure {
    margin-bottom: 0;

    img {
      width: 100%;
    }
  }
}

.Card-inner {
  padding: rem($space);

  > *:last-child {
    margin-bottom: 0;
  }

  @include mq(m) {
    padding: rem($space * 1.5);
  }
}

.Card-content {
  position: relative;
}

.Card-title {}

.Card-footer {
  @include fontSize($fontSize-s, $lineHeight-s);
  position: relative;

  .Card-inner {
    @include mq(m) {
      padding-bottom: rem($space);
      padding-top: rem($space);
    }
  }
}


/* ======
 * Card - Figure modifiers
 * ====== */

%Card.-figureCrop,
.Card.-figureCrop {
  .Card-figure {
    min-height: rem($space * 12);
    width: 100%;

    figure {
      @include positionAbsoluteFill();
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}

.Card.-figureFill {
  @extend %Card.-figureCrop;
  background: transparent;

  .Card-figure {
    @include positionAbsoluteFill();
  }
}
