/* ========================================
 * Card - Default
 * ========================================
 *
 * @extends `.Card{}` in _Card.scss
 */

.Card--default {
  background-color: #ffffff;

  .Card-footer {
    background-color: $colorBgLight;
  }

  &.-round {
    border-radius: $Card-borderRadius + 2px;

    .Card-figure {
      img {
        border-radius: $Card-borderRadius $Card-borderRadius 0 0;
      }
    }

    .Card-footer {
      border-radius: 0 0 $Card-borderRadius $Card-borderRadius;
    }
  }

  &.-border {
    box-shadow: 0 0 0 1px $colorBorderDefault;
  }
}
