/* =======================================
 * Icons
 * ======================================= */

.Icon {
  display: inline-block;
  fill: currentColor;
  height: $Icon-size;
  stroke-width: 0;
  stroke: currentColor;
  width: $Icon-size;
}
