/* =======================================
 * Icons
 * =======================================
 *
 * @reusable true
 */

.Icon {
  display: inline-block;
  fill: currentColor;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  width: 1.5em;
}
