
/*  ===================
    Hide / Show
    ===================  */

/*  Large screen  */
    %bp-small-visible, %bp-medium-visible,
    %bp-large-hidden
    { display:none !important;    }
    %bp-large-visible
    { display:inherit !important; }

/*  Medium screen  */
    @media #{$bp-medium-only} {
      %bp-large-hidden, %bp-medium-visible
      { display:inherit !important; }
      %bp-large-visible, %bp-medium-hidden
      { display:none !important;    }
    }

/*  Small screen  */
    @media #{$bp-small} {
      %bp-large-hidden, %bp-small-visible
      { display:inherit !important; }
      %bp-large-visible, %bp-small-hidden
      { display:none !important;    }
    }