{{> top}}

  <div class="docs-App">

    {{> header content=docs.nav.styleguide}}

    {{#each docs.nav.styleguide.overview.pages as |item|}}
      {{#if (isActive title ../docs.nav.styleguide.overview.path)}}
        {{> aside path=docs.nav.styleguide.overview.path content=docs.nav.styleguide.overview.pages }}
      {{/if}}
    {{/each}}

    {{#each docs.nav.styleguide.css.pages as |item|}}
      {{#if (isActive title ../docs.nav.styleguide.css.path)}}
        {{> aside path=docs.nav.styleguide.css.path content=docs.nav.styleguide.css.pages }}
      {{/if}}
    {{/each}}

    <main class="docs-Page docs-Page--styleguide">
      <div class="Container">
        <div class="Wrap">
          <div class="Content">
            <hgroup class="Page-hgroup">
              <h1 class="Page-heading Heading -m">{{title}}</h1>
              <h4 class="Page-lead Text Text--lead">{{description}}</h4>
            </hgroup>
            {{#markdown}}{% body %}{{/markdown}}
          </div>
        </div>
      </div>
    </main>

  </div>

{{> bottom}}
