
//  ===================
//  COLORS
//  ===================

    // Base colors
    $base-bg-color:  #fff;
    $text-color:     #444;
    $brand-color:  #23bfe2;

    // Grays
    $gray-darkest:        #121212;
    $gray-darker:            #222;
    $gray-dark:              #333;
    $gray:                   #555;
    $gray-light:          #a2a2a2;
    $gray-lighter:           #ccc;
    $gray-lightest:       #E6E6E6;