// =======================================
// Heading - Config
// =======================================

$Heading-fontWeight: bolder;
$Heading-fontSize-l: 62px;
$Heading-lineHeight-l: 72px / $Heading-fontSize-l;
$Heading-fontSize-m: 48px;
$Heading-lineHeight-m: 58px / $Heading-fontSize-m;
$Heading-fontSize-s: 36px;
$Heading-lineHeight-s: 46px / $Heading-fontSize-s;
