/* ========================================
 * Heading
 * ======================================== */

.Heading {
  font-weight: $Heading-fontWeight;
}


/* ======
 * Heading - Size
 * ====== */

%Heading.-l { @include fontSize($Heading-fontSize-l, $Heading-lineHeight-l); }
%Heading.-m { @include fontSize($Heading-fontSize-m, $Heading-lineHeight-m); }
%Heading.-s { @include fontSize($Heading-fontSize-s, $Heading-lineHeight-s); }

.Heading {
  &.-l {
    @extend %Heading.-l;

    @include mq($until: m) {
      @include fontSize($Heading-fontSize-m, $Heading-lineHeight-m);
    }
  }

  &.-m {
    @extend %Heading.-m;

    @include mq($until: m) {
      @include fontSize($Heading-fontSize-s, $Heading-lineHeight-s);
    }
  }

  &.-s {
   @extend %Heading.-s;

    @include mq($until: m) {
      @include fontSize($h1FontSize, $h1LineHeight);
    }
  }
}
