/* =======================================
 * Alert
 * ======================================= */

.Alert {
  margin-bottom: rem($baseSpace);
  padding: rem($baseSpace) rem($baseSpace);
  text-align: center;
}


/* ======
 * Alert - Success
 * ====== */

.Alert--success {
  background-color: lighten($colorSuccess, 27);
  box-shadow: inset 0 0 0 1px lighten($colorSuccess, 10);
}


/* ======
 * Alert - Info
 * ====== */

.Alert--info {
  background-color: lighten($colorInfo, 27);
  box-shadow: inset 0 0 0 1px lighten($colorInfo, 20);
}


/* ======
 * Alert - Warning
 * ====== */

.Alert--warning {
  background-color: lighten($colorWarning, 27);
  box-shadow: inset 0 0 0 1px lighten($colorWarning, 15);
}


/* ======
 * Alert - Danger
 * ====== */

.Alert--danger {
  background-color: lighten($colorDanger, 27);
  box-shadow: inset 0 0 0 1px lighten($colorDanger, 20);
}
