/* =======================================
 * Alert
 * ======================================= */

.Alert {
  margin-bottom: rem($space);
  padding: rem($space) rem($space);
  text-align: center;
}


/* ======
 * Alert - Success
 * ====== */

.Alert--success {
  background-color: lighten($success, 27);
  box-shadow: inset 0 0 0 1px lighten($success, 10);
}


/* ======
 * Alert - Info
 * ====== */

.Alert--info {
  background-color: lighten($info, 27);
  box-shadow: inset 0 0 0 1px lighten($info, 20);
}


/* ======
 * Alert - Warning
 * ====== */

.Alert--warning {
  background-color: lighten($warning, 27);
  box-shadow: inset 0 0 0 1px lighten($warning, 15);
}


/* ======
 * Alert - Danger
 * ====== */

.Alert--danger {
  background-color: lighten($danger, 27);
  box-shadow: inset 0 0 0 1px lighten($danger, 20);
}
