/* ========================================
 * Button collection - Default - Horizontal
 * ========================================
 *
 * @extend `.Buttons--default{}` in _Buttons--default.scss
 */

@mixin Buttons($namespace: '') {
  .Buttons--default.#{$namespace}-horizontal {
    display: flex;

    > .Button {
      &:not(:first-child) {
        border-left-width: 0;
      }

      &:not(:last-child) {
        border-bottom-width: $Button-borderWidth;
      }
    }

    > .-round {
      &:first-child {
        border-radius: $Button-borderRadius 0 0 $Button-borderRadius;
      }

      &:last-child {
        border-radius: 0 $Button-borderRadius $Button-borderRadius 0;
      }
    }

    > .-pill {
      &:first-child {
        border-radius: 60px 0 0 60px;
      }

      &:last-child {
        border-radius: 0 60px 60px 0;
      }
    }

    &.-justify {
      > .Button {
        flex-grow: 1;
      }
    }
  }
}

@if $Buttons-horizontal {
  @include Buttons();
}

@if $Buttons-horizontal-s {
  @include mq(s) {
    @include Buttons(-s);
  }
}

@if $Buttons-horizontal-m {
  @include mq(m) {
    @include Buttons(-m);
  }
}

@if $Buttons-horizontal-l {
  @include mq(l) {
    @include Buttons(-l);
  }
}
