---
title: Homepage
---

<div class="docs-Hero Hero -full js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="centerText">
          <div class="centerText-item">
            <h1 class="noMargin textCenter">
              My <br>
              Web Starter Kit
            </h1>
          </div>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <picture>
        <source srcset="{{assets}}/images/hero-s.jpg" media="(max-width: 600px)" />
        <source srcset="{{assets}}/images/hero-m.jpg" media="(max-width: 1000px)" />
        <source srcset="{{assets}}/images/hero-l.jpg" />
        <img src="{{assets}}/images/hero-s.jpg" class="js-lazyload" data-sizes="auto" />
      </picture>
    </figure>
    <div class="Hero-overlay"></div>
  </div>
</div>
