---
title: Homepage
---

<div class="docs-Hero Hero -full js-Hero">
  <div class="Hero-item Hero-item--default -colorLight -alignFigureTopLeft -alignContentCenter">
    <div class="Hero-wrap Wrap">
      <div class="Hero-content">
        <div class="Hero-content-item">
          <h1 class="Hero-title Heading -l">My Web <br> Starter Kit</h1>
          <div class="Text -l">
            <p>Web starter kit of Joonas Ylitalo, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco.</p>
          </div>
          <a href="#" class="Button Button--primary -pill">Button</a>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <picture>
        <source srcset="{{assets}}/images/hero-s.jpg" media="(max-width: 600px)" />
        <source srcset="{{assets}}/images/hero-m.jpg" media="(max-width: 1000px)" />
        <source srcset="{{assets}}/images/hero-l.jpg" />
        <img src="{{assets}}/images/hero-s.jpg" class="js-lazyload" data-sizes="auto" />
      </picture>
    </figure>
    <div class="Hero-overlay"></div>
  </div>
</div>
