---
title: Homepage
---

<div class="docs-Hero Hero -full js-Hero">
  <div class="Hero-item Hero-item--primary -color-lightOnDark -alignFigure-topLeft">
    <div class="Hero-wrap Wrap">
      <div class="Hero-grid Grid -justify-center">
        <div class="Grid-cell">
          <div class="Hero-content">
            <h1 class="Hero-title Heading -l">
              My Wonderful Web Starter Kit
            </h1>
            <div class="Text -l">
              <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <a href="/components/navbar.html" class="Button Button--primary -pill">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <picture>
        <source srcset="{{assets}}/images/hero-s.jpg" media="(max-width: 600px)" />
        <source srcset="{{assets}}/images/hero-m.jpg" media="(max-width: 1000px)" />
        <source srcset="{{assets}}/images/hero-l.jpg" />
        <img src="{{assets}}/images/hero-s.jpg" class="js-lazyload" data-sizes="auto" />
      </picture>
    </figure>
    <div class="Hero-overlay"></div>
  </div>
</div>
