---
title: Homepage
---

<div class="docs-Hero Hero -full js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="centerText">
          <div class="centerText-item">
            <h1 class="noMargin textCenter">
              My <br>
              Web Starter Kit
            </h1>
          </div>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img
        data-sizes="auto"
        data-srcset="
          {{assets}}/images/hero-s.jpg 400w,
          {{assets}}/images/hero-m.jpg 768w,
          {{assets}}/images/hero-l.jpg 1200w"
        class="lazyload">
      <noscript>
        <img src="{{assets}}/images/hero-s.jpg">
      </noscript>
    </figure>
    <div class="Hero-overlay"></div>
  </div>
</div>
