/* ========================================
 * Base
 * ======================================== */

:root {
  background-color: $colorBgLightest;
  color: $colorText;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  min-width: 300px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  tap-highlight-color: transparent;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

hgroup,
blockquote,
address,
table,
fieldset,
figure,
pre,
ul,
ol,
dl {
  margin: 0 0 rem($baseSpace);
}

ul,
ol,
dl {
  padding: 0 0 0 rem($baseSpace);
}

nav ul {
  @extend %resetList;
}

a {
  color: $colorLink;
  text-decoration: none;

  &:active {
    color: $colorLink;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $colorLinkHover;
  }
}

::-moz-selection {
  background: $colorPrimary;
  color: $colorLight;
}

::selection {
  background: $colorPrimary;
  color: $colorLight;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

img,
embed,
object,
iframe {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
}
