/* =======================================
 * Typography
 * ======================================= */

p {
  margin: 0 0 rem($baseSpace);
}

b,
strong {
  font-weight: $baseFontWeightStrong;
}

hr {
  border: 0;
  border-top: 1px solid $colorBorderDefault;
  display: block;
  height: 1px;
  margin-bottom: rem($baseSpace);
  margin-top: 0;
  padding: 0;
}

hgroup {
  > *:not(:last-child) {
    margin-bottom: rem($baseSpace / 2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colorHeading;
  font-family: $headingFontFamily;
  font-weight: $headingFontWeight;
  margin: 0 0 rem($baseSpace);
}

h1, .h1 {
  @include fontSize($h1FontSize, $h1LineHeight);
}

h2, .h2 {
  @include fontSize($h2FontSize, $h2LineHeight);
}

h3, .h3 {
  @include fontSize($h3FontSize, $h3LineHeight);
}

h4, .h4 {
  @include fontSize($h4FontSize, $h4LineHeight);
}

h5, .h5 {
  @include fontSize($h5FontSize, $h5LineHeight);
}

h6, .h6 {
  @include fontSize($baseFontSize, $baseLineHeight);
  text-transform: uppercase;
  font-weight: $baseFontWeightStrong;
}
