// ========================================
// CSS triangle shape
// ========================================

@mixin triangle($direction: 'up', $color: $color-text, $width: 20px, $height: 20px) {
  @if $direction == right {
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;
    border-left: $width solid $color;
  }

  @if $direction == left {
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;
    border-right: $width solid $color;
  }

  @if $direction == up {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $height solid $color;
  }

  @if $direction == down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $height solid $color;
  }
}
