// ========================================
// HiDPI sprites for Compass
// ========================================
//
// @source https://github.com/Gaya/Retina-Sprites-for-Compass/tree/master/src
// @usage
//   Add to `_config.scss`:
//   $sprite: sprite-map('sprite/*.png', $layout: smart);
//   $spriteRetina: sprite-map('sprite@2x/*.png', $layout: smart);
//
//   Add to your component:
//   @include spriteRetina('myImageFileName');

@mixin spriteRetina($name, $file: $sprite, $fileRetina: $spriteRetina) {
  background-image: sprite-url($file);
  background-position: sprite-position($file, $name);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: image-height(sprite-file($file, $name));
  width: image-width(sprite-file($file, $name));

  @include breakpoint('retina') {
    background-image: sprite-url($fileRetina);
    background-size: (image-width(sprite-path($fileRetina)) / 2) (image-height(sprite-path($fileRetina)) / 2);
    background-position: round(nth(sprite-position($fileRetina, $name), 1) / 2) round(nth(sprite-position($fileRetina, $name), 2) / 2);
    height: image-height(sprite-file($fileRetina, $name)) / 2;
    width: image-width(sprite-file($fileRetina, $name)) / 2;
  }
}
