// ========================================
// Text related mixins
// ========================================


// ======
// Truncate text
// ======
//
// Force overly long spans of text to truncate
// e.g.: @include truncate(80%);
// Where $truncation-boundary is a united measurement.

@mixin textTruncate($truncation-boundary: 100%){
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// ======
// Image replacement / text hiding
// ======

@mixin textHide() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
