/* =======================================
 * Wrap
 * ======================================= */

@mixin Wrap() {
  margin-left: auto;
  margin-right: auto;
  max-width: $Wrap-maxWidth;
  padding-left: $Wrap-edgeSpace;
  padding-right: $Wrap-edgeSpace;
}

.Wrap {
  @include Wrap();

  @include mq(l) {
    padding-left: $Wrap-edgeSpace-l;
    padding-right: $Wrap-edgeSpace-l;
  }
}


/* ======
 * Wrap - absolute
 * ====== */

.Wrap--absolute {
  left: $Wrap-edgeSpace;
  max-width: $Wrap-width;
  padding: 0;
  position: absolute;
  right: $Wrap-edgeSpace;
  width: 100%;

  @include mq(l) {
    left: $Wrap-edgeSpace-l;
    right: $Wrap-edgeSpace-l;
  }
}
