<nav class="docs-Navbar Navbar Navbar--primary -l-horizontal -keepTitle" id="js-docsNavbar">

  <div class="Navbar-ctrl">
    <a href="/" class="Navbar-ctrl-title">
      My Web Starter Kit
    </a>
    <div id="js-docsNavbarTrigger" class="Navbar-ctrl-trigger js-Navbar-trigger">
      <i class="Navbar-ctrl-trigger-icon"></i>
    </div>
  </div>

  <ul class="Navbar-self">
    <li class="Navbar-item">
      <a class="Navbar-link" href="#">Components</a>
      <span class="Navbar-trigger">
        <i class="Navbar-trigger-icon"></i>
      </span>
      <ul class="Navbar-sub">
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/navbar.html">Navbar</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/hero.html">Hero</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/button.html">Button</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/form.html">Form</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/components/card.html">Card</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
