/* ========================================
 * Indicator
 * ========================================
 *
 * @reusable true
 */

.Indicator {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 3px;
    padding: 0;
    position: relative;
    width: 15px;

    button {
      background: transparent;
      border: 2px solid $colorBorderDefault;
      border-radius: 50%;
      color: transparent;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 16px;
      line-height: 0;
      outline: none;
      padding: 5px;
      width: 16px;

      &:hover,
      &:focus {
        outline: none;
      }

      &:before {
        background-color: transparent;
        border-radius: 50%;
        content: "";
        height: 6px;
        left: 5px;
        position: absolute;
        top: 5px;
        transition: border-color $transitionDuration;
        width: 6px;
      }
    }
  }
}
