---
title: Alert
---

<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Alerts</h1>

    <div class="Alert Alert--info -round -border">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam si amitti vita beata potest, beata esse non potest. Atqui reperies, inquit, in hoc quidem pertinacem; Inscite autem medicinae et gubernationis ultimum.
    </div>

    <div class="Alert Alert--success -round -border">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam si amitti vita beata potest, beata esse non potest. Atqui reperies, inquit, in hoc quidem pertinacem; Inscite autem medicinae et gubernationis ultimum.
    </div>

    <div class="Alert Alert--warning -round -border">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam si amitti vita beata potest, beata esse non potest. Atqui reperies, inquit, in hoc quidem pertinacem; Inscite autem medicinae et gubernationis ultimum.
    </div>

    <div class="Alert Alert--danger -round -border">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam si amitti vita beata potest, beata esse non potest. Atqui reperies, inquit, in hoc quidem pertinacem; Inscite autem medicinae et gubernationis ultimum.
    </div>

  </div>
</div>
