---
title: Button
---

<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Buttons</h1>

    <div class="Grid -auto">
      <div class="Grid-cell">
        <div class="Button Button--primary js-Button" href="#">
          Button
          <ul class="Button-dropdown Dropdown">
            <li class="Dropdown-item">
              <a href="#">Dropdown item</a>
            </li>
          </ul>
        </div>
        <a href="#" class="Button Button--primary -round">
          Round button
        </a>
        <a class="Button Button--primary -pill" href="#">
          Pill button
        </a>
        <a class="Button Button--primary -s" href="#">
          Button
        </a>
        <a href="#" class="Button Button--primary -round -s">
          Round button
        </a>
        <a class="Button Button--primary -pill -s" href="#">
          Pill button
        </a>
      </div>
      <div class="Grid-cell">
        <div class="Button Button--primary -border js-Button" href="#">
          Button
          <ul class="Button-dropdown Dropdown">
            <li class="Dropdown-item">
              <a href="#">Dropdown item</a>
            </li>
          </ul>
        </div>
        <a class="Button Button--primary -round -border" href="#">
          Round button
        </a>
        <a class="Button Button--primary -pill -border" href="#">
          Pill button
        </a>
        <a class="Button Button--primary -l" href="#">
          Button
        </a>
        <a class="Button Button--primary -l -border -round" href="#">
          Button
        </a>
      </div>
    </div>

    <div class="Grid -auto">

      <div class="Grid-cell Width--12of12">
        <h1>Button collections</h1>
      </div>

      <div class="Grid-cell">

        {{!-- Rounded horizontal collection --}}
        <div class="ButtonCollection -horizontal">
          <a class="Button Button--primary -round" href="#">
            Button
          </a>
          <a class="Button Button--primary -round" href="#">
            Button
          </a>
          <a class="Button Button--primary -round" href="#">
            Button
          </a>
        </div>

        <div class="ButtonCollection -horizontal">
          <a class="Button Button--primary -round -s" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -s" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -s" href="#">
            Button
          </a>
        </div>

        {{!-- Bordered horizontal collection --}}
        <div class="ButtonCollection -horizontal">
          <a class="Button Button--primary -border -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -border -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -border -pill" href="#">
            Button
          </a>
        </div>

        <div class="Grid -auto">
          <div class="Grid-cell">
            {{!-- Rounded vertical collection --}}
            <div class="ButtonCollection">
              <a class="Button Button--primary -round -s" href="#">
                Button
              </a>
              <a class="Button Button--primary -round -s" href="#">
                Button
              </a>
              <a class="Button Button--primary -round -s" href="#">
                Button
              </a>
            </div>
          </div>

          <div class="Grid-cell">
            {{!-- Bordered vertical collection --}}
            <div class="ButtonCollection">
              <a class="Button Button--primary -border" href="#">
                Button
              </a>
              <a class="Button Button--primary -border" href="#">
                Button
              </a>
            </div>
          </div>

          <div class="Grid-cell">
            {{!-- Vertical collection --}}
            <div class="ButtonCollection -round">
              <a class="Button Button--primary" href="#">
                Button
              </a>
              <a class="Button Button--primary" href="#">
                Button
              </a>
              <a class="Button Button--primary" href="#">
                Button
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="Grid-cell">

        {{!-- Justified and rounded collection --}}
        <div class="ButtonCollection -m-horizontal -justify">
          <a class="Button Button--primary -round -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -pill" href="#">
            Button
          </a>
        </div>

        {{!-- Justified and rounded collection --}}
        <div class="ButtonCollection -m-horizontal -justify">
          <a class="Button Button--primary -round -s" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -s" href="#">
            Button
          </a>
          <a class="Button Button--primary -round -s" href="#">
            Button
          </a>
        </div>

        {{!-- Justified and pill collection --}}
        <div class="ButtonCollection -horizontal -justify">
          <a class="Button Button--primary -border -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -border -pill" href="#">
            Button
          </a>
          <a class="Button Button--primary -border -pill" href="#">
            Button
          </a>
        </div>

        {{!-- Vertical and justified collection --}}
        <div class="ButtonCollection -justify">
          <a class="Button Button--primary" href="#">
            Button
          </a>
          <a class="Button Button--primary" href="#">
            Button
          </a>
          <a class="Button Button--primary" href="#">
            Button
          </a>
        </div>

        {{!-- Bordered and justified collection --}}
        <div class="ButtonCollection -horizontal -justify">
          <a class="Button Button--primary -border" href="#">
            Button
          </a>
          <a class="Button Button--primary -border" href="#">
            Button
          </a>
          <a class="Button Button--primary -border" href="#">
            Button
          </a>
        </div>

      </div>

    </div>

  </div>
</div>
