---
title: Card
---

<div class="Container docs-Container">
  <div class="Wrap">

    <h1>Card</h1>

    <div class="Grid -equalContent -full">
      <div class="Grid-cell s-Width--6of12 l-Width--6of12">
        <div class="Card">
          <div class="Card-figure">
            <figure>
              <img data-src="http://placehold.it/720x720/cccccc/969696" class="js-lazyload" />
            </figure>
          </div>
        </div>
      </div>
      <div class="Grid-cell s-Width--6of12 l-Width--3of12">
        <div class="Card Card--default -border">
          <div class="Card-content">
            <div class="Card-inner">
              <h3 class="Card-title">
                Card title
              </h3>
              <p>
                Card text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Omnia contraria, quos etiam insanos.
              </p>
              <p>
                <a class="Button Button--primary -pill -s">
                  Button
                </a>
              </p>
            </div>
          </div>
          <footer class="Card-footer">
            <div class="Card-inner">
              <p>Card footer.</p>
            </div>
          </footer>
        </div>
      </div>
      <div class="Grid-cell s-Width--6of12 l-Width--3of12">
        <div class="Card Card--default -border">
          <div class="Card-content">
            <div class="Card-inner">
              <h3 class="Card-title">
                Card title
              </h3>
              <p>
                Card text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Omnia contraria, quos etiam insanos.
              </p>
            </div>
          </div>
          <footer class="Card-footer">
            <div class="Card-inner">
              <p>Card footer.</p>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <div class="Grid">
      <div class="Grid-cell s-Width--6of12 l-Width--4of12">
        <div class="Card Card--default -figureCrop">
          <div class="Card-figure">
            <figure>
              <img data-src="http://placehold.it/360x240/cccccc/969696" class="js-lazyload" />
            </figure>
          </div>
          <div class="Card-content">
            <div class="Card-inner">
              <h3 class="Card-title">
                Card title
              </h3>
              <p>
                Card text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Omnia contraria, quos etiam insanos.
              </p>
              <p>
                <a class="Button Button--primary -pill">
                  Button
                </a>
              </p>
            </div>
          </div>
          <footer class="Card-footer">
            <div class="Card-inner">
              <p>Card footer.</p>
            </div>
          </footer>
        </div>
      </div>
      <div class="Grid-cell s-Width--6of12 l-Width--4of12">
        <div class="Card -figureFill -colorLightOnDark -round">
          <div class="Card-figure">
            <figure>
              <img src="http://placekitten.com/g/360/240" />
            </figure>
          </div>
          <div class="Card-content">
            <div class="Card-inner">
              <h3 class="Card-title">
                Card title
              </h3>
              <p>
                Card text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Omnia contraria, quos etiam insanos.
              </p>
              <p>
                <a class="Button Button--primary -pill">
                  Button
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
