---
title: Forms
---

<div class="Container docs-Container">
  <div class="Wrap">

      <!--
       Default separated Form with grid
       -->
      <Form action="" class="Form Form--primary js-Form">
        <div class="Grid">
          <div class="Grid-cell s-Width--6of12">
            <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
          </div>
          <div class="Grid-cell s-Width--6of12">
            <div class="Form-grid">
              <div class="Form-cell">
                <input class="Form-item -border" type="password" placeholder="I'm placeholder text">
                <div class="Form-addon -border"><i class="ion-key"></i></div>
              </div>
            </div>
          </div>
          <div class="Grid-cell s-Width--6of12">
            <div class="Form-item Form-item--select -border -round -hasIconRight">
              <span class="Form-item--select-text">Choose something here</span>
              <label>
                <span class="Form-icon -right"><i class="IconCss -chevronDown -s"></i></span>
                <select class="Form-select">
                  <option value="Choose something here" selected="selected">Choose something here</option>
                  <option value="Option 1">Option 1</option>
                  <option value="Option 2">Option 2</option>
                  <option value="Option 3">Option 3</option>
                  <option value="Option 4">Option 4</option>
                </select>
              </label>
            </div>
          </div>

        </div>
      </Form>
      <!--
       /Default separated Form with grid
       -->

      <div class="Grid">

        <div class="Grid-cell m-Width--6of12">
          <!--
           Vertical rounded Form collection
           -->
          <Form action="" class="Form Form--primary">
            <div class="Form-grid">
              <div class="Form-cell">
                <textarea class="Form-item -border -round" placeholder="I'm placeholder text"></textarea>
              </div>
              <div class="Form-cell">
                <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text too">
              </div>
              <div class="Form-cell">
                <div class="Form-addon -border -round">@</div>
                <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
              </div>
              <button class="Form-button Button Button--primary -round">Form button</Button>
            </div>
          </Form>
          <!--
           /Vertical rounded Form collection
           -->
        </div>

        <div class="Grid-cell m-Width--6of12">
          <!--
           Vertical rounded Form collection with addons and button
           -->
          <Form action="" class="Form Form--primary">
            <div class="Form-grid">
              <div class="Form-cell">
                <div class="Form-addon -border -round">@</div>
                <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
              </div>
              <div class="Form-cell">
                <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
                <div class="Form-addon -border">@</div>
              </div>
              <button class="Form-button Button Button--primary -round">Form button</button>
            </div>
          </Form>
          <!--
           /Vertical rounded Form collection with addons and button
           -->
        </div>

      </div>

      <!--
       Horizontal rounded Form collection
       -->
      <Form action="" class="Form Form--primary">
        <div class="Form-grid -horizontal">
          <div class="Form-cell">
            <input class="Form-item -border" type="text" placeholder="I'm placeholder text">
          </div>
          <div class="Form-cell">
            <input class="Form-item -border" type="text" placeholder="I'm placeholder text too">
          </div>
          <button class="Form-button Button Button--primary">Form button</Button>
        </div>
      </Form>
      <!--
       /Horizontal rounded Form collection
       -->

      <!--
       Horizontal rounded Form collection with addons on right and button
       -->
      <Form action="" class="Form Form--primary js-Form">
        <div class="Form-grid -m-horizontal">
          <div class="Form-cell">
            <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
            <div class="Form-addon -border -round">@</div>
          </div>
          <div class="Form-cell">
            <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
            <div class="Form-addon -border -round">&#10003;</div>
          </div>
          <div class="Form-cell">
            <div class="Form-item Form-item--select -border -round -hasIconRight">
              <span class="Form-item--select-text">Choose something here</span>
              <label>
                <span class="Form-icon -right"><i class="IconCss -chevronDown -s"></i></span>
                <select class="Form-select">
                  <option value="Choose something here" selected="selected">Choose something here</option>
                  <option value="Option 1">Option 1</option>
                  <option value="Option 2">Option 2</option>
                  <option value="Option 3">Option 3</option>
                  <option value="Option 4">Option 4</option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </Form>
      <!--
       /Horizontal rounded Form collection with addons on right and button
       -->

      <!--
       Horizontal rounded Form collection with addons on right and button
       -->
      <Form action="" class="Form Form--primary js-Form">
        <div class="Form-grid -vertical -m-horizontal">
          <div class="Form-cell">
            <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
            <div class="Form-addon -border -round">@</div>
          </div>
          <div class="Form-cell">
            <div class="Form-item Form-item--select -border -round -hasIconRight">
              <span class="Form-item--select-text">Choose something here</span>
              <label>
                <span class="Form-icon -right"><i class="IconCss -chevronDown -s"></i></span>
                <select class="Form-select">
                  <option value="Choose something here" selected="selected">Choose something here</option>
                  <option value="Option 1">Option 1</option>
                  <option value="Option 2">Option 2</option>
                  <option value="Option 3">Option 3</option>
                  <option value="Option 4">Option 4</option>
                </select>
              </label>
            </div>
          </div>
          <div class="Form-cell">
            <input class="Form-item -border -round" type="text" placeholder="I'm placeholder text">
            <div class="Form-addon -border -round">&#10003;</div>
          </div>
          <button class="Form-button Button Button--primary -round">Form button</Button>
        </div>
      </Form>
      <!--
       /Horizontal rounded Form collection with addons on right and button
       -->

  </div>
</div>
