---
title: Hero
---

<div class="Hero -full -color-lightOnDark js-Hero">
  <div class="Hero-item -alignFigure-topLeft">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Full hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img
        data-sizes="auto"
        data-srcset="
          http://lorempixel.com/641/640/cats 400w,
          http://lorempixel.com/1281/880/cats 768w,
          http://lorempixel.com/1681/1320/cats 1200w"
        class="js-lazyload">
      <noscript>
        <img src="http://lorempixel.com/640/640/cats">
      </noscript>
    </figure>
    <div class="Hero-overlay"></div>
  </div>
</div>

<div class="Hero -l -color-darkOnLight js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Large hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img
        data-sizes="auto"
        data-srcset="
          http://lorempixel.com/640/640/nature 400w,
          http://lorempixel.com/1280/880/nature 768w,
          http://lorempixel.com/1680/1320/nature 1200w"
        class="js-lazyload">
      <noscript>
        <img src="http://lorempixel.com/640/640/nature">
      </noscript>
    </figure>
    <div class="Hero-overlay"></div>
  </div>
</div>

<div class="Hero -m -color-lightOnDark js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="m-Width--6-12">
          <h1>Medium hero</h1>
          <p>I'm temporary hero page and content with background and overlay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nulla id voluptas facere quam laboriosam doloribus dolor alias delectus nam at molestias tempora veritatis praesentium velit reiciendis, quibusdam similique accusantium?</p>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img
        data-sizes="auto"
        data-srcset="
          http://lorempixel.com/640/640/people 400w,
          http://lorempixel.com/1280/880/people 768w,
          http://lorempixel.com/1680/1320/people 1200w"
        class="js-lazyload">
      <noscript>
        <img src="http://lorempixel.com/640/640/people">
      </noscript>
    </figure>
    <div class="Hero-overlay"></div>
  </div>
</div>
