---
title: Navbar
---

<div class="docs-Container Container">
  <div class="docs-Wrap Wrap">
    <nav class="Navbar Navbar--primary -l-horizontal -keepTitle js-Navbar">

      <div class="Navbar-ctrl">
        <span class="Navbar-ctrl-title">Heading</span>
        <div class="Navbar-ctrl-inner">
          <span class="Navbar-ctrl-text">Some text</span>
        </div>
        <div class="Navbar-ctrl-trigger js-NavbarTrigger">
          <i class="Navbar-ctrl-trigger-icon"></i>
        </div>
      </div>

      <ul>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/">Home</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/">Element</a>
          <span class="Navbar-trigger">
            <i class="Navbar-trigger-icon"></i>
          </span>
          <ul class="Navbar-sub">
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">2.1. element (2. level)</a>
            </li>
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">2.2. element (2. level)</a>
            </li>
          </ul>
        </li>

        <li class="Navbar-item">
          <a class="Navbar-link" href="#">Element</a>
          <span class="Navbar-trigger">
            <i class="Navbar-trigger-icon"></i>
          </span>

          <!-- Dropdown -->
          <ul class="Navbar-sub">
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.1. element (2. level)</a>
            </li>
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.2. element (2. level)</a>
              <span class="Navbar-trigger">
                <i class="Navbar-trigger-icon"></i>
              </span>
              <!-- Dropdown -->
              <ul class="Navbar-sub">
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.1. element (3. level)</a>
                  <span class="Navbar-trigger">
                    <i class="Navbar-trigger-icon"></i>
                  </span>
                  <!-- Dropdown -->
                  <ul class="Navbar-sub">
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.1.1. element (4. level)</a>
                    </li>
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.1.2. element (4. level)</a>
                    </li>
                  </ul>
                  <!-- /Dropdown -->
                </li>
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.2. element (3. level)</a>
                  <span class="Navbar-trigger">
                    <i class="Navbar-trigger-icon"></i>
                  </span>
                  <!-- Dropdown -->
                  <ul class="Navbar-sub">
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.2.1. element (4. level)</a>
                    </li>
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.2.2. element (4. level)</a>
                      <span class="Navbar-trigger">
                        <i class="Navbar-trigger-icon"></i>
                      </span>
                      <!-- Dropdown -->
                      <ul class="Navbar-sub">
                        <li class="Navbar-item">
                          <a class="Navbar-link" href="#">3.2.2.2.1. element (5. level)</a>
                        </li>
                        <li class="Navbar-item">
                          <a class="Navbar-link" href="#">3.2.2.2.2. element (5. level)</a>
                          <span class="Navbar-trigger">
                            <i class="Navbar-trigger-icon"></i>
                          </span>
                          <!-- Dropdown -->
                          <ul class="Navbar-sub">
                            <li class="Navbar-item">
                              <a class="Navbar-link" href="#">3.2.2.2.2.1. element (6. level)</a>
                            </li>
                            <li class="Navbar-item">
                              <a class="Navbar-link" href="#">3.2.2.2.2.2.1. element (6. level) &hellip;</a>
                            </li>
                          </ul>
                          <!-- /Dropdown -->
                        </li>
                      </ul>
                      <!-- /Dropdown -->
                    </li>
                  </ul>
                  <!-- /Dropdown -->
                </li>
              </ul>
              <!-- /Dropdown -->
            </li>

            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.3. element (2. level)</a>
              <span class="Navbar-trigger">
                <i class="Navbar-trigger-icon"></i>
              </span>
              <!-- Dropdown -->
              <ul class="Navbar-sub">
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.3.1. element (3. level)</a>
                </li>
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.2. element (3. level)</a>
                </li>
              </ul>
              <!-- /Dropdown -->
            </li>
          </ul>
          <!-- /Dropdown -->
        </li>
      </ul>
    </nav>
  </div>
</div>
