{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:page.header.meta name="description" content="{page.description}" />
<v:page.header.meta name="abstract" content="{page.abstract}" />
<v:page.header.meta name="keywords" content="{page.keywords}" />
<v:page.header.meta name="viewport" content="width=device-width,initial-scale=1" />
<v:page.header.meta name="msapplication-tap-highlight" content="no" />
<v:page.header.meta http-equiv="X-UA-Compatible" content="IE=edge" />

<f:if condition="{page.subtitle}">
  <f:then>
    <v:page.header.title title="{page.subtitle} — <%= appNameHumanize %>" whitespaceString=" " setIndexedDocTitle="1" />
  </f:then>
  <f:else>
    <v:page.header.title title="{page.title} — <%= appNameHumanize %>" whitespaceString=" " setIndexedDocTitle="1" />
  </f:else>
</f:if>

<v:asset.script path="EXT:<%= appRoot %>/Resources/Public/Assets/javascripts/head.js" rewrite="false" standalone="true" movable="false" />
<v:asset.style path="EXT:<%= appRoot %>/Resources/Public/Assets/stylesheets/app.css" rewrite="false" standalone="true" />

<!--[if lte IE 9]>
  <p class="IeFrame">Hei, käytät <strong>tietoturvatonta</strong> selainta. <a href="http://outdatedbrowser.com/">Päivitä uuteen selaimeen</a>, kiitokset!</p>
<![endif]-->

