/* ========================================
 * Icons
 * ======================================== */

@font-face {}

.Icon {
  font-family: 'my-font-family';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: relative;
  text-transform: none;
  top: rem(-1px);
  line-height: 1;
  speak: none;
  vertical-align: middle;
}


/**
 * Icon shapes
 */
.Icon {
  &.-myIcomoonEtcIconName:before {}
}
