/* ========================================
 * CSS shaped menu icon (hamburger)
 * ======================================== */

.IconCss.-shape-menu {
  border-top: 2px solid $color-text;
  display: inline-block;
  position: relative;
  top: -7px;
  user-select: none;
  width: 24px;

  &:before, &:after {
    background-color: $color-text;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 24px;
  }

  &:before { top: -7px; }
  &:after { top: 3px; }
}
