/* ========================================
 * Text
 * ======================================== */

.Text {}


/* ======
 * Text - type
 * ====== */

.Text {

  &.-type-serif {
    font-family: $base-fontFamilySerif;
  }
}


/* ======
 * Text - case
 * ====== */

.Text {

  &.-case-upper {
    text-transform: uppercase;
  }
}


/* ======
 * Text - align
 * ====== */

.Text {

  &.-align-left {
    text-align: left;
  }

  &.-align-right {
    text-align: right;
  }

  &.-align-center {
    text-align: center;
  }
}


/* ======
 * Text - size
 * ====== */

.Text {

  &.-size-l {
    @include fontSize($base-fontSize-l, $base-lineHeight-l);
  }

  &.-size-s {
    @include fontSize($base-fontSize-s, $base-lineHeight-s);
  }

  &.-size-xs {
    @include fontSize($base-fontSize-xs, $base-lineHeight-xs);
  }
}
