/* ========================================
 * Navbar - Default
 * ========================================
 *
 * @extends `.Navbar{}` in _Navbar.scss
 */

.Navbar--default {
  background-color: $colorBgLight;
  display: flex;
  flex-wrap: wrap;

  &.is-open > ul {
    display: block;
  }

  > ul {
    display: none;
    width: 100%;
  }

  .Navbar-logo {
    @include fontSize($baseFontSize-l, $baseLineHeight-l);
    align-items: center;
    color: $colorText;
    display: flex;
    padding: 0 $uiSpace;
  }

  .Navbar-ctrl {
    display: flex;
    margin-left: auto;
    min-height: $uiSpace * 2;
  }

    .Navbar-ctrl-trigger {
      align-items: center;
      color: $colorText;
      cursor: pointer;
      display: flex;
      min-width: $uiSpace * 2;
      justify-content: center;
    }

      .Navbar-ctrl-trigger-icon {
        @include shapeMenu($colorPrimary);
      }

  .Navbar-item {
    border-top: 1px solid $colorBorder;
    display: flex;
    flex-wrap: wrap;

    &.is-active {
      background: red;

      > .Navbar-link {
        color: $colorLink;
      }
    }

    &.is-open {
      > .Navbar-trigger > .Navbar-trigger-icon {
        transform: rotate(0deg);
      }

      > .Navbar-sub {
        display: block;
      }
    }
  }

  .Navbar-link {
    align-items: center;
    color: $colorText;
    cursor: pointer;
    display: flex;
    flex: 1;
    padding: ($uiSpace / 2) $uiSpace;

    &:hover {
      color: $colorLink;
    }
  }

  .Navbar-trigger {
    align-items: center;
    border-left: 1px solid $colorBorder;
    color: $colorText;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: $uiSpace * 2;
  }

    .Navbar-trigger-icon {
      @include shapeArrow('down');
      pointer-events: none;
    }

  .Navbar-sub {
    display: none;
    background-color: darken($colorLight, 6);
    width: 100%;

    .Navbar-link  {
      background-color: transparent;

      &:hover {
        color: $colorLink;
      }
    }

    ul {
      background-color: rgba($colorDark, 0.03);

      .Navbar-trigger {
        background-color: transparent;
      }
    }
  }


  /* ======
   * Wider Breakpoint
   * ====== */

  @include mq(m) {
    display: flex;

    &.is-open > ul {
      display: flex;
    }

    > ul {
      display: flex;
      margin-left: auto;
      padding-right: $uiSpace / 1.5;
      width: auto;
    }

    .Navbar-ctrl {
      margin-left: 0;
      order: 3;
    }

      .Navbar-ctrl-trigger {
        display: none;
      }

    > ul > .Navbar-item {
      border: 0;
      position: relative;

      > .Navbar-link {
        border: 0;
        padding: $uiSpace ($uiSpace / 2);
      }

      > .Navbar-trigger {
        border: 0;
        margin: 2px ($uiSpace / 2) 0 (-($uiSpace / 6));
        min-width: 0;
      }

      &:nth-last-child(2), &:last-child {
        > .Navbar-sub {
          left: auto;
          right: 0;
        }
      }
    }

    .no-touchevents & .Navbar-item.is-open > .Navbar-trigger > .Navbar-trigger-icon {
      transform: rotate(180deg);
    }

    .Navbar-sub {
      @include dropdown($arrow: false);
      @include fontSize($baseFontSize-s, $baseLineHeight-s);
      display: block;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      left: 0;

      .Navbar-item {
        border: 0;
      }

      .Navbar-link {
        padding: ($uiSpace / 3) 0;
      }

      ul, .Navbar-trigger {
        display: none !important;
      }
    }

    .touchevents & .Navbar-item.is-open, .Navbar-item:hover, .Navbar-item:focus {
      > .Navbar-sub {
        @include dropdown($state: 'is-open');
      }
    }
  }
}
