// =======================================
// Navbar Config
// =======================================

$NavbarDefault-bgColor: $bgLightest;
$NavbarDefault-textColor: $text;
$NavbarDefault-linkColor: $text;
$NavbarDefault-linkColorHover: $link;
$NavbarDefault-activeColor: $linkHover;
$NavbarDefault-triggerColor: $text;
$NavbarDefault-colorBorder: $border;
$NavbarDefault-subBgColor: $bgLighter;
$NavbarDefault-breakpoints: (
  l: map-get($mq-breakpoints, l)
);
