---
title: Rebirth — Modular front-end framework for developing fast and powerful web interfaces.
disable_docs_title: true
layout: default
---

<div class="docs-Hero Hero Hero--default -full">
  <div class="Hero-item Hero-item--default -alignContentCenter">
    <div class="Hero-wrap Wrap">
      <div class="Hero-content">
        <div class="Hero-content-item">
          <h1 class="Hero-title Heading -l">Rebirth</h1>
          <div class="Text -l">
            <p>Starter kit and styleguide for developing responsive, mobile first projects on the web. Please note that these docs are just a scratch so far.</p>
          </div>
          <a href="docs/getting-started/introduction" class="Button Button--default -pill">Documentation</a>
        </div>
      </div>
    </div>
    {{!-- <figure class="Hero-figure">
      <picture>
        <source srcset="{{assets}}/images/hero-s.jpg" media="(max-width: 600px)" />
        <source srcset="{{assets}}/images/hero-m.jpg" media="(max-width: 1000px)" />
        <source srcset="{{assets}}/images/hero-l.jpg" />
        <img src="{{assets}}/images/hero-s.jpg" class="js-lazyload" data-sizes="auto" />
      </picture>
    </figure>
    <figure class="Hero-figure Hero-figure--video">
      <video src="//joonassandell.com/temp/video-swim.mp4"
             type="video/mp4"
             autoplay
             loop
             muted></video>
    </figure> --}}
  </div>
</div>
