/* ========================================
 * Label
 * ======================================== */

.Label {
  @include textTruncate();
  @include fontSize($baseFontSize-xs, $baseSpace);
  color: #ffffff;
  display: inline-block;
  padding: 0 rem($baseSpace / 2);
}


/* ======
 * Label - Default
 * ====== */

.Label--default {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px $colorBorderDefault;
  color: $colorText;
}


/* ======
 * Label - Primary
 * ====== */

.Label--primary {
  background-color: $colorPrimary;
  box-shadow: inset 0 0 0 1px darken($colorPrimary, 5);
}


/* ======
 * Label - Info
 * ====== */

.Label--info {
  background-color: $colorInfo;
  box-shadow: inset 0 0 0 1px darken($colorInfo, 15);
}


/* ======
 * Label - Success
 * ====== */

.Label--success {
  background-color: $colorSuccess;
  box-shadow: inset 0 0 0 1px darken($colorSuccess, 10);
}


/* ======
 * Label - Warning
 * ====== */

.Label--warning {
  background-color: $colorWarning;
  box-shadow: inset 0 0 0 1px darken($colorWarning, 10);
}


/* ======
 * Label - Danger
 * ====== */

.Label--danger {
  background-color: $colorDanger;
  box-shadow: inset 0 0 0 1px darken($colorDanger, 10);
}

