/* ========================================
 * Dot
 * ========================================
 *
 * @reusable true
 */

.Dot {
  border-radius: 50%;
  display: inline-block;
  height: rem(6px);
  position: relative;
  width: rem(6px);
}


/* ======
 * Dot - states
 * ====== */

.Dot {
  &.is-success {
    background-color: $colorSuccess;
  }

  &.is-danger {
    background-color: $colorDanger;
  }

  &.is-warning {
    background-color: $colorWarning;
  }
}
