
/**
 * ========================================
 * BASE
 * ========================================
 */

/* Html, body */
html {
  @include tap-color;
  background-color: $color-bg;
  color: $color-text;
  font: {
    family: $base-font-family;
    size: 100%;
  }
  line-height: $base-line-height / $base-font-size;
  overflow-y:scroll;
  @if $basehold {
    background-image: url(http://basehold.it/i/#{$basehold});
  }
}

/* Base margin-bottom */
%base-margin-bottom,
hgroup,
blockquote, address,
table,
fieldset,figure,
pre {
  margin-bottom:$base-space;
}