/* ========================================
 * BASE
 * ======================================== */

html {
  background-color: $color-body-bg;
  color: $color-text;
  font: {
    family: $base-font-family;
    size: 100%;
  }
  line-height: $base-line-height-computed;
  overflow-y:scroll;
}

/**
 * Apply a natural box layout model to all elements
 */
*, *:before, *:after {
  box-sizing: border-box;
}

/**
 * Shared spacing
 */
hgroup, blockquote, address,
table, fieldset,figure, pre {
  margin:0 0 $base-space 0;
}