
/* ========================================
 * BASE
 * ======================================== */

html {
  @include color-tap;
  background-color: $color-bg;
  color: $color-text;
  font: {
    family: $base-font-family;
    size: 100%;
  }
  line-height: $base-line-height / $base-font-size;
  overflow-y:scroll;
}

/**
 * Apply a natural box layout model to all elements
 */
*, *:before, *:after {
  box-sizing: border-box;
}

/**
 * Shared spacing
 */
hgroup, blockquote, address,
table, fieldset,figure, pre {
  @extend %base-margin-bottom;
}