
/*  ===================
    Links & selection
    ===================  */

    a             { color: $brand-color; text-decoration:none;
        &:active  { color: $brand-color; }
        &:hover   {  }
        &:focus   { outline: 0; }
    }
    ::-moz-selection,
    ::selection     { background: $brand-color; color:#fff; text-shadow:none }