
/*  ===================
    Images & embeds
    ===================  */

    img, embed, object { max-width:100%; }

/*  Image align & spacing  */
    img {
        &.alignright  {
            @extend %base-margin-bottom;
            @extend %base-margin-left;
        }
        &.alignleft   {
            @extend %base-margin-bottom;
            margin-right:  $base-space;
        }
        &.aligncenter { margin-bottom: $base-space; }
    }