/* =======================================
 * CSS chevron
 * =======================================
 *
 * @reusable true
 */

.IconCss[class*='-chevron'] {
  @include shapeArrow($direction: false);
}


/* ======
 * CSS chevron - Size and shape
 * ====== */

.IconCss {
  &.-chevronUp {
    &.-s {
      transform: scale($IconCss-s);
    }
  }

  &.-chevronRight {
    transform: rotate(-270deg);

    &.-s {
      transform: rotate(-270deg) scale($IconCss-s);
    }
  }

  &.-chevronDown {
    transform: rotate(180deg);

    &.-s {
      transform: rotate(180deg) scale($IconCss-s);
    }
  }

  &.-chevronLeft {
    transform: rotate(-90deg);

    &.-s {
      transform: rotate(-90deg) scale($IconCss-s);
    }
  }
}
