/* =======================================
 * CSS arrow icon
 * =======================================
 *
 * @reusable true
 */

.IconCss[class*='-arrow'] {
  @include shapeArrow($direction: false, $line: true, $thickness: 2px,
  $caretWidth: 10px);

  &:before { transition: background-color $transitionDuration; }
  &:after  { transition: border-color $transitionDuration; }
}


/* ======
 * CSS arrow - Size and shape
 * ====== */

.IconCss {
  &.-arrowUp {
    &.-s {
      transform: scale($IconCss-s);
    }
  }

  &.-arrowRight {
    transform: rotate(-270deg);

    &.-s {
      transform: rotate(-270deg) scale($IconCss-s);
    }
  }

  &.-arrowDown {
    transform: rotate(180deg);

    &.-s {
      transform: rotate(180deg) scale($IconCss-s);
    }
  }

  &.-arrowLeft {
    transform: rotate(-90deg);

    &.-s {
      transform: rotate(-90deg) scale($IconCss-s);
    }
  }
}
