/* ========================================
 * Collection of form items
 * ========================================
 *
 * @overrides `.Form-*{}` in _Form.scss
 */

.FormCollection {
  display: table;
  position: relative;
  margin-bottom: rem($base-space);
  border-collapse: separate;
  width: 100%;


  /* ======
   * Elements
   * ====== */

  &:first-child {
    > .Form-item, > .Form-addon {
      border-radius: $borderRadius 0 0 $borderRadius;
    }
  }

  &:last-child {
    > .Form-item, > .Form-addon {
      border-radius: 0 $borderRadius $borderRadius 0;
    }
  }

  > .FormCollection-item {
    display: table-cell;

    > .FormCollection {
      margin-bottom: 0;

      > .Form-item, > .Form-addon {
        border-radius: 0;
      }
    }

    &:first-child {
      > .FormCollection {
        > .Form-item, > .Form-addon {
          &:first-child {
            border-radius: $borderRadius 0 0 $borderRadius;
          }
        }
      }
    }

    &:last-child {
      > .FormCollection {
        > .Form-item, > .Form-addon {
          &:last-of-type, &.Form-item--last {
            border-radius: 0 $borderRadius $borderRadius 0;
          }
        }
      }
    }
  }

  > .Form-item, > .Form-addon {
    border-right: 1px solid $color-borderPrimary;
    border-radius: 0;
    display: table-cell;

    &:first-child { border-radius: $borderRadius 0 0 $borderRadius; }
    &:last-of-type, &.Form-item--last { border-radius: 0 $borderRadius $borderRadius 0; }
  }

  .Form-item {
    min-width: 0;
    margin: 0;
  }


  /* ======
   * Modifiers
   * ====== */

  &--vertical {
    .Form-item {
      &:last-of-type { border-radius: 0; }
    }

    .Form-item, .Button {
      margin-bottom: 0;
      border-bottom: 1px solid $color-borderPrimary;
      border-radius: 0;

      &:first-child {
        border-radius: $borderRadius $borderRadius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $borderRadius $borderRadius;
        border-bottom: none;
      }
    }
  }


  &--parent {
    .FormCollection { position: static; }
  }
}
