/* ========================================
 * Form
 * ======================================== */

.Form {
  position: relative;
}

  .Form-label {
    display: block;
    font-size: $base-fontSize-s;
    line-height: $base-lineHeight-s;
    margin: -3px 0 8px 0;
  }

  .Form-addon, .Form-item {
    background-color: #ffffff;
    border-radius: $borderRadius;
    color: $color-text;
    font-size: $base-fontSize-s;
    line-height: $base-lineHeight-s;
    min-height: 44px;
    padding: 10px 16px;
  }

  .Form-item {
    @include colorPlaceholder($color-textLight);
    margin-bottom: rem($base-space);
    width: 100%;
    min-width: 240px;
    outline: 0;
    border: 0;
    transition: color $transitionDuration,
                border-color $transitionDuration,
                background-color $transitionDuration;

    &:focus {
      @include colorPlaceholder($color-text);
      background-color: $color-bgLightest;
      color: $color-text;
    }

    .touch & { font-size: 16px; }
  }

  .Form-addon {
    text-align: center;
  }

  input[type],
  textarea {
    &.Form-item {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  select {
    &.Form-item {
      color: $color-textLight;
    }
  }

  textarea {
    &.Form-item {
      min-height: 200px;
      max-width: 100%;
    }
  }
