/* ========================================
 * Form
 * ======================================== */

.Form {
  position: relative;
}

  .Form-addon, .Form-item {
    background-color: #ffffff;
    border: $Form-borderWidth solid transparent;
    color: $color-text;
    font-size: rem($Form-fontSize);
    height: rem($Form-height);
    line-height: rem($Form-height);
  }

  .Form-item {
    display: block;
    margin-bottom: rem($base-space);
    outline: 0;
    padding: 0 rem($Form-padding);
    position: relative;
    width: 100%;

    .touch & {
      font-size: 16px;
    }

    &:focus {
      z-index: 1;
    }
  }

  .Form-addon {
    line-height: rem($Form-height - ($Form-borderWidth * 2));
    padding: 0 rem($Form-padding / 2);
    text-align: center;
  }

  .Form-button {

    > .Button {
      height: rem($Form-height);
      margin-bottom: 0;
      padding: 0;
    }
  }

  textarea {
    &.Form-item {
      line-height: $base-lineHeight;
      min-height: rem($base-space * 6);
      padding-top: rem($base-space / 2);
      resize: vertical;
    }
  }

  .Form-item--select {
    line-height: rem($Form-height - ($Form-borderWidth * 2));

    select {
      cursor: pointer;
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }


/* ======
 * Form item - shape
 * ====== */

.Form-item {

  &.-round {
    border-radius: $Form-borderRadius;
  }
}


/* ======
 * Form - primary variation
 * ====== */

.Form--primary {

  .Form-item, .Form-addon {
    background-color: #ffffff;
    color: $color-textLight;

    &.-border {
      border-color: $color-borderPrimary;
    }
  }

  .Form-item {
    @include colorPlaceholder($color-textLight);
    color: $color-textLight;

    &:hover {
      @include colorPlaceholder(darken($color-textLight, 10));
      background-color: darken($color-textLight, 10);
      color: darken($color-textLight, 10);
    }

    &:focus {
      background-color: #ffffff;
      box-shadow: 0 0 1px $Form-borderWidth rgba(#000000, 0.15);
      color: $color-text;
    }

    &.-border {
      &:hover {
        border-color: $color-borderPrimary;
      }

      &:focus {
        border-color: transparent;
      }
    }
  }

  .Form-addon {
    background-color: lighten($FormPrimary-borderColor, 3);
  }
}
