/* ========================================
 * Form grid - Horizontal
 * ========================================
 *
 * @extends `.Form-grid{}` in _Form-grid.scss
 * @reusable true
 */

@mixin FormGridHorizontal($namespace: '') {
  .Form-grid.#{$namespace}-horizontal {
    flex-direction: row;

    > .Form-cell {
      flex-direction: row;

      &:first-child {
        .-round {
          &:first-child {
            border-radius: $Form-borderRadius 0 0 $Form-borderRadius;
          }

          &:last-child {
            border-radius: 0;
          }
        }
      }

      &:last-child {
        .-round {
          border-radius: 0;
        }

        .-border {
          &:last-child {
            border-right-width: $Form-borderWidth;
          }
        }

        .-round {
          &:last-child {
            border-radius: 0 $Form-borderRadius $Form-borderRadius 0;
          }
        }
      }

      > .-border {
        border-top-width: $Form-borderWidth;
        border-right-width: 0;
      }
    }

    > .Form-button {
      &.-round {
        border-radius: 0 $Form-borderRadius $Form-borderRadius 0;
      }

      &.-border {
        border-top-width: $Form-borderWidth;
      }
    }
  }
}

@if $Form-gridHorizontal {
  @include FormGridHorizontal();
}

@if $Form-gridHorizontal-s {
  @include mq(s) {
    @include FormGridHorizontal(-s);
  }
}

@if $Form-gridHorizontal-m {
  @include mq(m) {
    @include FormGridHorizontal(-m);
  }
}

@if $Form-gridHorizontal-l {
  @include mq(l) {
    @include FormGridHorizontal(-l);
  }
}
