/* ========================================
 * Coloring helpers
 * ======================================== */

.colorBrandPrimary {
  color: $color-brandPrimary !important;
}

.colorTextLight {
  color: $color-textLight !important;
}

.colorDark {
  color: $color-dark !important;
}

.bgColorLightest {
  background-color: $color-bgLightest !important;
}

