/* ========================================
 * Coloring helpers
 * ======================================== */

.color--brandPrimary {
  color: $color-brandPrimary !important;
}

.color--textLight {
  color: $color-textLight !important;
}

.color--dark {
  color: $color-dark !important;
}

.bgColor--lightest {
  background-color: $color-bgLightest !important;
}

