/* ========================================
 * Mobile up responsive visibility helper
 * ========================================
 *
 * Hide visually and from screen readers
 */

.hidden,
.s-visible, .s-visible--i, .s-visible--ib, .s-visible--tc, .s-visible--f,
.m-visible, .m-visible--i, .m-visible--ib, .m-visible--tc, .m-visible--f,
.l-visible, .l-visible--i, .l-visible--ib, .l-visible--tc, .l-visible--f,
.xl-visible, .xl-visible--i, .xl-visible--ib, .xl-visible--tc, .xl-visible--f, {
  display: none !important;
}

@include breakpoint('smallUp') {
  .s-visible     { display: inherit !important; }
  .s-visible--f  { display: flex !important; }
  .s-visible--i  { display: inline !important; }
  .s-visible--ib { display: inline-block !important; }
  .s-visible--tc { display: table-cell !important; }
  .s-hidden      { display: none !important; }
}

@include breakpoint('mediumUp') {
  .m-visible     { display: inherit !important; }
  .m-visible--f  { display: flex !important; }
  .m-visible--i  { display: inline !important; }
  .m-visible--ib { display: inline-block !important; }
  .m-visible--tc { display: table-cell !important; }
  .m-hidden      { display: none !important; }
}

@include breakpoint('largeUp') {
  .l-visible     { display: inherit !important; }
  .l-visible--f  { display: flex !important; }
  .l-visible--i  { display: inline !important; }
  .l-visible--ib { display: inline-block !important; }
  .l-visible--tc { display: table-cell !important; }
  .l-hidden      { display: none !important; }
}

@include breakpoint('xLargeUp') {
  .xl-visible     { display: inherit !important; }
  .xl-visible--f  { display: flex !important; }
  .xl-visible--i  { display: inline !important; }
  .xl-visible--ib { display: inline-block !important; }
  .xl-visible--tc { display: table-cell !important; }
  .xl-hidden      { display: none !important; }
}
