/* ========================================
 * Responsive margin helpers - large vw
 * ======================================== */

@include breakpoint('largeUp') {

  /**
   * All margins
   */
  .l-margin { margin: rem($baseSpace) !important; }
  .l-margin--xs { margin: rem($baseSpace / 4) !important; }
  .l-margin--s { margin: rem($baseSpace / 2) !important; }
  .l-margin--m { margin: rem($baseSpace * 2) !important; }
  .l-margin--l { margin: rem($baseSpace * 4) !important; }
  .l-noMargin { margin: 0 !important; }

  /**
   * Margin top
   */
  .l-marginTop { margin-top: rem($baseSpace) !important; }
  .l-marginTop--xs { margin-top: rem($baseSpace / 4) !important; }
  .l-marginTop--s { margin-top: rem($baseSpace / 2) !important; }
  .l-marginTop--m { margin-top: rem($baseSpace * 2) !important; }
  .l-marginTop--l { margin-top: rem($baseSpace * 4) !important; }
  .l-noMarginTop { margin-top: 0 !important; }

  /**
   * Margin right
   */
  .l-marginRight { margin-right: rem($baseSpace) !important; }
  .l-marginRight--xs { margin-right: rem($baseSpace / 4) !important; }
  .l-marginRight--s { margin-right: rem($baseSpace / 2) !important; }
  .l-marginRight--m { margin-right: rem($baseSpace * 2) !important; }
  .l-marginRight--l { margin-right: rem($baseSpace * 4) !important; }
  .l-noMarginRight { margin-right: 0 !important; }

  /**
   * Margin bottom
   */
  .l-marginBottom { margin-bottom: rem($baseSpace) !important; }
  .l-marginBottom--xs { margin-bottom: rem($baseSpace / 4) !important; }
  .l-marginBottom--s { margin-bottom: rem($baseSpace / 2) !important; }
  .l-marginBottom--m { margin-bottom: rem($baseSpace * 2) !important; }
  .l-marginBottom--l { margin-bottom: rem($baseSpace * 4) !important; }
  .l-noMarginBottom { margin-bottom: 0 !important; }

  /**
   * Margin left
   */
  .l-marginLeft { margin-left: rem($baseSpace) !important; }
  .l-marginLeft--xs { margin-left: rem($baseSpace / 4) !important; }
  .l-marginLeft--s { margin-left: rem($baseSpace / 2) !important; }
  .l-marginLeft--m { margin-left: rem($baseSpace * 2) !important; }
  .l-marginLeft--l { margin-left: rem($baseSpace * 4) !important; }
  .l-noMarginLeft { margin-left: 0 !important; }
}
