/* ========================================
 * Padding helpers - large vw
 * ======================================== */

@include breakpoint('largeUp') {

  /**
   * All paddings
   */
  .l-padding { padding: rem($base-space) !important; }
  .l-padding--s { padding: rem($base-space / 2) !important; }
  .l-padding--m { padding: rem($base-space * 2) !important; }
  .l-padding--l { padding: rem($base-space * 4) !important; }
  .l-no-padding { padding: 0 !important; }

  /**
   * Padding top
   */
  .l-paddingTop { padding-top: rem($base-space) !important; }
  .l-paddingTop--s { padding-top: rem($base-space / 2) !important; }
  .l-paddingTop--m { padding-top: rem($base-space * 2) !important; }
  .l-paddingTop--l { padding-top: rem($base-space * 4) !important; }
  .l-no-paddingTop { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .l-paddingRight { padding-right: rem($base-space) !important; }
  .l-paddingRight--s { padding-right: rem($base-space / 2) !important; }
  .l-paddingRight--m { padding-right: rem($base-space * 2) !important; }
  .l-paddingRight--l { padding-right: rem($base-space * 4) !important; }
  .l-no-paddingRight { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .l-paddingBottom { padding-bottom: rem($base-space) !important; }
  .l-paddingBottom--s { padding-bottom: rem($base-space / 2) !important; }
  .l-paddingBottom--m { padding-bottom: rem($base-space * 2) !important; }
  .l-paddingBottom--l { padding-bottom: rem($base-space * 4) !important; }
  .l-no-paddingBottom { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .l-paddingLeft { padding-left: rem($base-space) !important; }
  .l-paddingLeft--s { padding-left: rem($base-space / 2) !important; }
  .l-paddingLeft--m { padding-left: rem($base-space * 2) !important; }
  .l-paddingLeft--l { padding-left: rem($base-space * 4) !important; }
  .l-no-paddingLeft { padding-left: 0 !important; }
}
