/* ========================================
 * Responsive margin helpers - medium vw
 * ======================================== */

@include breakpoint('mediumUp') {

  /**
   * All margins
   */
  .m-margin     { margin: rem($baseSpace) !important; }
  .m-margin--xs { margin: rem($baseSpace / 4) !important; }
  .m-margin--s  { margin: rem($baseSpace / 2) !important; }
  .m-margin--m  { margin: rem($baseSpace * 2) !important; }
  .m-margin--l  { margin: rem($baseSpace * 4) !important; }
  .m-noMargin   { margin: 0 !important; }

  /**
   * Margin top
   */
  .m-marginTop     { margin-top: rem($baseSpace) !important; }
  .m-marginTop--xs { margin-top: rem($baseSpace / 4) !important; }
  .m-marginTop--s  { margin-top: rem($baseSpace / 2) !important; }
  .m-marginTop--m  { margin-top: rem($baseSpace * 2) !important; }
  .m-marginTop--l  { margin-top: rem($baseSpace * 4) !important; }
  .m-noMarginTop   { margin-top: 0 !important; }

  /**
   * Margin right
   */
  .m-marginRight     { margin-right: rem($baseSpace) !important; }
  .m-marginRight--xs { margin-right: rem($baseSpace / 4) !important; }
  .m-marginRight--s  { margin-right: rem($baseSpace / 2) !important; }
  .m-marginRight--m  { margin-right: rem($baseSpace * 2) !important; }
  .m-marginRight--l  { margin-right: rem($baseSpace * 4) !important; }
  .m-noMarginRight   { margin-right: 0 !important; }

  /**
   * Margin bottom
   */
  .m-marginBottom     { margin-bottom: rem($baseSpace) !important; }
  .m-marginBottom--xs { margin-bottom: rem($baseSpace / 4) !important; }
  .m-marginBottom--s  { margin-bottom: rem($baseSpace / 2) !important; }
  .m-marginBottom--m  { margin-bottom: rem($baseSpace * 2) !important; }
  .m-marginBottom--l  { margin-bottom: rem($baseSpace * 4) !important; }
  .m-noMarginBottom   { margin-bottom: 0 !important; }

  /**
   * Margin left
   */
  .m-marginLeft     { margin-left: rem($baseSpace) !important; }
  .m-marginLeft--xs { margin-left: rem($baseSpace / 4) !important; }
  .m-marginLeft--s  { margin-left: rem($baseSpace / 2) !important; }
  .m-marginLeft--m  { margin-left: rem($baseSpace * 2) !important; }
  .m-marginLeft--l  { margin-left: rem($baseSpace * 4) !important; }
  .m-noMarginLeft   { margin-left: 0 !important; }
}
