/* ========================================
 * Position helpers
 * ======================================== */

/**
 * Fill the space absolutely
 */
.positionAbsoluteFill {
  @include positionAbsoluteFill(!important);
}

/**
 * 1. Make sure fixed elements are promoted into a new layer, for performance
 *    reasons.
 */
.positionFixed {
  position: fixed !important;
  backface-visibility: hidden; /* [1.] */
}

.positionRelative {
  position: relative !important;
}

.positionStatic {
  position: static !important;
}
