/* ========================================
 * Responsive margin helpers - small vw
 * ======================================== */

@include breakpoint('smallUp') {

  /**
   * All margins
   */
  .s--margin     { margin: rem($baseSpace) !important; }
  .s--margin--xs { margin: rem($baseSpace / 4) !important; }
  .s--margin--s  { margin: rem($baseSpace / 2) !important; }
  .s--margin--m  { margin: rem($baseSpace * 2) !important; }
  .s--margin--l  { margin: rem($baseSpace * 4) !important; }
  .s--noMargin   { margin: 0 !important; }

  /**
   * Margin top
   */
  .s--marginTop     { margin-top: rem($baseSpace) !important; }
  .s--marginTop--xs { margin-top: rem($baseSpace / 4) !important; }
  .s--marginTop--s  { margin-top: rem($baseSpace / 2) !important; }
  .s--marginTop--m  { margin-top: rem($baseSpace * 2) !important; }
  .s--marginTop--l  { margin-top: rem($baseSpace * 4) !important; }
  .s--noMarginTop   { margin-top: 0 !important; }

  /**
   * Margin right
   */
  .s--marginRight     { margin-right: rem($baseSpace) !important; }
  .s--marginRight--xs { margin-right: rem($baseSpace / 4) !important; }
  .s--marginRight--s  { margin-right: rem($baseSpace / 2) !important; }
  .s--marginRight--m  { margin-right: rem($baseSpace * 2) !important; }
  .s--marginRight--l  { margin-right: rem($baseSpace * 4) !important; }
  .s--noMarginRight   { margin-right: 0 !important; }

  /**
   * Margin bottom
   */
  .s--marginBottom     { margin-bottom: rem($baseSpace) !important; }
  .s--marginBottom--xs { margin-bottom: rem($baseSpace / 4) !important; }
  .s--marginBottom--s  { margin-bottom: rem($baseSpace / 2) !important; }
  .s--marginBottom--m  { margin-bottom: rem($baseSpace * 2) !important; }
  .s--marginBottom--l  { margin-bottom: rem($baseSpace * 4) !important; }
  .s--noMarginBottom   { margin-bottom: 0 !important; }

  /**
   * Margin left
   */
  .s--marginLeft     { margin-left: rem($baseSpace) !important; }
  .s--marginLeft--xs { margin-left: rem($baseSpace / 4) !important; }
  .s--marginLeft--s  { margin-left: rem($baseSpace / 2) !important; }
  .s--marginLeft--m  { margin-left: rem($baseSpace * 2) !important; }
  .s--marginLeft--l  { margin-left: rem($baseSpace * 4) !important; }
  .s--noMarginLeft   { margin-left: 0 !important; }
}
