/* ========================================
 * Padding helpers - small vw
 * ======================================== */

@include breakpoint('smallUp') {

  /**
   * All paddings
   */
  .s-no-padding { padding: 0 !important; }

  /**
   * Padding top
   */
  .s-paddingTop { padding-top: rem($base-space) !important; }
  .s-paddingTop--s { padding-top: rem($base-space / 2) !important; }
  .s-paddingTop--m { padding-top: rem($base-space * 2) !important; }
  .s-paddingTop--l { padding-top: rem($base-space * 4) !important; }
  .s-no-paddingTop { padding-top: 0 !important; }

  /**
   * Padding right
   */
  .s-paddingRight { padding-right: rem($base-space) !important; }
  .s-paddingRight--s { padding-right: rem($base-space / 2) !important; }
  .s-paddingRight--m { padding-right: rem($base-space * 2) !important; }
  .s-paddingRight--l { padding-right: rem($base-space * 4) !important; }
  .s-no-paddingRight { padding-right: 0 !important; }

  /**
   * Padding bottom
   */
  .s-paddingBottom { padding-bottom: rem($base-space) !important; }
  .s-paddingBottom--s { padding-bottom: rem($base-space / 2) !important; }
  .s-paddingBottom--m { padding-bottom: rem($base-space * 2) !important; }
  .s-paddingBottom--l { padding-bottom: rem($base-space * 4) !important; }
  .s-no-paddingBottom { padding-bottom: 0 !important; }

  /**
   * Padding left
   */
  .s-paddingLeft { padding-left: rem($base-space) !important; }
  .s-paddingLeft--s { padding-left: rem($base-space / 2) !important; }
  .s-paddingLeft--m { padding-left: rem($base-space * 2) !important; }
  .s-paddingLeft--l { padding-left: rem($base-space * 4) !important; }
  .s-no-paddingLeft { padding-bottom: 0 !important; }
}
