/* ========================================
 * Container
 * ======================================== */

.Container {
  padding-bottom: rem($baseSpace);
  padding-top: rem($baseSpace);

  @include breakpoint('mediumUp') {
    padding-bottom: rem($baseSpace * 2);
    padding-top: rem($baseSpace * 2);
  }
}
