/* ========================================
 * Grid cell - alignment
 * ========================================
 *
 * @extends `.Grid-cell{}` in _Grid.scss.
 * @reusable true
 */

 @mixin GridCellAlign($namespace: '') {
  .Grid-cell.#{$namespace}-align-bottom { align-self: flex-end; }
  .Grid-cell.#{$namespace}-align-center { align-self: center; }
  .Grid-cell.#{$namespace}-align-top { align-self: flex-start; }
}

@if $Grid-cellAlign {
  @include GridCellAlign();
}

@if $Grid-cellAlign-s {
  @include breakpoint('smallUp') {
    @include GridCellAlign(-s);
  }
}

@if $Grid-cellAlign-m {
  @include breakpoint('mediumUp') {
    @include GridCellAlign(-m);
  }
}

@if $Grid-cellAlign-l {
  @include breakpoint('largeUp') {
    @include GridCellAlign(-l);
  }
}
