/* ========================================
 * Equal height columns
 * ======================================== */

@mixin Grid-equal($gutter: 1) {
  display: table;
  display: flex;
  height: 100%;

  > .Grid-item {
    display: table-cell;
    display: flex;
    float: none;
    vertical-align: top;
  }
}

.s-Grid--equal {

  @include breakpoint('smallUp') {
    @include Grid-equal();
  }
}

.m-Grid--equal {

  @include breakpoint('mediumUp') {
    @include Grid-equal();
  }
}

.l-Grid--equal {

  @include breakpoint('largeUp') {
    @include Grid-equal();
  }
}
