/* ========================================
 * Grid
 * ========================================
 *
 * @reusable true
 */

.Grid {
  display: flex;
  list-style: none;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-left: rem(-($Grid-gutter));
  margin-right: rem(-($Grid-gutter));
}

  .Grid-cell {
    flex: 0 0 auto;
    max-width: 100%;
    padding-left: rem($Grid-gutter);
    padding-right: rem($Grid-gutter);
    width: 100%;
  }


/* ======
 * Grid - sizing and layout
 * ====== */

@mixin GridSize($amount: 0) {
  margin-left: rem(-($Grid-gutter * $amount));
  margin-right: rem(-($Grid-gutter * $amount));

  > .Grid-cell {
    padding-left: rem($Grid-gutter * $amount);
    padding-right: rem($Grid-gutter * $amount);
  }
}

.Grid {
  &.-auto {
    > .Grid-cell:not([class*="Width"]) {
      flex: 1 1 0;
      width: auto;
    }
  }

  &.-full { @include GridSize(); }
  &.-xl { @include GridSize(4); }
  &.-l { @include GridSize(2); }
}


/* ======
 * Grid - justify
 * ====== */

@mixin GridJustify($namespace: '') {
  .Grid.#{$namespace}-justify-around { justify-content: space-around; }
  .Grid.#{$namespace}-justify-between { justify-content: space-between; }
  .Grid.#{$namespace}-justify-center { justify-content: center; }
  .Grid.#{$namespace}-justify-end { justify-content: flex-end; }
}

@if $Grid-justify {
  @include GridJustify();
}

@if $Grid-justify-s {
  @include breakpoint('smallUp') {
    @include GridJustify(-s);
  }
}

@if $Grid-justify-m {
  @include breakpoint('mediumUp') {
    @include GridJustify(-m);
  }
}

@if $Grid-justify-l {
  @include breakpoint('largeUp') {
    @include GridJustify(-l);
  }
}


/* ======
 * Grid - aligning of cells
 * ====== */

@mixin GridAlign($namespace: '') {
  .Grid.#{$namespace}-align-bottom { align-items: flex-end; }
  .Grid.#{$namespace}-align-center { align-items: center; }
  .Grid.#{$namespace}-align-top { align-items: flex-start; }
}

@if $Grid-align {
  @include GridAlign();
}

@if $Grid-align-s  {
  @include breakpoint('smallUp') {
    @include GridAlign(-s);
  }
}

@if $Grid-align-m  {
  @include breakpoint('mediumUp') {
    @include GridAlign(-m);
  }
}

@if $Grid-align-s  {
  @include breakpoint('largeUp') {
    @include GridAlign(-l);
  }
}
