/* ========================================
 * Grid cell - alignment
 * ========================================
 *
 * @extends `.Grid-cell{}` in _Grid.scss.
 * @reusable true
 */

 @mixin GridCellAlign($namespace: '') {
  .Grid-cell.#{$namespace}-align-bottom { align-self: flex-end; }
  .Grid-cell.#{$namespace}-align-center { align-self: center; }
  .Grid-cell.#{$namespace}-align-top { align-self: flex-start; }
}

/**
 * I assume that I need responsive variants only
 */
@include breakpoint('smallUp') { @include GridCellAlign(-s); }
@include breakpoint('mediumUp') { @include GridCellAlign(-m); }
@include breakpoint('largeUp') { @include GridCellAlign(-l); }
