/* ========================================
 * Pull
 * ======================================== */

@mixin Pull($namespace: '') {
  .#{$namespace}Pull--1-12  { right: 8.333%; }
  .#{$namespace}Pull--2-12  { right: 16.666%; }
  .#{$namespace}Pull--3-12  { right: 25%; }
  .#{$namespace}Pull--4-12  { right: 33.333%; }
  .#{$namespace}Pull--5-12  { right: 41.666% }
  .#{$namespace}Pull--6-12  { right: 50%; }
  .#{$namespace}Pull--7-12  { right: 58.333%; }
  .#{$namespace}Pull--8-12  { right: 66.666%; }
  .#{$namespace}Pull--9-12  { right: 75%; }
  .#{$namespace}Pull--10-12 { right: 83.333%; }
  .#{$namespace}Pull--11-12 { right: 91.666%; }
}

[class*='Pull--'] { position: relative; }

@include Pull();
@include breakpoint('smallUp') { @include Pull(s-); }
@include breakpoint('mediumUp') { @include Pull(m-); }
@include breakpoint('largeUp') { @include Pull(l-); }
