/* ========================================
 * Push
 * ======================================== */

@mixin Push($namespace: '') {
  .#{$namespace}Push--1-12  { left: 8.333%; }
  .#{$namespace}Push--2-12  { left: 16.666%; }
  .#{$namespace}Push--3-12  { left: 25%; }
  .#{$namespace}Push--4-12  { left: 33.333%; }
  .#{$namespace}Push--5-12  { left: 41.666% }
  .#{$namespace}Push--6-12  { left: 50%; }
  .#{$namespace}Push--7-12  { left: 58.333%; }
  .#{$namespace}Push--8-12  { left: 66.666%; }
  .#{$namespace}Push--9-12  { left: 75%; }
  .#{$namespace}Push--10-12 { left: 83.333%; }
  .#{$namespace}Push--11-12 { left: 91.666%; }
}

[class*='Push--'] { position: relative; }

@include Push();
@include breakpoint('smallUp') { @include Push(s-); }
@include breakpoint('mediumUp') { @include Push(m-); }
@include breakpoint('largeUp') { @include Push(l-); }
