/* ========================================
 * Wrap
 * ========================================
 *
 * @reusable true
 */

.Wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: $Wrap-width + ($baseSpace * 4);
  padding-left: $baseEdgeSpace;
  padding-right: $baseEdgeSpace;

  @include breakpoint('largeUp') {
    padding-left: $baseSpace * 2;
    padding-right: $baseSpace * 2;
  }
}


/* ======
 * Wrap - absolute
 * ====== */

.Wrap--absolute {
  left: $baseEdgeSpace;
  max-width: $Wrap-width;
  padding: 0;
  position: absolute;
  right: $baseEdgeSpace;
  width: 100%;

  @include breakpoint('largeUp') {
    left: $baseSpace * 2;
    right: $baseSpace * 2;
  }
}
