    {{#dev}}
      <script src="/bower_components/jquery/dist/jquery.js"></script>
    {{/dev}}
    {{#prod}}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/assets/javascripts/vendor/jquery.min.js"><\/script>')</script>
    {{/prod}}

    <!-- build:js(<%= appSourcePath %>) {{assets}}/javascripts/app.min.js -->
      <!-- bower:js -->
      <!-- endbower -->

      {{!-- Vendors, helpers, plugins and additional Bower components --}}
      <script src="{{assets}}/javascripts/plugins/toggle.js"></script>

      {{!-- Components --}}
      <script src="{{assets}}/javascripts/components/Component.js"></script>

      {{!-- app init --}}
      <script src="{{assets}}/javascripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
