
// ========================================
// BREAKPOINTS
// ========================================

// 319px
$bp-smallest: "all and (max-width: 19.9375em)";

// 480px
$bp-smaller: "all and (max-width: 30em)";

// 767px
$bp-small: "all and (max-width: 47.9375em)";

// 480px
$bp-medium-small: "all and (min-width: 30em)";

// 768px
$bp-medium: "all and (min-width: 48em)";

// 1023px
$bp-medium-only: "all and (min-width: 48em) and (max-width: 63.9375em)";

// 1024px
$bp-large: "all and (min-width: 64em)";

// 1200px
$bp-larger: "all and (min-width: 75em)";

$bp-high-res: "all and (-webkit-min-device-pixel-ratio: 1.5),
               all and (min-resolution: 144dpi)";

$bp-high-res-desk: "all and (min-width: 48em)
                        and (min-resolution: 144dpi),
                    all and (min-width: 48em)
                    and (-webkit-min-device-pixel-ratio: 1.5)";