
// ========================================
// COLORS
// ========================================

// Base colors
$color-bg: #fff;
$color-text: #444;
$color-dark: #000;
$color-light: #fff;

// Brand colors
$color-brand:  #23bfe2;

// Grays
$color-gray-darkest:        #121212;
$color-gray-darker:            #222;
$color-gray-dark:              #333;
$color-gray:                   #555;
$color-gray-light:          #a2a2a2;
$color-gray-lighter:           #ccc;
$color-gray-lightest:       #E6E6E6;