
// ========================================
// MODULES & VARIABLES
// ========================================

// Import modules
@import "compass";
@import "compass/css3/user-interface";
@import "mixins";
@import "colors";
@import "breakpoints";

// Base typography
$base-font-size:   16;
$base-line-height: 24;
$basehold: $base-line-height;

$base-font-family: Helvetica, Arial, sans-serif;
$headings-font-family: inherit;
$headings-font-weight: 800;
$alt-font-family: inherit;
$alt-font-weight: normal;

// Spacing
$base-space: em($base-line-height);
$base-space-x2: em($base-line-height*2);
$base-space-x3: em($base-line-height*3);
$base-space-x4: em($base-line-height*4);
$base-space-half: em($base-line-height/2);
$base-space-third: em($base-line-height/3);
$base-space-fourth: em($base-line-height/4);
$edge-space: 6%;

// Border-radius
$base-border-radius: 3px;

// Elements
$use-buttons: false; // _buttons.scss



