---
title: Navbar
---

<div class="docs-Container Container">
  <div class="docs-Wrap Wrap">
    <nav class="Navbar Navbar--default js-NavbarDefault">

      <a href="/" class="Navbar-logo">Navbar</a>

      <div class="Navbar-ctrl">
        <div class="Navbar-ctrl-trigger js-NavbarDefaultTrigger">
          <i class="Navbar-ctrl-trigger-icon"></i>
        </div>
      </div>

      <ul>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/">Home</a>
        </li>
        <li class="Navbar-item">
          <a class="Navbar-link" href="/">Link</a>
          <span class="Navbar-trigger">
            <i class="Navbar-trigger-icon"></i>
          </span>
          <ul class="Navbar-sub">
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">2.1. Link</a>
            </li>
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">2.2. Link</a>
            </li>
          </ul>
        </li>

        <li class="Navbar-item">
          <a class="Navbar-link" href="#">Dropdown</a>
          <span class="Navbar-trigger">
            <i class="Navbar-trigger-icon"></i>
          </span>
          <ul class="Navbar-sub">
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.1. Link</a>
            </li>
            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.2. Link</a>
              <span class="Navbar-trigger">
                <i class="Navbar-trigger-icon"></i>
              </span>
              <ul class="Navbar-sub">
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.1. Link</a>
                  <span class="Navbar-trigger">
                    <i class="Navbar-trigger-icon"></i>
                  </span>
                  <ul class="Navbar-sub">
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.1.1. Link (4. level)</a>
                    </li>
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.1.2. Link (4. level)</a>
                    </li>
                  </ul>
                </li>
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.2. Link</a>
                  <span class="Navbar-trigger">
                    <i class="Navbar-trigger-icon"></i>
                  </span>
                  <ul class="Navbar-sub">
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.2.1. Link (4. level)</a>
                    </li>
                    <li class="Navbar-item">
                      <a class="Navbar-link" href="#">3.2.2.2. Link (4. level)</a>
                      <span class="Navbar-trigger">
                        <i class="Navbar-trigger-icon"></i>
                      </span>
                      <ul class="Navbar-sub">
                        <li class="Navbar-item">
                          <a class="Navbar-link" href="#">3.2.2.2.1. Link (5. level)</a>
                        </li>
                        <li class="Navbar-item">
                          <a class="Navbar-link" href="#">3.2.2.2.2. Link (5. level)</a>
                          <span class="Navbar-trigger">
                            <i class="Navbar-trigger-icon"></i>
                          </span>
                          <ul class="Navbar-sub">
                            <li class="Navbar-item">
                              <a class="Navbar-link" href="#">3.2.2.2.2.1. Link (6. level)</a>
                            </li>
                            <li class="Navbar-item">
                              <a class="Navbar-link" href="#">3.2.2.2.2.2.1. Link (6. level) &hellip;</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="Navbar-item">
              <a class="Navbar-link" href="#">3.3. Link</a>
              <span class="Navbar-trigger">
                <i class="Navbar-trigger-icon"></i>
              </span>
              <ul class="Navbar-sub">
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.3.1. Link</a>
                </li>
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#">3.2.2. Link</a>
                </li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>
    </nav>
  </div>
</div>
