---
title:
---

<div class="docs-Hero Hero -size-full js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="centerText">
          <div class="centerText-item">
            <h1 class="no-margin textCenter">
              Mediasignal <br>
              Web Starter Kit
            </h1>
          </div>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img
        src="http://lorempixel.com/640/640/cats"
        data-srcset="
          http://lorempixel.com/640/640/cats 400w,
          http://lorempixel.com/1280/880/cats 768w,
          http://lorempixel.com/1680/1320/cats 1200w"
        class="lazyload">
    </figure>
  </div>

</div>
