---
title:
---

<div class="docs-Hero Hero -size-full js-Hero">
  <div class="Hero-item">
    <div class="Hero-content">
      <div class="Wrap">
        <div class="centerText">
          <div class="centerText-item">
            <h1 class="no-margin textCenter">
              Mediasignal <br>
              Web Starter Kit
            </h1>
          </div>
        </div>
      </div>
    </div>
    <figure class="Hero-figure">
      <img
        src=""
        data-sizes="auto"
        data-srcset="
          http://lorempixel.com/g/1280/880/cats 768w,
          http://lorempixel.com/g/1680/1320/cats 1024w"
        data-bg=""
        class="lazyload">
    </figure>
  </div>

</div>
