/* =======================================
 * Code
 * ======================================= */

.docs-Code {
  margin-bottom: rem($space);
}

  .docs-Code-example {
    background-color: $bgLighter;
    border-radius: 6px 6px 0 0;
    padding: rem($space);
  }

  .docs-Code-highlight {
    @include fontSize($fontSize-xs, $lineHeight-xs);
    background-color: $bgLighter;
    border-radius: 0 0 6px 6px;
    border-top: 3px solid $bgLightest;
    overflow: auto;

    &:only-child {
      border-radius: 6px;
    }

    pre {
      margin-bottom: 0;
    }
  }
