/* =======================================
 * Code
 * ======================================= */

.docs-Code {
  margin-bottom: rem($baseSpace);
}

  .docs-Code-example {
    background-color: $colorBgLighter;
    border-radius: 6px 6px 0 0;
    padding: rem($baseSpace);
  }

  .docs-Code-highlight {
    @include fontSize($baseFontSize-xs, $baseLineHeight-xs);
    background-color: $colorBgLighter;
    border-radius: 0 0 6px 6px;
    border-top: 3px solid $colorBgLightest;
    overflow: auto;

    &:only-child {
      border-radius: 6px;
    }

    pre {
      margin-bottom: 0;
    }
  }
