/* =======================================
 * Container
 * ======================================= */

.Container {
  padding-bottom: rem($baseSpace);
  padding-top: rem($baseSpace);

  @include mq(m) {
    padding-bottom: rem($baseSpace * 3);
    padding-top: rem($baseSpace * 3);
  }
}
