/* ========================================
 * CONTENT
 * ======================================== */

.content {
  /**
   * Image floating and spacing. Usually needed in the content area.
   */
  img {
    margin-bottom:$base-space;

    &.align-right {
      margin-left: $base-space;
    }

    &.align-left {
      margin-right: $base-space;
    }
  }
}