// ========================================
// Typography
// ========================================

$baseFontSize: 16px;
$baseLineHeightPx: 24px;
$baseLineHeight: $baseLineHeightPx / $baseFontSize;

$baseFontSize-l: 18px;
$baseLineHeight-l: 26px / $baseFontSize-l;

$baseFontSize-s: 14px;
$baseLineHeight-s: 20px / $baseFontSize-s;

$baseFontSize-xs: 12px;
$baseLineHeight-xs: 18px / $baseFontSize-xs;

$baseFontFamilySerif: Georgia, serif;
$baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseFontWeight: 400;
$baseFontWeightStrong: 800;

$headingFontFamily: inherit;
$headingFontWeight: 800;
$headingFontWeight-alt: 800;

$h1FontSize: 32px;
$h1LineHeight: 'rhythm'; // 38px / $h1FontSize;
$h2FontSize: 26px;
$h2LineHeight: 'rhythm'; // 32px / $h2FontSize;
$h3FontSize: 22px;
$h3LineHeight: 'rhythm'; // 28px / $h3FontSize;
$h4FontSize: 20px;
$h4LineHeight: 'rhythm'; // 26px / $h4FontSize;
$h5FontSize: 18px;
$h5LineHeight: 'rhythm'; // 24px / $h5FontSize;


// ========================================
// Media query breakpoints
// ========================================

$breakpoint-xs: 320px;
$breakpoint-s: 600px;
$breakpoint-m: 768px;
$breakpoint-ml: 900px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1200px;


// ========================================
// Spacing
// ========================================

$baseSpace: $baseLineHeightPx;
$baseEdgeSpace: 6.25%;


// ========================================
// Default colors
// ========================================

// Grays
$colorGrayDarkest: #121212;
$colorGrayDarker: #222;
$colorGrayDark: #333;
$colorGray: #555;
$colorGrayLight: #a2a2a2;
$colorGrayLighter: #ccc;
$colorGrayLightest: #E6E6E6;

// Brand colors
$colorPrimary: #4d4dff;

// Base colors
$colorDark: #000000;
$colorLight: #ffffff;

// Background colors
$colorHtmlBg: #ffffff;
$colorBgLightest: darken(#ffffff, 3);

// Text colors
$colorText: #6a6a6a;
$colorTextLight: lighten($colorText, 20);

// Heading color
$colorHeading: inherit;

// Link colors
$colorLink: $colorPrimary;
$colorLinkHover: darken($colorLink, 15%);

// Border colors
$colorBorderDefault: darken($colorGrayLightest, 5);

// State colors
$colorSuccess: #5cb85c;
$colorWarning: #f0ad4e;
$colorDanger: #d9534f;
$colorInfo: #5bc0de;


// ========================================
// Various global settings
// ========================================

$borderRadius: 3px;
$IconCss-s: 0.85;
$IconCss-xs: 0.75;

$imagesPath: '../images';
$fontsPath: '../fonts';


// ========================================
// Wrap
// ========================================

$Wrap-width: 1140px;
$Wrap-edgeSpace: $baseEdgeSpace;
$Wrap-edgeSpace-l: $baseSpace * 2;
$Wrap-maxWidth: $Wrap-width + ($Wrap-edgeSpace-l * 2);


// ========================================
// Grid
// ========================================

$Grid-gutter: $baseSpace / 2;

$Grid-justify: true;
$Grid-justify-s: false;
$Grid-justify-m: false;
$Grid-justify-l: false;

$Grid-align: true;
$Grid-align-s: false;
$Grid-align-m: false;
$Grid-align-l: false;


// ========================================
// Width
// ========================================

$Width: true;
$Width-s: true;
$Width-m: true;
$Width-l: true;


// ========================================
// Easings and transitions
// ========================================

$transitionDuration: 0.15s;
$transitionDelay: $transitionDuration;


// ========================================
// Layout
// ========================================

$Header-zIndex: 100;
$Page-zIndex: 99;


// ========================================
// Heading
// ========================================

$Heading-fontSize-l: 62px;
$Heading-lineHeight-l: 72px / $Heading-fontSize-l;
$Heading-fontSize-m: 48px;
$Heading-lineHeight-m: 58px / $Heading-fontSize-m;
$Heading-fontSize-s: 36px;
$Heading-lineHeight-s: 46px / $Heading-fontSize-s;
