// ========================================
// Docs
// ========================================

// Default app and components
@import 'app';

// All helpers
@import 'helpers/display';
@import 'helpers/displayResponsive';
@import 'helpers/color';
@import 'helpers/layout';
@import 'helpers/margin';
@import 'helpers/s-margin';
@import 'helpers/m-margin';
@import 'helpers/l-margin';
@import 'helpers/padding';
@import 'helpers/s-padding';
@import 'helpers/m-padding';
@import 'helpers/l-padding';
@import 'helpers/text';


// ========================================
// Alert
// ========================================

@import 'components/Alert';


// ========================================
// Dropdown
// ========================================

@import 'components/Dropdown';


// ========================================
// Hero
// ========================================

@import 'components/Hero/Hero.config';

$Hero-alignFigure: true;
$Hero-alignFigure-s: true;
$Hero-alignFigure-m: true;
$Hero-alignFigure-l: true;

@import 'components/Hero/Hero';
@import 'components/Hero/Hero-item.-alignFigure';
@import 'components/Hero/Hero-slider.slick';
@import 'components/Hero/Hero.starters';


// ========================================
// Card
// ========================================

@import 'components/Card/Card.config';
@import 'components/Card/Card';


// ========================================
// Button
// ========================================

@import 'components/Button/Button.config';

$Buttons-horizontal: true;
$Buttons-horizontal-s: true;
$Buttons-horizontal-m: true;
$Buttons-horizontal-l: true;

@import 'components/Button/Button';
@import 'components/Button/Buttons--default';
@import 'components/Button/Buttons--default.-horizontal';


// ========================================
// Form
// ========================================

@import 'components/Form/Form.config';

$Form-gridHorizontal: true;
$Form-gridHorizontal-s: true;
$Form-gridHorizontal-m: true;
$Form-gridHorizontal-l: true;

@import 'components/Form/Form';
@import 'components/Form/Form-grid';
@import 'components/Form/Form-grid.-horizontal';
@import 'components/Form/Form-addon';
@import 'components/Form/Form-icon';


// ========================================
// Label
// ========================================

@import 'components/Label';


// ========================================
// Navbar
// ========================================

@import 'components/Navbar/Navbar.config';
@import 'components/Navbar/Navbar';
@import 'components/Navbar/Navbar.-horizontal';
@import 'components/Navbar/Navbar--default';


// ========================================
// Icon CSS
// ========================================

@import 'components/IconCss/IconCss.config';
@import 'components/IconCss/IconCss.-arrow';
@import 'components/IconCss/IconCss.-chevron';
@import 'components/IconCss/IconCss.-menu';


// ========================================
// Grid
// ========================================

@import 'components/Grid/Grid.config';

$Grid-justify: true;
$Grid-justify-s: true;
$Grid-justify-m: true;
$Grid-justify-l: true;

$Grid-align: true;
$Grid-align-s: true;
$Grid-align-m: true;
$Grid-align-l: true;

$Grid-ruler: true;
$Grid-ruler-s: true;
$Grid-ruler-m: true;
$Grid-ruler-l: true;

$Grid-cellAlign: true;
$Grid-cellAlign-s: true;
$Grid-cellAlign-m: true;
$Grid-cellAlign-l: true;

$Grid-cellOrder: true;
$Grid-cellOrder-s: true;
$Grid-cellOrder-m: true;
$Grid-cellOrder-l: true;

@import 'components/Grid/Grid--ruler';
@import 'components/Grid/Grid-cell.-align';
@import 'components/Grid/Grid-cell.-order';


// ========================================
// Pull
// ========================================

$Pull: false;
$Pull-s: false;
$Pull-m: false;
$Pull-l: false;

@import 'components/deprecated/Pull';


// ========================================
// Push
// ========================================

$Push: false;
$Push-s: false;
$Push-m: false;
$Push-l: false;

@import 'components/deprecated/Push';


// ========================================
// Docs related components
// ========================================

@import 'docs/docs.main'
