// ========================================
// Docs
// ========================================

// Default configs
@import 'config';

// Mixins
@import 'mixins/breakpoint';
@import 'mixins/color';
@import 'mixins/display';
@import 'mixins/dropdown';
@import 'mixins/center';
@import 'mixins/clearfix';
@import 'mixins/fontSize';
@import 'mixins/position';
@import 'mixins/text';
@import 'mixins/utility';
@import 'mixins/quantityQuery';

// UI mixins
@import 'mixins/shapeArrow';
@import 'mixins/shapeMenu';
@import 'mixins/shapeTriangle';

// All helpers
@import 'helpers/display';
@import 'helpers/displayResponsive';
@import 'helpers/color';
@import 'helpers/layout';
@import 'helpers/margin';
@import 'helpers/s-margin';
@import 'helpers/m-margin';
@import 'helpers/l-margin';
@import 'helpers/padding';
@import 'helpers/s-padding';
@import 'helpers/m-padding';
@import 'helpers/l-padding';
@import 'helpers/text';


// ========================================
// Alert
// ========================================

@import 'components/Alert';


// ========================================
// Dropdown
// ========================================

@import 'components/Dropdown';


// ========================================
// Hero
// ========================================

@import 'components/Hero.config';

$Hero-alignFigure: true;
$Hero-alignFigure-s: true;
$Hero-alignFigure-m: true;
$Hero-alignFigure-l: true;

@import 'components/Hero';
@import 'components/Hero-item.-alignFigure';
@import 'components/Hero-slider.slick';
@import 'components/Hero.starters';


// ========================================
// Card
// ========================================

@import 'components/Card.config';
@import 'components/Card';


// ========================================
// Button
// ========================================

@import 'components/Button.config';

$Button-collectionHorizontal: true;
$Button-collectionHorizontal-s: true;
$Button-collectionHorizontal-m: true;
$Button-collectionHorizontal-l: true;

@import 'components/Button';
@import 'components/ButtonCollection';
@import 'components/ButtonCollection.-horizontal';


// ========================================
// Form
// ========================================

@import 'components/Form.config';

$Form-gridHorizontal: true;
$Form-gridHorizontal-s: true;
$Form-gridHorizontal-m: true;
$Form-gridHorizontal-l: true;

@import 'components/Form';
@import 'components/Form-grid';
@import 'components/Form-grid.-horizontal';
@import 'components/Form-addon';
@import 'components/Form-icon';


// ========================================
// Label
// ========================================

@import 'components/Label';


// ========================================
// Navbar
// ========================================

@import 'components/Navbar.config';
@import 'components/Navbar';
@import 'components/Navbar.-horizontal';
@import 'components/Navbar--default';


// ========================================
// Icon CSS
// ========================================

@import 'components/IconCss.-menu';
@import 'components/IconCss.-chevron';


// ========================================
// Grid
// ========================================

@import 'components/Grid.config';

$Grid-justify: true;
$Grid-justify-s: true;
$Grid-justify-m: true;
$Grid-justify-l: true;

$Grid-align: true;
$Grid-align-s: true;
$Grid-align-m: true;
$Grid-align-l: true;

$Grid-ruler: true;
$Grid-ruler-s: true;
$Grid-ruler-m: true;
$Grid-ruler-l: true;

$Grid-cellAlign: true;
$Grid-cellAlign-s: true;
$Grid-cellAlign-m: true;
$Grid-cellAlign-l: true;

$Grid-cellOrder: true;
$Grid-cellOrder-s: true;
$Grid-cellOrder-m: true;
$Grid-cellOrder-l: true;

@import 'components/Grid--ruler';
@import 'components/Grid-cell.-align';
@import 'components/Grid-cell.-order';


// ========================================
// Pull
// ========================================

$Pull: false;
$Pull-s: false;
$Pull-m: false;
$Pull-l: false;

@import 'components/Pull';


// ========================================
// Push
// ========================================

$Push: false;
$Push-s: false;
$Push-m: false;
$Push-l: false;

@import 'components/Push';


// ========================================
// Import all default components
// ========================================

@import 'app';


// ========================================
// Docs related components
// ========================================

@import 'docs/docs.main'
