/* ========================================
 * Hero
 * ======================================== */

.Hero {
  position: relative;
  width: 100%;
  z-index: 0;

  &-item {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
  }

    &-content {
      display: table-cell;
      height: 100%;
      padding-bottom: baseSpace(2);
      padding-top: baseSpace(2);
      position: relative;
      vertical-align: middle;
      width: 100%;
      z-index: 1;
    }

    &-bg {
      background-position: top center;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }

    .TextCollection {
      position: relative;
      z-index: 1;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        rgba(#000000, 0.2) 0%,
        rgba(#000000, 0.8) 100%
      );
    }



  /* ======
   * Modifiers
   * ====== */

  /**
   * Full Hero
   */
  &--full {
    height: 100%;
    max-height: 640px;

    @include breakpoint("medium-up") {
      max-height: 960px;
    }
  }

  /**
   * Large Hero
   */
  &--l {
    .Hero-item {
      height: 440px;
    }

    @include breakpoint("large-up") {
      .Hero-item {
        height: 640px;
      }
    }
  }

  /**
   * Medium hero
   */
  &--m {
    .Hero-item {
      height: 220px;
    }

    &.Hero--btm .Hero-content {
      padding-bottom: baseSpace();

      @include breakpoint("medium-up") {
        padding-bottom: baseSpace(1.5);
      }
    }

    @include breakpoint("medium-up") {
      .Hero-item {
        height: 440px;
      }
    }
  }

  /**
   * Bottom aligned hero
   */
  &--btm {
    .Hero-content {
      vertical-align: bottom;
    }
  }
}
