/* ========================================
 * Hero - Additional starters
 * ======================================== */


/* ======
 * Hero item - Block
 * ====== */

.Hero-item--block {
  .Hero-wrap {
    padding: 0;
  }

  .Hero-content {
    background-color: rgba($colorPrimary, 0.75);
    padding: 0 $baseEdgeSpace;
    max-width: rem($baseSpace * 20);

    @include mq(m) {
      padding: 0 rem($baseSpace * 2);
    }
  }
}
