/* ========================================
 * Hero
 * ======================================== */

.Hero {
  position: relative;
}

  .Hero-item {
    color: #fff;
    display: table;
    height: rem($base-space);
    z-index: 0;
  }

    .Hero-content {
      display: table-cell;
      padding-bottom: rem($base-space);
      padding-top: rem($base-space);
      position: relative;
      vertical-align: middle;
      z-index: 2;
    }

      .Hero-figure {
        @extend %positionAbsoluteFill;
        background-position: center;
        background-size: cover;
        z-index: 0;

        &:before {
          @extend %positionAbsoluteFill;
          background-color: rgba(#000000, 0.5);
          content: '';
          z-index: 1;
        }
      }


/* ======
 * Sizing
 * ====== */

.Hero {

  /**
   * Full hero
   */
  &.-size-full {
    .Hero-item {
      height: 100vh;
    }
  }

  /**
   * Large hero
   */
  &.-size-l {
    .Hero-item {
      height: rem($base-space * 18);
    }

    @include breakpoint('mediumUp') {
      .Hero-item {
        height: rem($base-space * 28);
      }
    }
  }

  /**
   * Medium hero
   */
  &.-size-m {
    .Hero-item {
      height: rem($base-space * 14);
    }

    @include breakpoint('mediumUp') {
      .Hero-item {
        height: rem($base-space * 18);
      }
    }
  }
}
