// ========================================
// Hero
// ========================================

$Hero-alignFigure: false;
$Hero-alignFigure-s: false;
$Hero-alignFigure-m: false;
$Hero-alignFigure-l: false;
