/* ========================================
 * Hero
 * ======================================== */

.Hero {
  position: relative;
}

  .Hero-item {
    display: table;
    height: rem($base-space * 10);
    width: 100%;
  }

    .Hero-content {
      display: table-cell;
      padding-bottom: rem($base-space);
      padding-top: rem($base-space);
      position: relative;
      vertical-align: middle;
      width: 100%;
      z-index: 2;
    }

      .Hero-figure {
        @extend %positionAbsoluteFill;
        background-size: cover; /* Fallback */
        margin-bottom: 0;
        overflow: hidden;
        z-index: 0;

        img {
          display: block;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .Hero-overlay {
        @extend %positionAbsoluteFill;
        content: '';
        z-index: 1;
      }


/* ======
 * Sizing
 * ====== */

.Hero {

  &.-size-full {
    .Hero-item {
      height: 100vh;
    }
  }

  &.-size-l {
    .Hero-item {
      height: rem($base-space * 18);
    }

    @include breakpoint('mediumUp') {
      .Hero-item {
        height: rem($base-space * 28);
      }
    }
  }

  &.-size-m {
    .Hero-item {
      height: rem($base-space * 14);
    }

    @include breakpoint('mediumUp') {
      .Hero-item {
        height: rem($base-space * 18);
      }
    }
  }
}


/* ======
 * Aligning
 * ====== */

.Hero {

  &.-align-top {
    .Hero-content {
      padding-top: rem($base-space * 2);
      vertical-align: top;
    }
  }

  &.-align-bottom {
    .Hero-content {
      padding-bottom: rem($base-space * 2);
      vertical-align: bottom;
    }
  }
}


/* ======
 * Coloring
 * ====== */

.Hero {

  &.-color-lightOnDark {
    background-color: #ffffff;
    color: #ffffff;

    .Hero-overlay {
      background-color: rgba(#000000, 0.5);
    }
  }

  &.-color-darkOnLight {
    background-color: $color-text;
    color: $color-text;

    .Hero-overlay {
      background-color: rgba(#ffffff, 0.75);
    }
  }
}
