// ========================================
// Typography
// ========================================

$baseFontSize: 16px;
$baseLineHeightPx: 24px;
$baseLineHeight: $baseLineHeightPx / $baseFontSize;

$baseFontSize-l: 18px;
$baseLineHeight-l: 26px / $baseFontSize-l;

$baseFontSize-s: 14px;
$baseLineHeight-s: 20px / $baseFontSize-s;

$baseFontSize-xs: 12px;
$baseLineHeight-xs: 18px / $baseFontSize-xs;

$baseFontFamilySerif: Georgia, serif;
$baseFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$baseFontWeight: 400;
$baseFontWeightStrong: 700;

$headingFontFamily: inherit;
$headingFontWeight: 700;
$headingFontWeight-alt: 700;

$h1FontSize: 32px;
$h1LineHeight: 38px / $h1FontSize;
$h2FontSize: 26px;
$h2LineHeight: 32px / $h2FontSize;
$h3FontSize: 22px;
$h3LineHeight: 28px / $h3FontSize;
$h4FontSize: 20px;
$h4LineHeight: 26px / $h4FontSize;
$h5FontSize: 18px;
$h5LineHeight: 24px / $h5FontSize;


// ========================================
// Breakpoints
// ========================================

$mq-breakpoints: (
  xs: 320px,
  s:  600px,
  m:  768px,
  ml: 900px,
  l:  1024px,
  xl: 1200px
);


// ========================================
// Spacing
// ========================================

$baseSpace: $baseLineHeightPx;
$baseEdgeSpace: 6.25%;
$uiSpace: $baseLineHeightPx / $baseFontSize * 1rem; //


// ========================================
// Colors
// ========================================

// Brand colors
$colorPrimary: #000000;

// Base colors
$colorDark: #000000;
$colorLight: #ffffff;

// Background colors
$colorBgHtml: #ffffff;
$colorBgLight: #ffffff;
$colorBgLightest: darken($colorBgLight, 5);
$colorBgDark: #000000;
$colorBgDarkest: #000000;

// Text colors
$colorText: #000000;
$colorTextLight: lighten($colorText, 20);
$colorTextLightest: lighten($colorText, 30);

// Heading color
$colorHeading: inherit;

// Link colors
$colorLink: #4d4dff;
$colorLinkHover: darken($colorLink, 15%);

// Border colors
$colorBorder: rgba(#000000, 0.08);
$colorBorderDefault: rgba(#000000, 0.08);

// State colors
$colorSuccess: #5cb85c;
$colorWarning: #f0ad4e;
$colorDanger: #d9534f;
$colorInfo: #5bc0de;


// ========================================
// Various global settings
// ========================================

$borderRadius: 0;
$imagesPath: './images';
$fontsPath: './fonts';


// ========================================
// Easings and transitions
// ========================================

$transitionDuration: 0.15s;
$transitionDelay: $transitionDuration;
