/* ========================================
 * Base
 * ======================================== */

/**
 * For IE 10 desktop to work in it's 'snap mode' you need to use this.
 */
@-ms-viewport {
  width: device-width;
}

html {
  background-color: $color-htmlBg;
  color: $color-text;
  font-family: $base-fontFamily;
  font-size: 100%;
  line-height: $base-lineHeight;
  min-width: 300px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  tap-highlight-color: transparent;
}

/**
 * Apply a natural box layout model to all elements.
 */
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

/**
 * Shared spacing
 */
hgroup, blockquote, address,
table, fieldset, figure, pre,
ul, ol, dl {
  margin: 0 0 rem($base-space);
}

/**
 * Lists
 */
ul, ol, dl {
  padding: 0 0 0 rem($base-space);
}

nav ul {
  @extend %resetList;
}

/**
 * Links & selection
 */
a {
  color: $color-link;
  text-decoration: none;

  &:active {
    color: $color-link;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $color-linkHover;
  }
}

::-moz-selection {
  background: $color-primary;
  color: $color-light;
}

::selection {
  background: $color-primary;
  color: $color-light;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

::selection:window-inactive {
  background: lighten($color-dark, 50%);
}

/**
 * Media
 */
img,
embed,
object {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
}
