// ========================================
// Wrap - Config
// ========================================

$Wrap-width: 1200px;
$Wrap-edgeSpace: $baseEdgeSpace;
$Wrap-edgeSpace-l: $baseSpace * 2;
$Wrap-maxWidth: $Wrap-width + ($Wrap-edgeSpace-l * 2);
